@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nanum+Gothic:wght@400;700;800&family=Signika+Negative&display=block');
@font-face {font-family:'Katuri'; src:url('../font/Katuri.woff') format('woff'), url('../font/Katuri.eot') format('eot'), url("../font/Katuri.ttf") format('ttf'); font-display:block;}

.inner-wrap {width:1200px; margin:0 auto;}
.off {display:none !important;}
.on {display:block !important;}
a {text-decoration:none; color:inherit;}
a:hover {text-decoration:underline;}
img {display:block;}
button {padding:0; border:0; cursor:pointer; color:inherit; background-color:transparent;}

body {overflow:hidden; width:100%; color:#fff; font-family:'Nanum Gothic', sans-serif; line-height:1.5; background:-webkit-linear-gradient(90deg, rgb(14, 21, 29), rgb(20, 55, 90)); background:linear-gradient(90deg, rgb(14, 21, 29), rgb(20, 55, 90));}
body::-webkit-scrollbar {background-color:rgb(20, 55, 90);}
body::-webkit-scrollbar-thumb {background-color:#fff;}
@keyframes snow {
  0% {opacity:0; transform:translateY(0); transform:rotate(-90deg);}
  20% {opacity:1; transform:translate(-10px,20vh);}
  40% {opacity:0; transform:translate(10px,40vh);}
  60% {opacity:1; transform:translate(-10px,60vh);}
  80% {opacity:0; transform:translate(0,80vh);}
  100% {opacity:1; transform:translateY(100vh);}
}

/* title */
.title-2 {position:relative; margin:0; font-size:80px; font-weight:400;}
.title-2::after {content:''; display:block; position:absolute; left:620px; top:-15px; transform:rotate(10deg); width:110px; height:110px; background:url("../images/heart.gif") no-repeat; background-size:110px;}
.title-2 svg > text {stroke:rgba(255, 255, 255, 0.886); fill:transparent; font-family:'Katuri'; font-size:60px;}

/* header */
#header h1 {font-weight:400;}
#header h1 > svg {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
#header h1 > svg > text {fill:#fff; stroke-dasharray:200px; letter-spacing:3px; font-family:'Great Vibes', cursive; font-size:200px; animation:stroke 4s linear forwards;}

@keyframes stroke {
  0% {stroke:#caad4f; stroke-dashoffset:326px;}
  50% {fill:transparent;}
  70% {stroke-dashoffset:100px;}
  80% {fill:#caad4f; stroke:#caad4f; stroke-width:2px;}
  90% {stroke:#caad4f; stroke-dasharray:200px; stroke-dashoffset:0;}
  92% {opacity:0.9;}
  100% {opacity:0;}
}

#contents {opacity:0; transition:opacity 1s;}

/* music */
.santa {display:flex; margin-top:100px;}
.santa .bg-santa > img {width:100px; animation:santa 1.5s linear infinite;}
@keyframes santa {to {transform:translateX(-100%);}}

.music .inner-wrap {position:relative;}
.music .box-music {overflow:hidden; position:absolute; left:0; top:-50px; width:400px; height:160px; border-radius:20px; border:1px solid #fff; background:linear-gradient(90deg,#0f1b27,#102030bc);}
.music .box-music ul {list-style-type:none; margin:0; padding:0;}
.music .box-music li {display:none; position:absolute; left:40px; top:20px;}
.music .box-music li .img img {width:60px;}
.music .box-music li .wrap {display:flex; align-items:center; gap:20px;}
.music .box-music li .tit {overflow:hidden; line-height:1.3;}
.music .box-music li .tit p {margin:0; font-family:'Signika Negative', sans-serif; font-size:18px; font-weight:700; word-break:keep-all;}

.music .box-music .control {display:flex; justify-content:center; gap:40px; margin-top:95px;}
.music .box-music .control button {overflow:hidden; width:50px; height:50px; text-indent:-9999px;}
.music .box-music .control .prev-btn {transform:scaleX(-1); background:url('../images/music/arrow-btn.png') no-repeat; background-size:50px;}
.music .box-music .control .pause-btn {display:none; background:url('../images/music/pause-btn.png') no-repeat; background-size:50px;}
.music .box-music .control .play-btn {background:url('../images/music/play-btn.png') no-repeat; background-size:50px;}
.music .box-music .control .next-btn {background:url('../images/music/arrow-btn.png') no-repeat; background-size:50px;}

/* movie */
.movie {margin-top:200px;}
.overflow-hidden {overflow:hidden; position:relative; width:1290px; height:800px; margin:0 auto;}
.movie .list-movie ul {list-style-type:none; margin:0; padding:25px 0 0;}
.movie .list-movie > ul {display:flex; width:6200px; animation:slide 25s linear infinite;}
@keyframes slide {to {transform:translateX(-50%);}}
.movie .list-movie > ul > li {position:relative; width:320px; margin-left:100px;}
.movie-list .list-movie > ul > li:first-child {margin-left:0;}
.movie .list-movie > ul > li::before {display:block; content:""; position:absolute; left:50%; top:0; transform:translateX(-50%); width:100%;height:calc(100% - 60px); border-radius:20px; opacity:0; cursor:pointer; background-color:rgba(0, 0, 0, 0.514);}
.movie-list > ul>li:hover::before {opacity:1;}
.movie .list-movie > ul > li:hover::before {opacity:1;}
.movie .list-movie > ul > li > .img img {width:100%; height:calc(100% - 60px); border-radius:20px;}
.movie .list-movie > ul > li:hover {transform:scale(1.1); transition:1s;}

.movie .list-movie ul li .preview-btn {display:none; position:absolute; left:50%; top:calc(50% - 80px); transform:translateX(-50%); width:100px; height:50px; line-height:50px; text-align:center; border:1px solid #fff; font-size:21px; letter-spacing:1px;}
.movie .list-movie ul li .preview-btn:hover {box-shadow:2px 5px 2px rgba(255, 255, 255, 0.637); margin-top:-5px; transition:0.5s;}

.movie .list-movie ul li .site {display:none; position:absolute; left:50%; bottom:70px; transform:translateX(-50%); width:100%; text-align:center;}
.movie .list-movie ul li .site::before {content:''; display:block; position:absolute; left:0; bottom:-10px; z-index:-1; width:100%; height:85px; border-radius:0 0 20px 20px; background-color:#fff;}
.movie .list-movie ul li .site li {display:inline-block; width:47px; height:47px; cursor:pointer;}
.movie .list-movie ul li .site li ~ li {margin-left:30px;}
.movie .list-movie ul li .site li a {display:block; width:47px; height:47px;}
.movie .list-movie ul li .site li a img {width:100%;}
.movie .list-movie ul li .site li a:hover {transform:scale(1.1);}
.movie .list-movie ul li .site li .wavve {border-radius:10px; border:1px solid #eee;}

.movie .list-movie ul li p {margin:20px 0 0; font-size:24px; font-weight:700; text-align:center;}
.movie .list-movie ul li p span {display:inline-block; width:40px; height:40px; margin-left:5px; padding-right:2px; line-height:40px; border-radius:40px; font-size:22px;}
.movie .list-movie ul li p .fifteen {background-color:#008000;}
.movie .list-movie ul li p .twelve {background-color:#E67200;}
.movie .list-movie ul li p .all {font-size:19px; background-color:#222c8a;}
.movie .list-movie ul li p .eighteen {background-color:#990F02;}

.movie .video-area {position:absolute; left:0; top:0; z-index:1; width:100%;}
.movie .video-area .video video {display:none; width:100%; cursor:pointer;}
.movie .video-area .close-btn {display:none; overflow:hidden; position:absolute; top:20px; right:10px; width:50px; height:50px; text-indent:-9999px; cursor:pointer; background:url("../images/movie/close.png") no-repeat center; background-size:50px;}
.movie .video-area .close-btn:hover {transform:rotate(180deg); transition:.5s;}

/* place */
.place {overflow:hidden; margin-top:-170px;}
.place .inner-wrap {position:relative;}
.place .wrap {position:absolute; top:400px; right:470px; width:100%;}
.place .map {position:relative; transform:rotate(-90deg);}
.place .map .gyeonggi {position:absolute; left:413px; top:180px;}
.place .map .gangwon {position:absolute; left:580px; top:80px;}
.place .map .chungnam {position:absolute; left:326px; top:352px;}
.place .map .chungbuk {position:absolute; left:476px; top:312px;}
.place .map .daejeon {position:absolute; left:430px; top:398px;}
.place .map .seoul {position:absolute; left:357px; top:132px;}
.place .map .inchon {position:absolute; left:255px; top:117px;}
.place .map .gyeongbuk {position:absolute; left:665px; top:370px;}
.place .map .jeonbuk {position:absolute; left:384px; top:529px;}
.place .map .gyeongnam {position:absolute; left:595px; top:623px;}
.place .map .daegu {position:absolute; left:660px; top:510px;}
.place .map .ulsan {position:absolute; left:778px; top:569px;}
.place .map .jeonnam {position:absolute; left:322px; top:723px;}
.place .map .gwangju {position:absolute; left:310px; top:657px;}
.place .map .busan {position:absolute; left:716px; top:650px;}
.place .map .jeju {position:absolute; left:300px; top:950px;}
.place .map .sejong {position:absolute; left:398px; top:355px; transform:rotate(-15deg);}

.place .map .map-btn {position:relative; transform:rotate(90deg); font-size:32px; font-weight:bold;}
.place .map .map-btn.font-small {font-size:25px;}
.place .map .map-btn::before {content:''; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%) rotate(-90deg); filter:drop-shadow(3px 3px 3px #fff);}
.place .map .gyeonggi .map-btn::before {transform:translate(-70%,-30%) rotate(-90deg); width:300px; height:300px; background:url('../images/place/gyeonggi.png') no-repeat;}
.place .map .gangwon .map-btn::before {width:398px; height:313px; background:url('../images/place/gangwon.png') no-repeat;}
.place .map .chungnam .map-btn::before {width:290px; height:250px; background:url('../images/place/chungnam.png') no-repeat;}
.place .map .chungbuk .map-btn::before {transform:translate(-40%,-65%) rotate(-90deg); width:227px; height:276px; background:url('../images/place/chungbuk.png') no-repeat;}
.place .map .daejeon .map-btn::before {width:65px; height:75px; background:url('../images/place/daejeon.png') no-repeat;}
.place .map .seoul .map-btn::before {width:90px; height:60px; background:url('../images/place/seoul.png') no-repeat;}
.place .map .inchon .map-btn::before {transform:translate(-50%,-60%) rotate(-90deg); width:120px; height:110px; background:url('../images/place/inchon.png') no-repeat;}
.place .map .gyeongbuk .map-btn::before {width:330px; height:380px; background:url('../images/place/gyeongbuk.png') no-repeat;}
.place .map .jeonbuk .map-btn::before {width:293px; height:200px; background:url('../images/place/jeonbuk.png') no-repeat;}
.place .map .gyeongnam .map-btn::before {transform:translate(-50%,-65%) rotate(-90deg); width:356px; height:264px; background:url('../images/place/gyeongnam.png') no-repeat;}
.place .map .daegu .map-btn::before {transform:translate(-50%,-57%) rotate(-90deg); width:74px; height:87px; background:url('../images/place/daegu.png') no-repeat;}
.place .map .ulsan .map-btn::before {transform:translate(-37%,-45%) rotate(-90deg); width:90px; height:106px; background:url('../images/place/ulsan.png') no-repeat;}
.place .map .jeonnam .map-btn::before {width:384px; height:297px; background:url('../images/place/jeonnam.png') no-repeat;}
.place .map .gwangju .map-btn::before {transform:translate(-48%,-55%) rotate(-90deg); width:85px; height:60px; background:url('../images/place/gwangju.png') no-repeat;}
.place .map .busan .map-btn::before {transform:translate(-52%,-40%) rotate(-90deg); width:150px; height:90px; background:url('../images/place/busan.png') no-repeat;}
.place .map .jeju .map-btn::before {width:179px; height:101px; background:url('../images/place/jeju.png') no-repeat;}
.place .map .sejong .map-btn::before {width:49px; height:81px; background:url('../images/place/sejong.png') no-repeat;}
.place .map div:hover {transform:translateY(-50px) scale(1.2); transition:1s;}

.place .cont {overflow:hidden; margin-top:800px;}
.place .cont .img li {position:relative;}
.place .cont .img .button-group {position:absolute; left:0; top:calc(50% - 35px); right:0;}
.place .cont .img .button-group button {overflow:hidden; width:55px; height:55px; text-indent:-9999px;}
.place .cont .img .button-group .prev-btn {position:absolute; left:-80px; transform:scaleX(-1); background:url('../images/place/arrow.png') no-repeat; background-size:55px;}
.place .cont .img .button-group .next-btn {position:absolute; right:-80px; background:url('../images/place/arrow.png') no-repeat; background-size:55px;}

.place .cont .img {width:0; height:0;}
.place .cont .img > div {visibility:hidden;}
.place .cont .img ul {list-style-type:none; margin:0; padding:0;}
.slide-container {width:520px; margin-left:80px;}
.slick-slide img {width:520px; height:100%; border-radius:30px;}
.slick-arrow {overflow:hidden; width:75px; height:75px; text-indent:-9999px;}
.slick-next {position:absolute; right:-90px; top:50%; transform:translateY(-50%); background:url('../images/place/arrow.png') no-repeat; background-size:75px;}
.slick-prev {position:absolute; left:-90px; top:50%; transform:translateY(-50%) scaleX(-1); background:url('../images/place/arrow.png') no-repeat; background-size:75px;}

.place .cont .box-txt {float:right;}
.place .cont .box-txt ul {list-style-type:none; margin:0; padding:0;}
.place .cont .box-txt > ul > li {display:none; width:500px;}
.place .cont .box-txt li .tit {position:relative; margin:0; padding:8px 60px 8px 30px; border-radius:20px; border:1px solid #fff; font-size:24px; text-align:left; color:#fff; word-break:keep-all;}
.place .cont .box-txt li .tit.btn {width:100%;}
.place .cont .box-txt li button.tit.btn {height:53px;}
.place .cont .box-txt li .tit::after {content:''; display:block; position:absolute; top:0; right:30px; width:50px; height:50px; background:url("../images/place/ball.png") no-repeat; background-size:50px;}
.place .cont .box-txt li .txt {width:380px; margin:0 auto; padding:40px; border-radius:0 0 20px 20px; border:1px solid #fff; border-top:0; font-size:17px;}
.place .cont .box-txt li .txt li + li {margin-top:10px;}
.place .cont .box-txt li .txt li a {word-break:break-all;}
.place .cont .box-txt li .txt li p {margin:30px 0 100px 0; text-align:justify;}

.place .cont .box-txt li .txt .direction {position:relative; animation:scale 1s linear infinite alternate;}
@keyframes scale {to {transform:scale(1.02);}}
.place .cont .box-txt li .txt .direction::before {content:''; display:block; position:absolute; bottom:0; right:30px; width:65px; height:65px;  background:url("../images/place/map.png") no-repeat center; background-size:65px;}
.place .cont .box-txt li .txt .direction::after {content:''; display:block; position:absolute; top:-80px; right:45px; z-index:-1; width:80px; height:80px; transform:rotate(-80deg); background:url("../images/place/line.png") no-repeat center; background-size:80px;}
.place .cont .box-txt li .txt .direction a {position:absolute; right:0; bottom:65px; font-size:16px; font-weight:400; color:#fff;}

/* card-game */
.flip {transform:rotateY(180deg);}

.card-game .inner-wrap {position:relative;}
.card-game .title-2::after {left:500px;}
.card-game .txt {width:800px; margin:20px 0 0 50px; font-size:24px;}

.card-game .play {position:absolute; top:80px; right:50px;}
.card-game .play .tit {display:block; font-family:'Signika Negative', sans-serif; font-size:29px; font-weight:400; text-align:center;}
.card-game .play .button-group {position:relative; width:110px; height:40px; margin:0 auto; border:2px solid #fff; border-radius:40px;}
.card-game .play .button-group button {overflow:hidden; width:30px; height:30px; margin:5px 0 0 10px; text-indent:-9999px; border-radius:100%; background-color:#fff;}
.card-game .play .button-group .over-btn {display:none; position:absolute; right:10px; margin:5px 0 0 0;}
@keyframes start {to {transform:translateX(60px);}}
@keyframes over {to {transform:translateX(-60px);}}
.card-game .play .timer {margin-left:5px;}
.card-game .play .timer strong, .card-game .play .timer span {font-size:64px;}
.card-game .play .timer strong {display:inline-block; letter-spacing:3px;}

.card-game .list-card {display:flex; flex-wrap:wrap; justify-content:space-between; margin:100px 0;}
.card-game .list-card .card {position:relative; width:170px; height:230px; border-radius:20px; border:3px solid #fff; transform-style:preserve-3d; transition:.4s; cursor:pointer;}
.card-game .list-card .card:nth-child(6n) ~ .card {margin-top:25px;}
.card-game .list-card .card div {backface-visibility:hidden;}
.card-game .list-card .card div::before {content:''; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); width:110px; height:110px; border-radius:110px; box-shadow:3px 3px 3px #fff;}
.card-game .list-card .card .front {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:75px; height:75px; background:url("../images/card_game/heart.png") no-repeat center; background-size:75px;}
.card-game .list-card .card .back {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%) rotateY(180deg); width:75px; height:75px; background-size:75px;}

.card-game .result p {display:none; position:absolute; left:50%; top:55%; transform:translateX(-50%); margin:0; font-size:48px; text-align:center;}
.card-game .result p::before {content:''; display:block; position:absolute; left:50%; top:-60px; transform:translateX(-50%); z-index:-1; width:750px; height:750px; background:url("../images/card_game/banner.png") no-repeat; background-size:750px;}
.card-game .result p::after {content:''; display:block; position:absolute; left:calc(50% - 350px); top:-250px; width:700px; height:700px; z-index:-2; background:url("../images/card_game/banner-bg.png") no-repeat center; background-size:700px; animation:bg 1s linear infinite alternate;}
@keyframes bg {to {transform:translateY(20px) rotateY(15deg);}}










