@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nanum+Gothic:wght@400;700;800&family=Signika+Negative&display=block');
@font-face {font-family:'Katuri'; src:url('../font/Katuri.woff') format('woff'), url('../font/Katuri.eot') format('eot'), url("../font/Katuri.ttf") format('ttf'); font-display:block;}

.off {display:none !important;}
.on {display:block !important;}
a {text-decoration:none; color:inherit;}
a:hover {text-decoration:underline;}
img {display:block;}
button {padding:0; border:0; cursor:pointer; color:inherit; background-color:transparent;}
#contents {max-width:768px; margin:0 auto; padding:0 20px; opacity:0; transition:opacity 1s;}

body {overflow:hidden; color:#fff; font-family:'Nanum Gothic', sans-serif; line-height:1.5; background:-webkit-linear-gradient(90deg, rgb(14, 21, 29), rgb(20, 55, 90)); background:linear-gradient(90deg, rgb(14, 21, 29), rgb(20, 55, 90));}
body::-webkit-scrollbar {width:10px; background-color:rgb(20, 55, 90);}
body::-webkit-scrollbar-thumb {background-color:#fff;}
@keyframes snow {
  0% {opacity:0; transform:translateY(0); transform:rotate(-90deg);}
  20% {opacity:1; transform:translate(-10px,20vh);}
  40% {opacity:0; transform:translate(10px,40vh);}
  60% {opacity:1; transform:translate(-10px,60vh);}
  80% {opacity:0; transform:translate(0,80vh);}
  100% {opacity:1; transform:translateY(100vh);}
}
@media screen and (max-width:320px) {
	body {background:linear-gradient(180deg,rgb(29, 44, 61), rgb(20, 55, 90));}
}

/* title */
.title-2 {position:relative; margin:0; font-size:80px; font-weight:400;}
.title-2::after {content:''; display:block; position:absolute; left:240px; top:50%; transform:translateY(-50%) rotate(10deg); width:50px; height:50px; background:url("../images/heart.gif") no-repeat center; background-size:50px;}
.title-2 svg > text {stroke:rgba(255, 255, 255, 0.886); fill:transparent; font-family:'Katuri'; font-size:23px;}

/* header */
#header h1 {font-weight:400;}
#header h1 > svg {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
#header h1 > svg > text {fill:#fff; stroke-dasharray:200px; letter-spacing:3px; font-family:'Great Vibes', cursive; font-size:350px; animation:stroke 4s linear forwards;}

@keyframes stroke {
  0% {stroke:#caad4f; stroke-dashoffset:326px;}
  50% {fill:transparent;}
  70% {stroke-dashoffset:100px;}
  80% {fill:#caad4f; stroke:#caad4f; stroke-width:2px;}
  90% {stroke:#caad4f; stroke-dasharray:200px; stroke-dashoffset:0;}
  92% {opacity:0.9;}
  100% {opacity:0;}
}

.section {margin-top:50px;}

/* music */
.santa {display:flex; margin-top:100px;}
.santa .bg-santa > img {width:80px; animation:santa 1.5s linear infinite;}
@keyframes santa {to {transform:translateX(-100%);}}

.music {position:relative;}
.music .box-music {height:160px; max-width:768px; width:100%; margin:50px auto 0; border-radius:20px; border:1px solid #fff;}
.music .box-music ul {list-style-type:none; margin:0; padding:0;}
.music .box-music li {display:none; position:absolute; left:50%; top:20px; transform:translateX(-50%);}
.music .box-music li .wrap {display:flex; align-items:center; gap:15px;}
.music .box-music li .img img {width:55px;}
.music .box-music li .tit {overflow:hidden; line-height:1.3; white-space:nowrap; display:flex;}
.music .box-music li .tit p {margin:0; font-family:'Signika Negative', sans-serif; font-weight:700; word-break:keep-all;}
@media screen and (max-width:380px) {
	.music .box-music li .tit {width:180px;}
}

.music .box-music .control {display:flex; justify-content:center; gap:40px; margin-top:95px;}
.music .box-music .control button {overflow:hidden; width:45px; height:45px; text-indent:100%; white-space:nowrap;}
.music .box-music .control .prev-btn {transform:scaleX(-1); background:url('../images/music/arrow-btn.png') no-repeat; background-size:45px;}
.music .box-music .control .pause-btn {display:none; background:url('../images/music/pause-btn.png') no-repeat; background-size:45px;}
.music .box-music .control .play-btn {background:url('../images/music/play-btn.png') no-repeat; background-size:45px;}
.music .box-music .control .next-btn {background:url('../images/music/arrow-btn.png') no-repeat; background-size:45px;}

@media screen and (max-width:350px) {
	.title-2::after {display:none;}
	.music .box-music li .tit {width:150px; white-space:wrap;}
}

/* movie */
.movie {position:relative;}
.movie .list-movie {overflow:hidden; position:relative; width:180px; margin:0 auto; display:flex;}
.movie .list-movie ul {list-style-type:none; margin:0; padding:0;}
.movie .list-movie > ul {display:flex; gap:20px;}
.movie .list-movie > ul > li {position:relative; width:100%; height:350px;}
.movie .list-movie > ul > li::before {content:''; display:block; width:100%; height:258px; position:absolute; left:0; top:0; border-radius:20px; opacity:0;cursor:pointer; background-color:rgba(0, 0, 0, 0.514);}
.movie .list-movie > ul > li:hover::before {opacity:1;}
.movie .list-movie > ul > li > .img img {display:block; width:180px; border-radius:20px;}

.movie .list-movie ul li .preview-btn {display:none; position:absolute; left:50%; top:calc(50% - 80px); transform:translateX(-50%); width:80px; height:40px; line-height:40px; text-align:center; border:1px solid #fff; letter-spacing:1px;}
.movie .list-movie ul li .preview-btn:hover {box-shadow:2px 5px 2px rgba(255, 255, 255, 0.637); margin-top:-5px; transition:0.5s;}

.movie .list-movie ul li .site {display:none; position:absolute; left:50%; bottom:98px; transform:translateX(-50%); width:100%; text-align:center;}
.movie .list-movie ul li .site::before {content:''; display:block; position:absolute; left:0; bottom:-5px; z-index:-1; width:100%; height:65px; border-radius:0 0 20px 20px; background-color:#fff;}
.movie .list-movie ul li .site li {display:inline-block; width:37px; height:37px; cursor:pointer;}
.movie .list-movie ul li .site li ~ li {margin-left:10px;}
.movie .list-movie ul li .site li a {display:block; width:37px; height:37px;}
.movie .list-movie ul li .site li a img {width:100%;}
.movie .list-movie ul li .site li a:hover {transform:scale(1.1);}
.movie .list-movie ul li .site li .wavve {border-radius:10px; border:1px solid #eee;}

.movie .list-movie ul li p {margin:10px 0 0; font-size:19px; font-weight:700; text-align:center;}
.movie .list-movie ul li p span {display:inline-block; width:30px; height:30px; margin-left:5px; padding-right:2px; line-height:30px; border-radius:30px; font-size:17px;}
.movie .list-movie ul li p .fifteen {background-color:#008000;}
.movie .list-movie ul li p .twelve {background-color:#E67200;}
.movie .list-movie ul li p .all {font-size:15px; background-color:#222c8a;}
.movie .list-movie ul li p .eighteen {background-color:#990F02;}

.movie .btn-group button {overflow:hidden; width:50px; height:50px; text-indent:100%; white-space:nowrap;}
.movie .btn-group .next-btn {position:absolute; right:0; top:calc(50% - 15px); background:url('../images/movie/arrow.png') no-repeat; background-size:50px;}
.movie .btn-group .prev-btn {position:absolute; left:0; top:calc(50% - 15px); transform:scaleX(-1); background:url('../images/movie/arrow.png') no-repeat; background-size:50px;}
@media screen and (max-width:370px) {
	.movie .btn-group .next-btn {right:-10px;}
	.movie .btn-group .prev-btn {left:-10px;}
}

.movie .video-area {position:absolute; left:0; top:50%; transform:translateY(-50%); z-index:1; width:100%;}
.movie .video-area .video video {display:none; width:100%; cursor:pointer;}
.dimed {position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.7); cursor:pointer;}

/* place */
.place .img {position:relative;}
.slick-track {padding:90px 0;}
.slick-slide {position:relative; width:200px; text-align:center;}
.slick-slide p {margin:0;}
.slick-slide p::before {content:''; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); filter:drop-shadow(3px 3px 3px #fff);}
.gyeonggi.slick-slide p::before {width:150px; height:150px; background:url('../images/place/gyeonggi.png') no-repeat; background-size:150px;}
.gangwon.slick-slide p::before {width:199px; height:156px; background:url('../images/place/gangwon.png') no-repeat; background-size:199px auto;}
.chungnam.slick-slide p::before {width:145px; height:125px; background:url('../images/place/chungnam.png') no-repeat; background-size:145px auto;}
.chungbuk.slick-slide p::before {transform:translate(-30%,-40%); width:113px; height:138px; background:url('../images/place/chungbuk.png') no-repeat; background-size:113px auto;}
.daejeon.slick-slide p::before {width:65px; height:75px; background:url('../images/place/daejeon.png') no-repeat;}
.seoul.slick-slide p::before {width:90px; height:60px; background:url('../images/place/seoul.png') no-repeat;}
.inchon.slick-slide p::before {transform:translate(-35%,-50%); width:120px; height:110px; background:url('../images/place/inchon.png') no-repeat;}
.gyeongbuk.slick-slide p::before {width:165px; height:190px; background:url('../images/place/gyeongbuk.png') no-repeat; background-size:165px auto;}
.jeonbuk.slick-slide p::before {width:146px; height:100px; background:url('../images/place/jeonbuk.png') no-repeat; background-size:146px auto;}
.gyeongnam.slick-slide p::before {width:178px; height:132px; background:url('../images/place/gyeongnam.png') no-repeat; background-size:178px auto;}
.daegu.slick-slide p::before {width:74px; height:87px; background:url('../images/place/daegu.png') no-repeat;}
.ulsan.slick-slide p::before {transform:translate(-60%,-40%); width:90px; height:106px; background:url('../images/place/ulsan.png') no-repeat;}
.jeonnam.slick-slide p::before {width:192px; height:148px; background:url('../images/place/jeonnam.png') no-repeat; background-size:192px;}
.gwangju.slick-slide p::before {width:85px; height:60px; background:url('../images/place/gwangju.png') no-repeat;}
.busan.slick-slide p::before {transform:translate(-60%,-50%); width:150px; height:90px; background:url('../images/place/busan.png') no-repeat;}
.jeju.slick-slide p::before {width:179px; height:101px; background:url('../images/place/jeju.png') no-repeat;}
.sejong.slick-slide p::before {width:49px; height:81px; background:url('../images/place/sejong.png') no-repeat;}

.slick-arrow {overflow:hidden; width:40px; height:40px; text-indent:-9999px; z-index:1;}
.slick-next {position:absolute; top:calc(50% - 30px); right:0; background:url('../images/movie/arrow.png') no-repeat; background-size:40px;}
.slick-prev {position:absolute; left:0; top:calc(50% - 30px); transform:scaleX(-1); background:url('../images/movie/arrow.png') no-repeat; background-size:40px;}

.place .cont {position:relative; height:650px;}
.place .cont ul {list-style-type:none; margin:0; padding:0;}
.place .cont > ul > li {visibility:hidden; position:absolute; left:0; top:0;}
.place .cont > ul > li.on {visibility:visible;}
.place .cont li .tit {position:relative; margin:0; padding:8px 60px 8px 20px; border-radius:20px; border:1px solid #fff; text-align:left; color:#fff;}
.place .cont li .tit.btn {width:100%;}
.place .cont li button.tit.btn {height:43px;}
.place .cont li .tit::after {content:''; display:block; position:absolute; top:0; right:20px; width:40px; height:40px; background:url("../images/place/ball.png") no-repeat; background-size:40px;}
.place .cont li .txt {margin-top:30px; font-size:15px;}
.place .cont li .txt li + li {margin-top:10px;}
.place .cont li .txt li a {word-break:break-all;}
.place .cont li .txt li p {margin:30px 0 100px 0;}

.place .cont li .wrap {width:calc(100% - 80px); margin:0 auto; padding:20px; border:1px solid #fff; border-top:0; border-radius:0 0 30px 30px;}
.place .cont li .wrap .slide-container {width:160px; margin:0 auto;}
.img-slide .slick-track {padding:20px 0;}
.img-slide .slick-list {height:150px;}
.img-slide .slick-slide {width:160px;}
.img-slide .slick-slide img {width:160px; border-radius:30px;}
.slick-dots {display:flex; justify-content:center; gap:10px;}
.slick-dots li {overflow:hidden; width:3px; height:3px; text-indent:-9999px; border-radius:3px; border:1px solid #fff;}
.slick-dots li.slick-active {background-color:#fff;}

.place .cont li .txt .direction {position:relative; animation:scale 1s linear infinite alternate;}
@keyframes scale {to {transform:scale(1.02);}}
.place .cont li .txt .direction::before {content:''; display:block; position:absolute; bottom:0; right:30px; width:55px; height:55px;  background:url("../images/place/map.png") no-repeat center; background-size:55px;}
.place .cont li .txt .direction::after {content:''; display:block; position:absolute; top:-70px; right:45px; z-index:-1; width:70px; height:70px; transform:rotate(-80deg); background:url("../images/place/line.png") no-repeat center; background-size:70px;}
.place .cont li .txt .direction a {position:absolute; right:0; bottom:60px; font-size:15px; font-weight:400; color:#fff;}

/* card-game */
.flip {transform:rotateY(180deg);}

.card-game {position:relative;}
.card-game .title-2::after {left:190px;}
.card-game .txt {margin:0; text-align:center;}
.card-game .play {margin-top:30px;}
.card-game .play .tit {display:block; font-family:'Signika Negative', sans-serif; font-size:29px; font-weight:400; text-align:center;}
.card-game .play .button-group {position:relative; width:100px; height:35px; margin:0 auto; border:2px solid #fff; border-radius:40px;}
.card-game .play .button-group button {width:25px; height:25px; margin:5px 0 0 7px; text-indent:-9999px; border-radius:100%; background-color:#fff;}
.card-game .play .button-group .over-btn {display:none; position:absolute; right:10px; margin:5px 0 0 0;}
@keyframes start {to {transform:translateX(60px);}}
@keyframes over {to {transform:translateX(-60px);}}
.card-game .play .timer {text-align:center;}
.card-game .play .timer strong,
.card-game .play .timer span {font-size:44px;}
.card-game .play .timer strong {letter-spacing:3px;}

.card-game .list-card {display:flex; flex-wrap:wrap; justify-content:center; gap:10px; margin:50px 0;}
.card-game .list-card .card {position:relative; width:80px; height:110px; border-radius:20px; border:3px solid #fff; transform-style:preserve-3d; transition:.4s; cursor:pointer;}
.card-game .list-card .card:last-child {margin-bottom:0;}
.card-game .list-card .card div {backface-visibility:hidden;}
.card-game .list-card .card div::before {content:''; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); width:60px; height:60px; border-radius:60px; box-shadow:3px 3px 3px #fff;}
.card-game .list-card .card .front {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:40px; height:40px; background:url("../images/card_game/heart.png") no-repeat center; background-size:40px;}
.card-game .list-card .card .back {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%) rotateY(180deg); width:40px; height:40px; background-size:40px;}

.card-game .result {position:absolute; left:50%; top:60%; transform:translateX(-50%); width:0; height:0;}
.card-game .result p {display:none; margin:0; font-size:30px; text-align:center;}
.card-game .result p::before {content:''; display:block; position:absolute; left:50%; bottom:85px; transform:translateX(-50%); z-index:-1; width:450px; height:100%; background:url("../images/card_game/banner.png") no-repeat center; background-size:100% auto;}
.card-game .result p::after {content:''; display:block; position:absolute; left:calc(50% - 200px); bottom:85px; width:450px; height:100%; z-index:-2; background:url("../images/card_game/banner-bg.png") no-repeat center; background-size:100% auto; animation:bg 1s linear infinite alternate;}
@keyframes bg {to {transform:translateY(20px) rotateY(15deg);}}

@media screen and (max-width:500px) {
	.card-game .result p::before {bottom:95px; width:350px;}
	.card-game .result p::after {left:calc(50% - 170px); width:350px;}
}

@media screen and (max-width:410px) {
	.card-game .result p {font-size:25px;}
	.card-game .result p::before {width:280px; bottom:105px;}
	.card-game .result p::after {left:calc(50% - 130px); bottom:105px; width:280px;}
}









