@charset "utf-8";
/* ==========================================================================
	
	common style
	
========================================================================== */
* {box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

html, body {width:100%; height:100%; margin:0; padding:0;}
body {overflow:visible; color:#000; font-size:18px; letter-spacing:-0.005em; line-height:1.5; font-weight:400; font-family:'Noto Sans KR', 'Roboto', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif; background-color:#fff;}

body.overflow {overflow:hidden}

/* 스크린 리더같은 보조기기는 인식하고 화면에서만 안보이게 처리 */
.hidden {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0; clip:rect(0 0 0 0); clip-path:inset(50%); white-space:nowrap; text-indent:-9999px;}

/* 앵커 */
a:link,
a:active {color:#000; text-decoration:none;}
a:visited,
a:hover,
a:focus {color:#000; text-decoration:none;}
a:hover {text-decoration:underline;}

/* heading */
h1, h2, h3, h4, h5, h6 {margin:0; padding:0;}

/* etc */
iframe {display:inline-block; border:0;}
figure, figcaption {margin:0; padding:0;}
address {margin:0; padding:0; font-style:normal;}

b, strong {font-weight:700;}
em {font-style:normal;}

/* font */
/* font-family @@ default : Noto Sans KR @@ */
.roboto {font-family:'Roboto', sans-serif !important;}

/* font-weight @@ default : 400 @@ */

.fw400 {font-weight:400 !important;}
.fw500 {font-weight:500 !important;}
.fw600 {font-weight:600 !important;}
.fw700 {font-weight:700 !important;}
.fw800 {font-weight:800 !important;}

/* font-size */
.font14 {font-size:14px !important;}
.font26 {font-size:26px !important;}

/* ellipsis : 말줄임 */
.ellipsis {overflow:hidden; display:inline-block; max-width:100%; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;}

/* color */
.color-blue {color:#3870ff !important;}
.color-red {color:#ff4c37 !important;}
.color-red-v2 {color:#e04046 !important;}

/* width */
.w20px {width:20px !important;}
.w30px {width:30px !important;}
.w40px {width:40px !important;}
.w50px {width:50px !important;}
.w60px {width:60px !important;}
.w70px {width:70px !important;}
.w80px {width:80px !important;}
.w90px {width:90px !important;}
.w100px {width:100px !important;}
.w140px {width:140px !important;}
.w150px {width:150px !important;} 
.w200px {width:200px !important;}

/* margin */
.mg00 {margin:0 !important;}

.mgt00 {margin-top:0 !important;}
.mgt10 {margin-top:10px !important;}
.mgt20 {margin-top:20px !important;}
.mgt24 {margin-top:24px !important;}
.mgt30 {margin-top:30px !important;}
.mgt40 {margin-top:40px !important;}
.mgt50 {margin-top:50px !important;}
.mgt60 {margin-top:60px !important;}
.mgt70 {margin-top:70px !important;}
.mgt80 {margin-top:80px !important;}
.mgt90 {margin-top:90px !important;}
.mgt100 {margin-top:100px !important;}
.mgt150 {margin-top:150px !important;}
.mgt160 {margin-top:160px !important;}

.mgr00 {margin-right:0 !important;}
.mgr10 {margin-right:10px !important;}
.mgr20 {margin-right:20px !important;}
.mgr30 {margin-right:30px !important;}
.mgr40 {margin-right:40px !important;}
.mgr50 {margin-right:50px !important;}
.mgr60 {margin-right:60px !important;}
.mgr70 {margin-right:70px !important;}
.mgr80 {margin-right:80px !important;}
.mgr90 {margin-right:90px !important;}
.mgr100 {margin-right:100px !important;}

.mgb00 {margin-bottom:0 !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb30 {margin-bottom:30px !important;}
.mgb40 {margin-bottom:40px !important;}
.mgb50 {margin-bottom:50px !important;}
.mgb60 {margin-bottom:60px !important;}
.mgb70 {margin-bottom:70px !important;}
.mgb80 {margin-bottom:80px !important;}
.mgb90 {margin-bottom:90px !important;}
.mgb100 {margin-bottom:100px !important;}

.mgl00 {margin-left:0 !important;}
.mgl10 {margin-left:10px !important;}
.mgl20 {margin-left:20px !important;}
.mgl30 {margin-left:30px !important;}
.mgl40 {margin-left:40px !important;}
.mgl50 {margin-left:50px !important;}
.mgl60 {margin-left:60px !important;}
.mgl70 {margin-left:70px !important;}
.mgl80 {margin-left:80px !important;}
.mgl90 {margin-left:90px !important;}
.mgl100 {margin-left:100px !important;}

/* padding */
.pd00 {padding:0 !important;}

.pdt00 {padding-top:0 !important;}
.pdt10 {padding-top:10px !important;}
.pdt20 {padding-top:20px !important;}
.pdt30 {padding-top:30px !important;}
.pdt40 {padding-top:40px !important;}
.pdt50 {padding-top:50px !important;}
.pdt60 {padding-top:60px !important;}
.pdt70 {padding-top:70px !important;}
.pdt80 {padding-top:80px !important;}
.pdt90 {padding-top:90px !important;}
.pdt100 {padding-top:100px !important;}

.pdr00 {padding-right:0 !important;}
.pdr10 {padding-right:10px !important;}
.pdr20 {padding-right:20px !important;}
.pdr30 {padding-right:30px !important;}
.pdr40 {padding-right:40px !important;}
.pdr50 {padding-right:50px !important;}
.pdr60 {padding-right:60px !important;}
.pdr70 {padding-right:70px !important;}
.pdr80 {padding-right:80px !important;}
.pdr90 {padding-right:90px !important;}
.pdr100 {padding-right:100px !important;}

.pdb00 {padding-bottom:0 !important;}
.pdb10 {padding-bottom:10px !important;}
.pdb20 {padding-bottom:20px !important;}
.pdb30 {padding-bottom:30px !important;}
.pdb40 {padding-bottom:40px !important;}
.pdb50 {padding-bottom:50px !important;}
.pdb60 {padding-bottom:60px !important;}
.pdb70 {padding-bottom:70px !important;}
.pdb80 {padding-bottom:80px !important;}
.pdb90 {padding-bottom:90px !important;}
.pdb100 {padding-bottom:100px !important;}

.pdl00 {padding-left:0 !important;}
.pdl10 {padding-left:10px !important;}
.pdl20 {padding-left:20px !important;}
.pdl30 {padding-left:30px !important;}
.pdl40 {padding-left:40px !important;}
.pdl50 {padding-left:50px !important;}
.pdl60 {padding-left:60px !important;}
.pdl70 {padding-left:70px !important;}
.pdl80 {padding-left:80px !important;}
.pdl90 {padding-left:90px !important;}
.pdl100 {padding-left:100px !important;}

/* float */
.float-l {float:left !important;}
.float-r {float:right !important;}
.float-n {float:none !important;}

/* float clear */
.clearfix:before,
.clearfix:after {content:''; display:block;}
.clearfix:after {clear:both;}

/* text-align */
.a-l {text-align:left !important;}
.a-r {text-align:right !important;}
.a-c {text-align:center !important;}
.a-j {text-align:justify !important;}

/* vertical-align */
.va-t {vertical-align:top !important;}
.va-m {vertical-align:middle !important;}
.va-b {vertical-align:bottom !important;}

/* block */
.block {display:block;}
.inline-block {display:inline-block;}


/* component
========================================================================== */

/* label */
label {display:inline-block; vertical-align:middle; cursor:pointer; font-size:16px;}

/* select */
select {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; margin:0; padding:16px 46px 16px 16px; width:100%; height:56px; color:#777; font-size:16px; vertical-align:middle; border:1px solid #ddd; border-radius:8px; background:#fff url('../images/common/bg/bg-select-arr.png') no-repeat right 18px center;
	-webkit-appearance:none;
	-moz-appearance:none;}
select:hover {background-color:#f5f8ff;}
select:focus {outline:none; border-color:#3870ff; background-color:#fff;}
select[disabled] {color:#999; background:#f1f1f1 url('../images/common/bg/bg-select-arr-disabled.png') no-repeat right 18px center; opacity:1;}
select::-ms-expand {display:none;}
select + select {margin-left:8px;}

/* input */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {-webkit-appearance :none; margin:0;}
input[type='number'] {-moz-appearance :textfield;}

/* wrap-input */
.wrap-input {display:block;}

/* placeholder */
::placeholder {color:#777; opacity:1;}
:-ms-input-placeholder {color:#777;}
::-ms-input-placeholder {color:#777;}

/* input :text, password, number, tel, email 등등 */
.input-text {display:inline-block; margin:0; padding:16px; width:100%; height:56px; color:#777; font-size:16px; vertical-align:middle; border-radius:8px; border:1px solid #ddd; background-color:#fff;}
.input-text:hover {background-color:#f5f8ff;}
.input-text:focus {outline:none; border-color:#3870ff; background-color:#fff;}
.input-text[disabled] {color:#999; border-color:#ddd; background-color:#f1f1f1;}
/* error 인 경우 */
[class^='wrap-']:not(.wrap-unit).err .input-text {border-color:#ff4c37;}
[class^='wrap-']:not(.wrap-unit).err .input-text:focus {border-color:#3870ff;}

/* input :: unit 단위 */
.wrap-unit {display:inline-flex; justify-content:space-between; align-items:center; padding:0 16px; width:100%; height:56px; border-radius:8px; border:1px solid #ddd; background-color:#fff;}
.wrap-unit:hover {background-color:#f5f8ff;}
.wrap-unit.focus {border-color:#3870ff; background-color:#fff;}
.wrap-unit > .input-text {padding:0; width:100%; height:100%; border:0; background-color:transparent;}
.wrap-unit > .input-text:hover {background-color:transparent;}
.wrap-unit > .unit {display:inline-block; margin-left:16px; text-align:right; font-size:16px; white-space:nowrap; color:#777;}
/* error 인 경우 */
.wrap-unit.err {border-color:#ff4c37;}
.wrap-unit.err.focus {border-color:#3870ff;}

/* input + num :: 사업자번호, 휴대폰번호 등 */
.wrap-tel,
.wrap-corp {display:flex; align-items:center; width:328px;}
.wrap-tel .num,
.wrap-corp .num {width:100%;}
.wrap-tel .num > .input-text,
.wrap-corp .num > .input-text {text-align:center;}
.wrap-tel .num + .num,
.wrap-corp .num + .num {position:relative; margin-left:20px;}
.wrap-tel .num + .num:before,
.wrap-corp .num + .num:before {content:''; position:absolute; top:calc(50% - 0.5px); left:-15px; width:8px; height:2px; border-radius:1px; background-color:#ccc;}

/* 주소 */
.input-address > .wrap {margin-bottom:8px;}
.input-address select {display:inline-block; width:160px;}

.input-post .post {margin-top:6px;}
.input-post .post .input-text {width:120px; margin:0; text-align:center;}
.input-post .post .button {width:120px; min-width:auto; height:56px; margin:0 0 0 2px; padding:0 10px; font-size:16px; line-height:56px; border-radius:8px;}
.input-post .input-text {margin:6px 0 0 0;}
.input-post .input-text:last-child {margin-bottom:20px;}

.board-form .input-post .post {margin-top:0;}
.board-form .input-post .post .input-text {margin-top:0;}
.board-form .input-post .post .button {margin-left:4px;}
.board-form .input-post .input-text {margin:8px 0 0 0;}
.board-form .input-post .input-text:last-child {margin-bottom:0;}

/* textarea :width, height 의 경우 다중 클래스로 제어가능 */
.input-textarea {margin:0; padding:16px; width:100%; height:180px; font-size:16px; border-radius:8px; border:1px solid #ddd; background-color:#fff; vertical-align:middle; resize:none;}
.input-textarea:focus {outline:none; border-color:#3870ff; background-color:#fff;}
.input-textarea[disabled] {color:#999; background-color:#f1f1f1;}
.input-textarea:-webkit-scrollbar {width:4px;}
.input-textarea:-webkit-scrollbar-track {background:transparent;}
.input-textarea:-webkit-scrollbar-thumb {border-radius:2px; border:4px solid transparent; background-color:#3870ff;}
.input-textarea::-webkit-scrollbar {width:4px;}
.input-textarea::-webkit-scrollbar-thumb {height:100px; border-radius:2px; background-clip:padding-box; background-color:#3870ff;}

/* checkbox , radio */
[type='checkbox'],
[type='radio'] {width:24px; height:24px; vertical-align:middle;}
.bg-chk {display:inline-block; position:relative;}
.bg-chk.block {display:block; margin:20px 0 0 0 !important; }
.bg-chk.block > input.input-text {display:inline-block; width:calc(100% - 80px); margin-left:10px;}
.bg-chk + .bg-chk {margin-left:30px;}
.bg-chk [type='checkbox'],
.bg-chk [type='radio'] {position:absolute; left:0; top:50%; width:24px; height:24px; margin:-10px 0 0 0; opacity:0;}
.bg-chk label {position:relative; padding-left:32px;}
.bg-chk label:before {content:''; display:block; position:absolute; left:0; top:50%; margin:-12px 0 0 0; width:24px; height:24px;}
.bg-chk [type='checkbox']:focus + label {outline:1px solid #3870ff;}
.bg-chk [type='checkbox']:focus:not(:focus-visible) + label {outline:none;}
.bg-chk [type='checkbox'] + label:before {background:url('../images/common/bg/bg-checkbox.png') no-repeat 0;}
.bg-chk [type='checkbox']:checked + label:before {background:url('../images/common/bg/bg-checkbox-on.png') no-repeat 0;}
.bg-chk [type='checkbox'][disabled] + label:before {background:url('../images/common/bg/bg-checkbox-disabled.png') no-repeat 0;}
.bg-chk [type='checkbox']:checked[disabled] + label:before {background:url('../images/common/bg/bg-checkbox-disabled-on.png') no-repeat 0;}
.bg-chk [type='radio']:focus + label {outline:1px solid #3870ff;}
.bg-chk [type='radio']:focus:not(:focus-visible) + label {outline:none;}
.bg-chk [type='radio'] + label:before {background:url('../images/common/bg/bg-radio.png') no-repeat 0;}
.bg-chk [type='radio']:checked + label:before {background:url('../images/common/bg/bg-radio-on.png') no-repeat 0;}
.bg-chk [type='radio'][disabled] + label:before {background:url('../images/common/bg/bg-radio-disabled.png') no-repeat 0;}
.bg-chk [type='radio']:checked[disabled] + label:before {background:url('../images/common/bg/bg-radio-disabled-on.png') no-repeat 0;}

/* button */
button {cursor:pointer; border:0; vertical-align:middle;}
button.reset {padding:0; background-color:transparent;}

.button,
a.button {display:inline-flex; justify-content:center; align-items:center; min-width:230px; height:72px; padding:0 60px; color:#fff; font-size:20px; vertical-align:middle; text-decoration:none; border-radius:36px; background-color:#252937; transition:opacity 0.3s, color 0.3s, border-color 0.3s, background-color 0.3s;}
.button:hover,
a.button:hover {color:#fff; background-color:#33394d;}
.button[disabled],
.button.disabled,
a.button.disabled {opacity:1; color:#999 !important; background-color:#f1f1f1 !important;}
.button[disabled],
.disabled {cursor:default;}
a.disabled:focus {outline:none;}

/* button size */
.button.small {min-width:auto; height:60px; padding:0 36px; font-size:18px; font-weight:500; line-height:1.4; border-radius:30px;}
.button.large {min-width:auto; height:78px; padding:0 56px; font-weight:500; border-radius:39px;}

/* button color */
.button.white {color:#000; border:2px solid #ccc; background-color:#fff;}
.button.white:hover {color:#000; border-color:#ededed; background-color:#fff;}
.button.blue {color:#3870ff; border:2px solid #3870ff; background-color:#fff;}
.button.blue:hover {color:#fff; background-color:#3870ff;}

/* background 에 색깔있을 경우 */
.button.bg {color:#fff; background-color:transparent; border:2px solid #fff;}
.button.bg:hover {border-color:rgba(255,255,255,0.6); background-color:transparent;}
.button.bg.white {color:#000; background-color:#fff; border:0;}
.button.bg.white:hover {opacity:0.6;}

/* button 안에 아이콘 있을때 */
.button.icon {padding:0 30px 0 36px; border-radius:39px;}
.button.icon.blue:hover .ico-arr-blue {background:url('../images/common/ico/ico-arr-white.png') no-repeat 0 1px; background-size:24px auto;}

/* button-group */
.button-group {margin:56px 0 0 0; text-align:center;}
.button-group.right {text-align:right;}
.button-group.left {text-align:left;}

/* icon */
.iconset {overflow:hidden; display:inline-block; margin:-1px 0 0 0; padding:0; font-size:0; line-height:0; text-indent:-9999px; vertical-align:middle; background-position:0 0; background-repeat:no-repeat;}
	/* 로케이션 */
	.ico-home {width:24px; height:24px; background:url('../images/common/ico/ico-home.png') no-repeat center;}

	/* 메인 */
	.ico-arr-btm {width:19px; height:30px; margin-top:3px; margin-left:3px; vertical-align:text-top; background:url('../images/common/ico/ico-arr-btm.png') no-repeat 0 50%; background-size:19px auto;}

	/* footer SNS */
	.ico-ft-facebook {width:32px; height:32px; background:url('../../static/images/common/ico/ico-ft-facebook.png') no-repeat;}
	.ico-ft-instagram {width:32px; height:32px; background:url('../../static/images/common/ico/ico-ft-instagram.png') no-repeat;}
	.ico-ft-blog {width:32px; height:32px; background:url('../../static/images/common/ico/ico-ft-blog.png') no-repeat;}

	/* 버튼 내부 화살표 */
	.ico-arr-black {width:25px; height:25px; margin-left:6px; background:url('../images/common/ico/ico-arr-black.png') no-repeat 0 1px; background-size:24px auto;}
	.ico-arr-white {width:25px; height:25px; margin-left:6px; background:url('../images/common/ico/ico-arr-white.png') no-repeat 0 1px; background-size:24px auto;}
	.ico-arr-blue {width:25px; height:25px; margin-left:6px; background:url('../images/common/ico/ico-arr-blue.png') no-repeat 0 1px; background-size:24px auto;}
	
	/* 모달 아이콘 */
	.ico-pen {width:48px; height:48px; background:url('../images/common/ico/ico-pen.png') no-repeat;}

	/* 메달, 트로피 */
	.ico-medal {width:42px; height:42px; background:url('../images/common/ico/ico-medal.png') no-repeat 0 50%; background-size:39px auto;}
	.ico-trophy {width:42px; height:42px; background:url('../images/common/ico/ico-trophy.png') no-repeat 0 50%; background-size:39px auto;}

	/* 혜택 */
	.ico-benifit-01 {background:#ff735d url('../images/common/ico/ico-benefit-01.png') no-repeat; background-size:110px auto;}
	.ico-benifit-02 {background:#ff735d url('../images/common/ico/ico-benefit-02.png') no-repeat; background-size:110px auto;}
	.ico-benifit-03 {background:#ff735d url('../images/common/ico/ico-benefit-03.png') no-repeat; background-size:110px auto;}
	.ico-benifit-04 {background:#ff735d url('../images/common/ico/ico-benefit-04.png') no-repeat; background-size:110px auto;}
	.ico-benifit-05 {background:#ff735d url('../images/common/ico/ico-benefit-05.png') no-repeat; background-size:110px auto;}
	.ico-benifit-06 {background:#ff735d url('../images/common/ico/ico-benefit-06.png') no-repeat; background-size:110px auto;}
	.ico-benifit-07 {background:#ff735d url('../images/common/ico/ico-benefit-07.png') no-repeat; background-size:110px auto;}
	.ico-benifit-08 {background:#ff735d url('../images/common/ico/ico-benefit-08.png') no-repeat; background-size:110px auto;}
	[class^="iconset ico-benifit-"] {width:110px; height:110px; background-position:50%;}

	/* 상품 */
	.ico-product-01 {width:48px; height:48px; background:url('../images/common/ico/ico-product-01.png') no-repeat center;}
	.ico-product-02 {width:48px; height:48px; background:url('../images/common/ico/ico-product-02.png') no-repeat center;}
	.ico-product-03 {width:48px; height:48px; background:url('../images/common/ico/ico-product-03.png') no-repeat center;}
	.ico-product-04 {width:48px; height:48px; background:url('../images/common/ico/ico-product-04.png') no-repeat center;}
	.ico-product-05 {width:48px; height:48px; background:url('../images/common/ico/ico-product-05.png') no-repeat center;}
	.ico-product-06 {width:48px; height:48px; background:url('../images/common/ico/ico-product-06.png') no-repeat center;}
	.ico-product-07 {width:48px; height:48px; background:url('../images/common/ico/ico-product-07.png') no-repeat center;}
	.ico-product-08 {width:48px; height:48px; background:url('../images/common/ico/ico-product-08.png') no-repeat center;}
	.ico-product-09 {width:48px; height:48px; background:url('../images/common/ico/ico-product-09.png') no-repeat center;}
	.ico-product-10 {width:48px; height:48px; background:url('../images/common/ico/ico-product-10.png') no-repeat center;}
	.ico-product-11 {width:48px; height:48px; background:url('../images/common/ico/ico-product-11.png') no-repeat center;}
	.ico-product-12 {width:48px; height:48px; background:url('../images/common/ico/ico-product-12.png') no-repeat center;}
	.ico-product-13 {width:48px; height:48px; background:url('../images/common/ico/ico-product-13.png') no-repeat center;}
	.ico-product-14 {width:48px; height:48px; background:url('../images/common/ico/ico-product-14.png') no-repeat center;}
	.ico-product-15 {width:48px; height:48px; background:url('../images/common/ico/ico-product-15.png') no-repeat center;}

	/* 프로세스 */
	.ico-process-none {width:64px; height:64px; background:url('../images/common/ico/ico-process-none.png') no-repeat center; background-size:64px;}
	.ico-process-01 {width:72px; height:72px; background:url('../images/common/ico/ico-process-01.png') no-repeat center;}
	.ico-process-02 {width:72px; height:72px; background:url('../images/common/ico/ico-process-02.png') no-repeat center;}
	.ico-process-03 {width:72px; height:72px; background:url('../images/common/ico/ico-process-03.png') no-repeat center;}
	.ico-process-04 {width:72px; height:72px; background:url('../images/common/ico/ico-process-04.png') no-repeat center;}
	.ico-process-05 {width:72px; height:72px; background:url('../images/common/ico/ico-process-05.png') no-repeat center;}
	.ico-process-06 {width:72px; height:72px; background:url('../images/common/ico/ico-process-06.png') no-repeat center;}
	.ico-process-07 {width:72px; height:72px; background:url('../images/common/ico/ico-process-07.png') no-repeat center;}

	/* 상담성과 */
	.ico-calender {width:20px; height:20px; margin-right:8px; background:url('../images/common/ico/ico-calender.png') no-repeat 0; background-size:20px auto;}

/* title */
h2.title-2 {display:block; width:100%; min-width:1200px; margin:80px 0 72px; text-align:center; font-size:48px; font-weight:700; line-height:1.4;}
.wrap-tit {margin-bottom:80px; text-align:center;}
.title-3 {margin:0; font-size:36px; font-weight:500; line-height:1.4;}
.title-4 {margin:0; font-size:30px; font-weight:500; line-height:1.4;}
.title-3 + .txt {margin:24px 0 0; color:#666; font-size:20px;}

/* box */
.box.full {margin-bottom:-150px; padding-bottom:150px;}
.box.bg-gray {background-color:#f2f5f6;}
.box.bg-light-gray {background-color:#f6f6f6;}
.box.full.bg-gray .title-3 {padding-top:150px;}


/* text */
/* p태그 reset */
p.reset {padding:0; margin:0;}
.channel {color:#3870ff;}
.info-text {margin:8px 0 0; font-size:14px; color:#999; font-weight:400;}
.req {overflow:hidden; display:inline-block; margin-left:4px; width:5px; height:5px; border-radius:5px; font-size:0; line-height:0; text-indent:-99px; vertical-align:top; background-color:#ff4c37;}
.txt-help {position:relative; margin:0; padding-left:20px;}
.txt-help:before {content:'※'; position:absolute; left:0; top:0;}
.txt-alert {position:relative; margin:20px 0 0; padding-left:34px; color:#ff4c37; font-size:20px;}
.txt-alert:before {content:''; position:absolute; left:0; top:0px; width:30px; height:30px; background:url('../images/common/bg/bg-alert.png') no-repeat center 2px; background-size:26px auto;}

/* ul, ol 태그 reset */
ul.reset, ul.reset > li, ol.reset, ol.reset > li {list-style-type:none; padding:0; margin:0;}

/* list */
.list-dot {list-style-type:none; padding:0; margin:0;}
.list-dot > li {position:relative; padding-left:10px; color:#666; word-break:break-all;}
.list-dot > li:before {content:''; position:absolute; top:13px; left:0; width:4px; height:4px; background-color:#666; border-radius:4px;}
.list-dot > li + li {margin-top:12px;}

.list-dash {list-style-type:none; padding:0; margin:0;}
.list-dash > li {position:relative; padding-left:10px; color:#666; word-break:break-all;}
.list-dash > li:before {content:''; position:absolute; top:13px; left:0; width:4px; height:1px; background-color:#666;}
.list-dash > li + li {margin-top:10px;}

/* table reset */
table {width:100%; margin:0; border:0; table-layout:fixed; border-collapse:collapse; empty-cells:show;}
table caption {position:absolute; left:-9999px; width:0; height:0; font-size:0; line-height:0;}
table th,
table td {padding:0; word-break:break-all;}
[class^='board-']:not(.board-view) {border-top:2px solid #252937;} 

/* pagination */
.pagination {display:flex; justify-content:center; align-items:center; gap:8px; margin-top:56px;}
.pagination a {display:block; width:40px; height:40px; text-align:center; line-height:2.27; color:#666; border-radius:20px; text-decoration:none; font-family:'Roboto', sans-serif;}
.pagination a:not(.disabled):hover {color:#fff; background-color:#3870ff;}
.pagination .arr {text-indent:-9999px;}
.pagination .arr:not(.disabled):hover {background-color:#fafafa;}
.pagination .first {background:url('../images/common/btn/btn-paging-first.png') no-repeat;}
.pagination .prev {background:url('../images/common/btn/btn-paging-prev.png') no-repeat;}
.pagination .next {background:url('../images/common/btn/btn-paging-next.png') no-repeat;}
.pagination .last {background:url('../images/common/btn/btn-paging-last.png') no-repeat;}
.pagination .first.disabled,
.pagination .prev.disabled,
.pagination .next.disabled,
.pagination .last.disabled
{opacity:0.3;}
.pagination strong {display:block; width:40px; height:40px; line-height:2.27; font-weight:400; border-radius:20px; color:#666; text-align:center; font-family:'Roboto', sans-serif;}
.pagination .active {color:#fff; background-color:#3870ff;}


/* layout
================================================================ 
*/
.inner-wrap {width:1200px; margin:0 auto;}

.main > #header {width:100%; min-width:1561px; height:132px; position:absolute; z-index:10; top:0; left:0; border:0;}
.main > #header .logo {background-image:url('../images/common/header/logo-main.png');}
.main > #header .logo a {display:block; width:100%; height:100%;}
.main > #header #gnb li.depth-01 > a {color:#fff;}
.main > #header.on #gnb li.depth-01 > a {color:#222;}
.main > #header.on .logo {background-image:url('../images/common/header/logo-color.png');}
.main > #footer {min-width:1561px;}

#header {width:100%; min-width:1200px; height:132px; position:relative; border-bottom:1px solid #ddd;}
#header .inner-wrap {position:absolute; top:0; left:0; z-index:9; width:100%; display:flex; justify-content:space-between; padding:0 120px;}
#header.on::after {content:''; position:absolute; display:block; width:100%; height:1px; top:131px; left:0; z-index:6; background:#ddd;}
#header.on::before {content:''; position:absolute; display:block; width:100%; height:466px; left:0; top:0; z-index:5; background:#fff; box-shadow:0 10px 15px rgb(0 0 0 / 20%);}
#header .logo {flex-shrink:0; width:142px; height:64px; margin:34px 0 0 0; font-size:0; background:url('../images/common/header/logo-color.png') no-repeat center;}
#header .logo a {display:block; width:100%; height:100%;}
#header #gnb li a {color:#222;}

.nav-area {width:1472px;}
#gnb {min-width:714px;}
#gnb ul, #gnb li {list-style:none; padding:0; margin:0;}
#gnb li.depth-01 {position:relative;}
#gnb ul.depth-02 {position:absolute; left:50%; transform:translateX(-50%);}
#gnb li.depth-01:first-child ul.depth-02 {margin-left:0;}
#gnb li.depth-01 > a {height:104px; line-height:4.72; display:block; font-size:22px; font-weight:500; color:#fff;}
#gnb li.depth-01:hover > a {color:#00b9ef !important;}
#gnb li.depth-01:hover > a::before,
#gnb li.depth-01 > a:focus::before {width:100%; height:4px; position:absolute; content:''; display:block; background:#00b9ef; top:114px; left:0;}

#gnb li.depth-01:first-child:hover::before {width:100%; left:0;}
#gnb li.depth-01 > a:hover {text-decoration:none; color:#00b9ef !important;}


.gnb-area {height:132px; display:flex; justify-content:flex-end; align-items:center; text-align:center;}
#gnb .gnb-area .depth-01 + .depth-01 {margin-left:72px;}
.gnb-area .depth-02 {display:none;}
.gnb-area .depth-02.on {display:block; top:129px;}
.gnb-area .depth-02 li > a {display:inline-block; height:54px; line-height:3; font-size:18px; white-space:nowrap;}
.gnb-area .depth-02 > li > a:hover {text-decoration:underline;}

#main .container {min-height:calc(100% - 342px);}
.container {min-height:calc(100% - 509px); padding-bottom:150px;}

.location {width:1200px; height:27px; display:flex; align-items:center; margin:35px auto 0;}
.location .depth {position:relative; margin-right:35px; color:#666;}
.location .depth:before {width:24px; height:24px; position:absolute; content:''; display:block; background:url('../images/common/bg/bg-location-arr.png') no-repeat center; top:0; right:-30px;}
.location .depth:last-child::before {display:none;}
.location .depth p {margin:0;}
.location a.home {width:24px; height:24px; display:block; background:url('../images/common/ico/ico-home.png') no-repeat center; font-size:0;}


/* footer family site */
.family-site {float:right; width:90px; height:55px; position:relative; font-size:14px;}
.family-site button.toggle {padding:0; width:100%; height:100%; background:none; text-align:left; color:#777;}
.family-site button.toggle::before {content:''; display:block; position:absolute; width:16px; height:16px; background:url('../images/common/btn/btn-select.png') no-repeat; top:19px; right:0;}
.family-site.on button.toggle::before {background:url('../images/common/btn/btn-select-on.png') no-repeat;}

.family-site .list {display:none; position:absolute; left:50%; transform:translateX(-50%); bottom:63px;}
.family-site.on > .list {display:block; min-width:124px; min-height:76px; padding:10px 16px !important; background:#fff; border-radius:12px; border:1px solid #ededed; text-align:left;}
.family-site.on .list > li {margin-bottom:10px; white-space:nowrap;}
.family-site.on .list > li:last-child {margin-bottom:0;}
.family-site.on .list > li > a {display:block; color:#666;}

#footer {position:relative; min-width:1200px; height:342px; bottom:0; border-top:1px solid #ededed;}
#footer::before {content:''; position:absolute; display:block; widtH:100%; height:1px; background:#ededed; left:0; top:55px;}
#footer ul, footer li {list-style:none; padding:0; margin:0;}
#footer .logo {width:136px; height:88px; display:inline-block; vertical-align:middle; background:url('../images/common/footer/logo-footer.png') no-repeat; margin-top:0px; font-size:0;}

.list-footer {display:inline-block; height:55px;}
.list-footer li {float:left; margin-right:40px; line-height:55px;} 
.list-footer li:last-child {margin-right:0;}
.list-footer li a {display:block; font-size:14px; color:#000;}
.list-footer li a:hover {text-decoration:underline;}
.list-footer li a.copy {font-weight:500; color:#e60816;}

.footer-info-wrap {margin-top:40px;}
.footer-info-block {display:inline-block; margin-left:40px; max-width:900px; vertical-align:middle;}
.footer-info-block > .txt { padding:0; margin:0; display:inline-block; font-size:14px; vertical-align:middle; color:#666;}
.footer-info-block > .txt + .txt {position:relative; margin-left:25px;}
.footer-info-block > .txt + .txt:before {content:''; position:absolute; left:-16px; top:5px; width:1px; height:10px; background-color:#ccc;}
.footer-info-block > .txt:nth-of-type(3):before {display:none;}
.footer-info-block > .txt:nth-of-type(3) {margin-left:0;}

.footer-bottom {display:flex; justify-content:space-between; align-items:center; margin-top:35px;}
.footer-bottom .footer-banner {display:flex; justify-content:space-between; align-items:center; width:652px;}
.footer-bottom .footer-icon a {display:inline-block; margin-right:8px;}
.footer-bottom .footer-icon a:last-child {margin-right:0;}

/* quick menu */
aside ul, aside li {margin:0; padding:0;}
.quick-area {position:fixed; top:50%; transform:translateY(-50%); right:50px; z-index:4;}
.quick-area li {list-style:none; margin-bottom:10px; border-radius:50%; background:#252937; box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.08); transition:all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);}
.quick-area li:hover {background:#52c92e;}
.quick-area li a {width:100px; height:100px; display:flex; justify-content:center; align-items:center; font-size:16px; color:#fff; text-align:center}
.quick-area li a:hover {text-decoration:none;}

.quick-area .btn-top {display:none; position:fixed; right:20px; bottom:-150px; width:60px; height:60px; border-radius:50%; background:url('../images/common/btn/btn-top.png') no-repeat center #fff;}
.quick-area .btn-top a {display:block; width:100%; height:100%; box-shadow:2px 8px 8px rgba(0, 0, 0, 0.08); border-radius:50%; font-size:0; cursor:pointer;}

.layout-visual {min-width:1200px; height:1080px; background:#00b9ef;}

/* slick */
.slick-container {width:1200px; margin:0 auto;}
.slick-container .slide .slide-nav {display:none;}
.slick-container .slick-dots, .slick-dots li {margin:0; padding:0; list-style:none;}
.slick-container .slick-dots {display:flex; justify-content:center; position:absolute; left:50%; top:0; transform:translateX(-50%); width:100%;}
.slick-container .slick-dots li {margin-right:40px;}
.slick-container .slick-dots li:last-child {margin-right:0;}
.slick-container .slick-dots li button {display:flex; align-items:center; font-size:20px; color:#999; background-color:transparent;}
.slick-container .slick-dots li button > .num {width:40px; height:40px; margin-right:12px; line-height:2; color:#fff; font-weight:700; font-family:'Roboto'; text-align:center; border-radius:60px; background-color:#d9d9d9;}
.slick-container .slick-active button {color:#e04046 !important; font-weight:700;}
.slick-container .slick-active button > .num {color:#fff !important; background-color:#e04046 !important;}

/* layer-modal */
.layer-modal {visibility:hidden; overflow-y:auto; position:fixed; left:0; top:0; z-index:11; width:0; height:0; padding:30px 0; opacity:0; transition:opacity 0.4s;}
.layer-modal.on {visibility:visible; width:100%; height:100%; opacity:1;}
.layer-dimed {position:fixed; left:0; top:0; width:100%; height:100%; z-index:10; background-color:rgba(0, 0, 0, 0.7);}
.layer-modal .wrap {position:relative; width:500px; margin:0 auto; padding:30px; box-shadow:0px 20px 24px -4px rgba(0, 0, 0, 0.1), 0px 4px 4px -4px rgba(0, 0, 0, 0.04); border-radius:20px; background-color:#fff;}
.layer-modal .layer-header .tit {margin:16px 0 40px 0; font-size:20px; font-weight:500;}
.layer-modal .layer-body .tit {margin:0; font-size:16px; font-weight:400;} 
.layer-modal .layer-body .wrap-input {margin:6px 0 20px 0;}
.layer-modal .layer-body .wrap-input .input-text {display:block;}
.layer-modal .layer-body .wrap-input select {display:block;}
.layer-modal .layer-body .wrap-input select + select,
.layer-modal .layer-body .wrap-input select + .input-text {margin:8px 0 0 0;}
.layer-modal .layer-body .box-agree > .agree-cont {margin:6px 0 20px 0;}
.layer-modal .layer-body .button-group {margin:42px 0 0 0;}
.layer-modal .layer-body .button-group button {width:100%; height:44px; font-size:16px;}
.layer-modal .btn-modal-close {position:absolute; top:30px; right:30px; width:24px; height:24px; cursor:pointer; text-indent:-9999px; background:url('../images/common/btn/btn-modal-close.png') no-repeat;}
