@charset "utf-8";

/* ==========================================================================
	
	main css
	
========================================================================== */
p.title-2 {display:block; width:100%; min-width:1200px; margin:80px 0 72px; text-align:center; font-size:48px; font-weight:700; line-height:1.4;}
p.title-2 .sub {display:block; margin:20px 0 0 0; color:#666; font-size:20px; font-weight:400; line-height:1.1;}
p.title-2 .sub em {color:#e04046;}

.main p {margin:0; padding:0;}
.mainvisual {height:1080px; display:flex; flex-direction:column; justify-content:center; background:#3870FF; color:#fff;}
.mainvisual p.title {font-size:58px; font-weight:700; line-height:1.4;}
.mainvisual p.txt {margin-top:36px;}
.mainvisual .button-group {margin:48px 0 0 0;}
.mainvisual .button-group button {min-width:222px; height:78px; border-radius:39px; border:1px solid #fff; background:transparent; padding:0;}
.mainvisual .button-group button + button {margin-left:20px;}

/* 김승연 */
@keyframes zoom {
	0% {transform:scale(0); opacity:0;}
	100% {transform:scale(1); opacity:1;}
}
@keyframes show-top {
	0% {transform:translateY(-30px); opacity:0;}
	100% {transform:translateY(0); opacity:1;}
}
@keyframes show-bottom {
	0% {transform:translateY(50px); opacity:0;}
	100% {transform:translateY(0); opacity:1;}
}
@keyframes show-left {
	0% {transform:translateX(-30px); opacity:0;}
	100% {transform:translateX(0); opacity:1;}
}
@keyframes show-right {
	0% {transform:translateX(30px); opacity:0;}
	100% {transform:translateX(0); opacity:1;}
}
.visual {min-width:1561px; height:1080px; background-color:#00b9ef;}
.visual > .inner-wrap {position:relative; width:1561px; height:100%;}
.visual .wrap-title {position:absolute; left:0; top:284px; width:575px;}
.visual .wrap-title > .tit {margin:0; color:#fff; font-size:60px; font-weight:700; line-height:1.3;}
.visual .color-yellow {color:#faff00;}
.visual .wrap-title > .txt {margin:24px 0 0; color:#fff; font-size:24px; font-weight:500; line-height:1.5; white-space:nowrap;}
.visual .wrap-title > .button-group {margin-top:50px;}
.visual .wrap-title > .button-group .button {min-width:auto; height:78px; font-weight:500; border-radius:40px;}
.visual .wrap-title > .button-group .button + .button {margin-left:20px;}

.visual .img-visual {position:absolute; bottom:0; right:0; width:955px; height:853px;}
.visual .img-visual > img {display:block;}
.visual .img-visual img:nth-child(2) {position:absolute; bottom:0; left:-145px; animation:show-bottom forwards 0.8s;}
.visual .img-visual img:nth-child(3) {position:absolute; top:-51px; left:77px; animation:zoom forwards 0.5s;}
.visual .img-visual img:nth-child(4) {position:absolute; top:136px; left:4px; animation:zoom forwards 1.8s;}
.visual .img-visual img:nth-child(5) {position:absolute; top:73px; right:109px; animation:zoom forwards 0.9s;}

/* slick */
.intro-pantry {overflow:hidden; min-width:1561px; height:1080px; padding:100px 37px 133px; background-color:#f0f8fb;}
.intro-pantry > .slick-intro-pantry {margin-top:60px;}
.intro-pantry > .slick-intro-pantry img {display:block; width:100%; height:100%;}

/* slick-slider */
.intro-pantry > .slick-intro-pantry > .slick-slider {width:1199px; height:450px; margin:0 auto;}
.intro-pantry > .slick-intro-pantry > .slick-slider .slide {min-width:1105px; height:450px;}

.intro-pantry > .slick-intro-pantry > .slick-slider .slick-slide .img {overflow:hidden; width:685px; height:450px; border-radius:300px; opacity:0; transform:scale(0); transition:1s;}
.intro-pantry > .slick-intro-pantry > .slick-slider .slick-current .img {opacity:1; transform:scale(1);}
.intro-pantry > .slick-intro-pantry > .slick-slider .slick-slide .wrap-title {opacity:0; transform:translateY(100px); transition:1s; transition-delay:1s;}
.intro-pantry > .slick-intro-pantry > .slick-slider .slick-current .wrap-title {opacity:1; transform:translateY(0);}

/* slick contents */
.intro-pantry > .slick-intro-pantry > .slick-slider .img {float:left; width:685px;}
.intro-pantry > .slick-intro-pantry > .slick-slider .wrap-title {float:right; width:454px; margin-left:60px; white-space:nowrap;}
.intro-pantry > .slick-intro-pantry > .slick-slider .wrap-title > .num {font-size:100px; font-weight:500; line-height:1.1;}
.intro-pantry > .slick-intro-pantry > .slick-slider .wrap-title > .tit {margin:20px 0 10px; color:#e04046; font-size:40px; font-weight:700;}
.intro-pantry > .slick-intro-pantry > .slick-slider .wrap-title > .txt {color:#666; font-size:20px; font-weight:400; line-height:1.6;}
.intro-pantry > .slick-intro-pantry > .slick-slider .wrap-title > .txt em {color:#000; font-weight:700;}
.intro-pantry > .slick-intro-pantry > .slick-slider .wrap-title > .wrap-box {overflow:hidden; margin-top:20px;}
.intro-pantry > .slick-intro-pantry > .slick-slider .wrap-title > .wrap-box .box {float:left; min-width:87px; height:60px; margin-left:4px; padding:19px 14px; color:#fff; font-size:16px; font-weight:600; text-align:center; border-radius:10px;}
.intro-pantry > .slick-intro-pantry > .slick-slider .wrap-title > .wrap-box .box:first-child {margin-left:0;}
.intro-pantry > .slick-intro-pantry > .slick-slider .wrap-title > .wrap-box .box:nth-child(1) {background-color:#495dd1;}
.intro-pantry > .slick-intro-pantry > .slick-slider .wrap-title > .wrap-box .box:nth-child(2) {background-color:#0e239e;}
.intro-pantry > .slick-intro-pantry > .slick-slider .wrap-title > .wrap-box .box:nth-child(3) {background-color:#49b9d1;}
.intro-pantry > .slick-intro-pantry > .slick-slider .wrap-title > .wrap-box .box:nth-child(4) {background-color:#40c976;}

/* slick-nav */
.intro-pantry > .slick-intro-pantry > .slick-nav {overflow:hidden; max-width:1845px; height:210px; margin:60px auto 0 auto;}
.intro-pantry > .slick-intro-pantry > .slick-nav .slick-slide {margin-left:61px;}
.intro-pantry > .slick-intro-pantry > .slick-nav .slick-slide:first-child {margin-left:0;}

/* slick contents */
.intro-pantry > .slick-intro-pantry > .slick-nav .img {overflow:hidden; width:319px; height:210px; border-radius:300px;}
.intro-pantry > .slick-intro-pantry > .slick-nav .fig {position:relative; width:319px;}
.intro-pantry > .slick-intro-pantry > .slick-nav .fig:after {content:''; position:absolute; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.3); border-radius:300px;}
.intro-pantry > .slick-intro-pantry > .slick-nav .wrap-title {position:absolute; left:0; top:50%; z-index:2; transform:translateY(-50%); width:100%; color:#fff; text-align:center; font-family:'Roboto', sans-serif;}
.intro-pantry > .slick-intro-pantry > .slick-nav .wrap-title > .num {font-size:60px; font-weight:900;}
.intro-pantry > .slick-intro-pantry > .slick-nav .wrap-title > .tit {font-size:22px; font-weight:600;}

.budget-cuts {min-width:1561px; height:1655px; padding:150px 0 97px; background-color:#f2f5f6;}
.budget-cuts .wrap-title > .txt-sub {margin:32px 0 10px; font-size:24px; font-weight:500; line-height:1.4;}
.budget-cuts .wrap-title > .txt {color:#666; font-size:20px;}
.budget-cuts .wrap-box {position:relative; width:100%; height:187px; margin:107px 0 60px;}
.budget-cuts .wrap-box > .box {position:absolute; top:0; width:443px; height:186px; padding:33.4px 0; border-radius:500px; text-align:center;}
.budget-cuts .wrap-box > .box:nth-child(1) {left:0; background-color:#52c92e; mix-blend-mode:multiply;}
.budget-cuts .wrap-box > .box:nth-child(2) {left:378px; background-color:#6379f2; mix-blend-mode:multiply;}
.budget-cuts .wrap-box > .box:nth-child(3) {right:0; background-color:#69c1ff; mix-blend-mode:multiply;}
.budget-cuts .wrap-box > .box > .tit {display:block; height:52px; color:#fff; font-size:30px; font-weight:700; line-height:1.73;}
.budget-cuts .wrap-box > .box > .tit > span {color:#faff00;}
.budget-cuts .wrap-box > .box > .txt {margin-top:16px; color:#fff; font-weight:500; line-height:1.4;}
.budget-cuts .inner-wrap > .box-shadow {position:relative; height:845px; padding:50px;  background-color:#fff; box-shadow:0 10px 10px rgba(0,0,0,0.1);}
/* .budget-cuts .inner-wrap > .box-shadow:after {content:''; position:absolute; right:-92px; top:-42px; width:200px; height:200px; background:url('../images/main/img-buget-label.png') no-repeat 0 50%; background-size:200px;} */
.budget-cuts .box-border {width:100%; height:100%; border-radius:24px; padding:40px; border:1px solid #ddd;}
.budget-cuts .box-border > .vat {margin-bottom:10px; color:#666; font-size:16px; text-align:right;}
.budget-cuts .table .table-header {overflow:hidden; width:100%; height:56px; border-radius:6px;}
.budget-cuts .table .table-header .tit {float:left; width:203.2px; height:100%; padding-top:14px; color:#fff; font-weight:500; text-align:center; background-color:#00b9ef;}
.budget-cuts .table .table-header .tit:first-child {border-right:1px solid #fff;}
.budget-cuts .table .table-header .tit:last-child {border-left:1px solid #fff;}
.budget-cuts .table .table-header .tit.bg-blue {background-color:#004fa3}
.budget-cuts .table .table-header strong {font-weight:900;}

.budget-cuts .table .table-body {display:table; width:100%;}
.budget-cuts .table .table-body .table-block {display:table-row; color:#666;}
.budget-cuts .table .table-body .table-block:nth-child(even) {background-color:#f9fbfc;}
.budget-cuts .table .table-body .table-block > * {display:table-cell; width:203.2px; padding:20px; vertical-align:top;}
.budget-cuts .table .table-body .table-block > .box-txt:not(:last-child) {border:1px dashed #ededed; border-top:0; border-bottom:0;}
.budget-cuts .table .table-body .table-block > .box-txt:nth-child(3) {text-align:right;}
.budget-cuts .table .table-body .table-block > .box-txt:nth-child(4) {font-weight:700; color:#e04046; text-align:right; vertical-align:middle;}
.budget-cuts .table .table-body .table-block > .box-txt .txt + .txt {margin-top:10px;}
.budget-cuts .table .table-footer {overflow:hidden; height:66px; background-color:#fffdec;}
.budget-cuts .table .table-footer > .txt {float:left; padding:20px; border-right:1px dashed #ededed;}
.budget-cuts .table .table-footer > .txt:nth-child(1) {width:406.4px;}
.budget-cuts .table .table-footer > .txt:nth-child(2),
.budget-cuts .table .table-footer > .txt:nth-child(3) {width:203.2px; color:#e04046; text-align:right;}
.budget-cuts .table .box-shadow {width:158px; padding:10px; background-color:#fff; box-shadow:0 4px 4px rgba(0,0,0,0.25);}
.budget-cuts .table .box-shadow > .txt {color:#000;}

/* //김승연 */

/* 김미진 */
.video {padding:0 0 90px 0; text-align:center;}
.video .wrap-tit {margin-bottom:60px; padding-top:133px;}
.video .wrap-tit > .txt {margin:20px 0 0 0; font-size:20px; color:#666;}
.video .vt .block + .block {margin-top:30px;}
.video .hr {display:flex; flex-wrap:wrap; justify-content:space-between; width:1160px; margin:0 auto;}

.benefit-pantry {height:1080px;}
.benefit-pantry .title-2 {margin-bottom:64px; padding-top:150px;}
.benefit-pantry .slide {margin-top:110px;}
.benefit-pantry .slide .txt {font-size:20px;}
.benefit-pantry .slide .benefit-01 {position:relative;} 
.benefit-pantry .slide .benefit-01 figure {display:flex; flex-direction:row-reverse; justify-content:space-between;} 
.benefit-pantry .slide .benefit-01 figure .img > img {width:578px; height:372px; margin:53.5px 0 0 0;}
.benefit-pantry .slide .benefit-01 .txt {margin-top:20px;} 
.benefit-pantry .slide .box-benefit {display:flex; position:absolute; left:0; top:341px;} 
.benefit-pantry .slide .box-benefit .box {position:relative; width:190px; margin-right:10px;} 
.benefit-pantry .slide .box-benefit .box:last-child {margin-right:0;}
.benefit-pantry .slide .box-benefit .box::before {content:''; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%,-60%); width:190px; height:211px; background:url('../images/main/bg-benefit.png') no-repeat;}
.benefit-pantry .slide .box-benefit .box > .txt {font-size:16px; font-weight:700; text-align:center; color:#934f52;}

.benefit-pantry .slide .benefit-02 { position:relative;}
.benefit-pantry .slide .benefit-02::before {content:''; display:block; clear:both;}
.benefit-pantry .slide .benefit-02 .img {float:right;}
.benefit-pantry .slide .benefit-02 .img > img:first-child {width:582px; height:304px;} 
.benefit-pantry .slide .benefit-02 .img .benefit-txt-img {position:absolute; left:0; top:374px;}

.benefit-pantry .slide .benefit-03 {position:relative; display:flex; justify-content:space-between;}
.benefit-pantry .slide .benefit-03 .img {display:flex;}
.benefit-pantry .slide .benefit-03 .img > img:first-child {margin-right:10px;}
.benefit-pantry .slide .benefit-03 .img > img:not(:last-child) {width:286px; height:316px;}
.benefit-pantry .slide .benefit-03 .img .benefit-txt-img {position:absolute; left:50%; top:376px; transform:translateX(-50%);}
.benefit-pantry .slide .benefit-03 figcaption .list-check {margin-top:24px;}
.benefit-pantry .slide .benefit-03 figcaption .list-check ul,
.benefit-pantry .slide .benefit-03 figcaption .list-check li {margin:0; padding:0; list-style:none;}
.benefit-pantry .slide .benefit-03 figcaption .list-check li{position:relative; margin-bottom:14px; padding-left:34px; font-size:20px; color:#666;}
figcaption .list-check li::before {content:''; display:block; position:absolute; left:0; top:0; width:30px; height:30px; background:url('../images/common/ico/ico-check.png') no-repeat;}
.benefit-pantry .slide .benefit-03 figcaption .list-check li:last-child {margin-bottom:0;}

.benefit-pantry .slide .benefit-04 {position:relative; display:flex; justify-content:space-between; flex-direction:row-reverse;}
.benefit-pantry .slide .benefit-04 .img {display:flex;}
.benefit-pantry .slide .benefit-04 .img > img:first-child {margin-right:10px;}
.benefit-pantry .slide .benefit-04 .img > img:not(:last-child) {width:286px; height:442px;}
.benefit-pantry .slide .benefit-04 .img .benefit-txt-img {position:absolute; left:0; top:302px;}
.benefit-pantry .slide .benefit-04 .list-num ol,
.benefit-pantry .slide .benefit-04 .list-num li {margin:0; padding:0; list-style:none;}
.benefit-pantry .slide .benefit-04 .list-num {margin-top:24px;}
.benefit-pantry .slide .benefit-04 .list-num li {margin-bottom:14px; font-size:20px; color:#666;}
.benefit-pantry .slide .benefit-04 .list-num li:last-child {margin-bottom:0;}
.benefit-pantry .slide .benefit-04 .list-num li .num {margin-right:10px; font-weight:500;}

.consultation {min-width:1561px; padding:86px 0; background-color:#495dd1;}
.consultation .wrap-tit {margin-bottom:0;}
.consultation .wrap-tit .title-3 {color:#fff;}
.consultation .button-group {margin-top:48px;}
.consultation .button-group .button {min-width:auto; padding:17px 36px; height:60px; margin-right:10px; font-size:18px; font-weight:500;}
.consultation .button-group .button:last-child {margin-right:0;}

.process-pantry {overflow:hidden; width:1200px; padding:150px 0; margin:0 auto;}
.process-pantry .title-2 {margin-bottom:108px;}
.process-pantry figure {float:left; margin-right:36px;}
.process-pantry figure:nth-child(3n+1) {margin-right:0;}
.process-pantry figure:nth-child(3n+1) ~ figure{margin-top:60px;} 
.process-pantry figure .img > img {display:block; width:376px; height:273px;}
.process-pantry figcaption {margin-top:20px; text-align:center;}
.process-pantry figcaption .tit {font-size:22px; font-weight:500;}
.process-pantry figcaption .txt {margin-top:16px; color:#666; line-height:1.4;}
/* //김미진 */

/* 나지현 */
.join-total {min-width:1561px; min-height:1080px; background:#fe676c; padding-bottom:203px; color:#fff;}
.join-total p.tit-main {font-size:48px; font-weight:700; padding:203px 0 90px 0; text-align:left;}

.join-total .box-wrap {display:flex; justify-content:space-between;}
.join-total .box {min-width:376px; height:402px; padding:0; border:2px solid rgba(255,255,255,0.2); border-radius:24px; text-align:center;}
.join-total .box i {display:block; width:130px; height:130px; margin:64px auto 48px;}
.join-total .box i.ico-main-join {background:url('../images/main/ico-main-join.png') no-repeat;}
.join-total .box i.ico-main-sum {background:url('../images/main/ico-main-sum.png') no-repeat;}
.join-total .box i.ico-main-customer {background:url('../images/main/ico-main-customer.png') no-repeat;}
.join-total strong.num {font-family:'Roboto'; font-size:36px; color:#fff238;}
.join-total .box span.num {font-size:26px; vertical-align:text-bottom;}
.join-total .box p.txt {margin-top:16px;}
.join-total p.current {margin-top:24px; font-size:16px; font-weight:500; color:rgba(255, 255, 255, 0.8); float:right;}

.like {min-width:1561px; padding-bottom:201px;}
.like p.tit-main {padding-top:182px; margin-bottom:90px; font-size:48px; font-weight:700; text-align:left;}

.like .like-slide {width:100%; overflow:hidden;}
.like .like-slide .slick-list {width:100%; overflow:visible;}
.like .like-slide .slick-slide {position:relative; width:376px; height:473px; margin:0 18px; border-radius:24px; overflow:hidden;}

.like .wrap {display:flex; justify-content:space-between;}
.like .wrap .block {width:376px; height:473px; background:#fafafa; border-radius:24px; overflow:hidden;}
.like .wrap .block img {width:376px; height:268px; transition:transform .5s;}
.like .wrap .block img:hover {transform: scale(1.1) rotate(.001deg);}
.like .wrap a {text-decoration:none;}
.like .wrap .block .txt-wrap {padding:32px 32px 44px;}
.like .wrap .block p.desc {display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden; max-width:312px; height:81px; max-height:104px; line-height:1.5; font-size:18px; word-break:keep-all;}
.like .wrap .block p.date {margin-top:18px; font-size:16px; color:#666;}

.advantage {min-width:1561px;min-height:1055px; background-color:#dff2ef;}
.advantage .txt-wrap {padding-top:150px; margin-bottom:70px; text-align:center;}
.advantage p.tit-main {font-size:48px; font-weight:700;}
.advantage p.txt {margin-top:20px; font-size:20px; color:#485c5a;}
.advantage p.txt strong {font-weight:500;}

.advantage .inner-wrap {width:1190px; display:flex; justify-content:space-between;}
.advantage .advantage-box {width:275px; height:241px; background-image:url('../images/main/advantage-bg.png');}
.advantage .advantage-box img {display:block; margin:0 auto;}
.advantage .advantage-box p.txt {font-size:20px; font-weight:500; color:#000; text-align:center;}
.advantage img {display:block; margin:0 auto;}

.join-bottom {min-width:1561px; height:528px; background-color:#252937; color:#fff; text-align:center;}
.join-bottom .txt-wrap {padding-top:150px;}
.join-bottom p.txt {font-size:26px; font-weight:700;}
.join-bottom p.txt span {font-size:36px;}
.join-bottom p.txt-02 {margin-top:10px; font-size:36px; }
.join-bottom .button {min-width:175px; height:60px; padding:0 36px; margin-top:48px; font-size:18px;}

.main .container {padding-bottom:0;}
/* // 나지현 */