@charset "utf-8";
/* ==========================================================================
	
	main css
	
========================================================================== */


body.main {min-width:1234px;}

.main > #header {width:100%; height:132px; position:absolute; top:0; left:50%; z-index:10; transform:translateX(-50%); border:0;}
.main > #header .logo {min-width:208px; height:64px; background:url('../images/common/header/logo-white.png') no-repeat center; margin:36px 0; font-size:0;}
.main > #header .logo a {display:block; width:100%; height:100%;}
.main > #header #gnb li.depth-01 > a {color:#fff;}
.main > #header.on #gnb li.depth-01 > a {color:#000;}
.main > #header.on .logo {background:url('../images/common/header/logo-color.png') no-repeat;}

.main .container {padding-bottom:0;}
.main .container > #contents {margin-top:0;}
.main #footer {min-width:1234px;}
.main .tit-main {font-size:48px; font-weight:700; text-align:center;}
.main p {margin:0; padding:0;}
.main p.tit {font-size:36px; font-weight:500; line-height:1.4;}
.main p.desc {font-size:24px; margin-top:24px; color:#666;}
.main .txt-wrap p.txt {font-size:26px; color:#666; margin-top:24px; text-align:center;}

/* main slick - tab with slick */
.main .slide-wrap {width:1234px; margin:0 auto;}
.main .slide-wrap .slick-slider {padding-top:90px;}
.main .slide-wrap .slide .slide-nav {display:none;}
.main .slide-wrap .main-slick-dots {list-style-type:none; margin:0; padding:0;}
.main .slide-wrap .main-slick-dots li {margin:0; padding:0;}
.main .slide-wrap .main-slick-dots {display:flex; justify-content:center; position:absolute; left:50%; top:0; transform:translateX(-50%); width:100%; min-width:1234px; height:33px; white-space:nowrap;}
.main .slide-wrap .main-slick-dots li {margin-right:40px;}
.main .slide-wrap .main-slick-dots li:last-child {margin-right:0;}
.main .slide-wrap .main-slick-dots li button {display:flex; align-items:center; font-size:20px; color:#999; background-color:transparent;}
.main .slide-wrap .main-slick-dots li button > .num {width:40px; height:40px; line-height:1.9; margin-right:12px; background-color:#ddd; border-radius:12px; font-family:'Roboto'; font-weight:700; color:#fff; text-align:center;}
.main .slide-wrap .slick-active button {color:#3870ff !important; font-weight:700;}
.main .slide-wrap .slick-active button > .num {color:#fff !important; background-color:#3870ff !important;}

/* 메인 비주얼 */
.main-visual {display:flex; flex-direction:column; justify-content:center; position:relative; min-width:1234px; height:1080px; color:#fff; background-color: #3870ff; background-repeat:no-repeat; background-image:url('../images/main/bg-circle.png'), url('../images/main/bg-visual-01.png'); background-position:0 100%, 100% 100%;}
.main-visual .main-wrap {position:relative; z-index:2;}
.main-visual p.tit {font-size:58px; font-weight:700; line-height:1.4;}
.main-visual p.txt {margin-top:36px;}
.main-visual .button-group {margin:48px 0 0 0;}
.main-visual .button-group .button {min-width:222px; height:78px; border-radius:39px; border:1px solid #fff; padding:0; font-weight:500;}
.main-visual .button-group .button + .button {margin-left:16px;}
.main-visual .main-wrap {width:1200px; margin:0; padding-left:245px;}

/* 누구나 쉽게 - slick slide */
.main .easy {min-width:1234px; padding-bottom:160px;}
.main .easy p.tit {margin:159px 0 0 0; min-width:788px; font-size:48px; font-weight:700; text-align:center;}
.main .easy .easy-slide {position:relative; width:100%; overflow:hidden;}
.main .easy .easy-slide button {font-size:0; text-indent:-9999px; background-color:transparent;}
.main .easy .easy-slide .wrap {position:relative; width:788px; margin:0 auto;}
.main .easy .easy-slide .txt-wrap {margin-bottom:90px;}
.main .easy .easy-slide .slick-list {width:100%; overflow:visible;}
.main .easy .easy-slide .slick-slide {position:relative; width:788px; margin:0 18px;}
.main .easy .easy-slide .slick-arrow {overflow:hidden; display:block; width:64px; height:64px; position:absolute; top:calc(50% - -120px);}
.main .easy .easy-slide .slide .txt-wrap {opacity:0; }
.main .easy .easy-slide .slick-slide.slick-current .txt-wrap {opacity:1; transition:opacity 0.8s;} 
.main .easy .easy-slide .slick-slide .slide::after {content:''; opacity:0; position:absolute; top:340px; transform:scale(0); transition:opacity 0.6s, transform 0.6s; transition-timing-function:cubic-bezier(0.93, -0.03, 0.16, 1.26);}
.main .easy .easy-slide .slick-slide.slick-current .slide::after {opacity:1; transform:scale(1);}
.main .easy .easy-slide .slick-slide .slide-01::after {width:784px; height:572px; background:url('../images/main/easy-slide-01.png') no-repeat;}
.main .easy .easy-slide .slick-slide .slide-02::after {width:719px; height:496px; background:url('../images/main/easy-slide-02.png') no-repeat;}
.main .easy .easy-slide .slick-slide .slide-03::after {width:798px; height:465px; background:url('../images/main/easy-slide-03.png') no-repeat;}
.main .easy .easy-slide .slick-slide .slide-04::after {width:736px; height:398px; background:url('../images/main/easy-slide-04.png') no-repeat; left:90px;}
.main .easy .easy-slide .slick-slide .slide-05::after {width:882px; height:490px; background:url('../images/main/easy-slide-05.png') no-repeat;}

/* 오피스넥스는? */
.main .officenex {min-width:1234px; position:relative; height:1080px; padding-top:140px; background-color:#fff7db;} 
.main .officenex .wrap-img {width:880px; height:409px; position:absolute; left:calc(50% - 440px); top:320px;}
.main .officenex::before {content:''; display:block; position:absolute; width:652px; height:512px; background:url('../images/main/bg-trophy.png') no-repeat; left:50%; transform:translateX(-50%); bottom:0; z-index:1;}

.main .officenex .knowhow-wrap {height:120px; display:flex; justify-content:center; align-items:center; margin:80px auto 0; text-align:center;}
.main .officenex .knowhow-txt {position:relative; width:100%; max-width:272px; height:120px; padding-top:24px; margin-right:70px; background:url('../images/main/main-nex-knowhow.png') no-repeat; background-size:100% 120px;font-size:24px; font-weight:700; color:#987f5a;}
.main .officenex .knowhow-txt:last-child {margin-right:0;}
.main .officenex .circle-wrap {position:relative; width:510px; height:384px; margin:53px auto 0; z-index:2;}
.main .officenex .circle-wrap span {content:''; display:block; position:absolute; width:140px; height:140px; padding:34px 0; font-size:24px; font-weight:700; color:#6a5f3f; text-align:center; background:url('../images/main/bg-knowhow-circle.png') no-repeat; z-index:2;}
.main .officenex .circle-wrap .circle-01 {left:50%; transform:translateX(-50%); top:0;}
.main .officenex .circle-wrap .circle-02 {left:0; bottom:0;}
.main .officenex .circle-wrap .circle-03 {top:140px; right:0;}

/* 넥스에이전트 최고의 혜택 */
.main .benefit {min-width:1234px; padding-bottom:150px;}
.main .benefit .tit-main {margin:150px 0 64px 0;}

.main .benefit .slide .block {display:flex; flex-wrap:wrap; align-items:center; height:520px;}
.main .benefit .slide .block .img {position:relative; padding-left:34px;}
.main .benefit .slide .block .img::before {content:''; display:block; position:absolute; opacity:0; transform:scale(0); transition:opacity 0.6s, transform 0.6s; transition-timing-function:cubic-bezier(0.93, -0.03, 0.16, 1.26);}
.main .benefit .slick-active .block .img::before {opacity:1; transform:scale(1);}
.main .benefit .slide .block .txt-area {width:calc(100% - 554px); padding-left:100px;}
.main .benefit .slide .block-01 .img::before {width:562px; height:310px; background:url('../images/main/benefit-01.png') no-repeat; left:0; top:58px;}
.main .benefit .slide .block-01 .txt-area .bg-box {position:relative; height:140px; margin-top:60px;}
.main .benefit .slide .block-01 .txt-area .bg-box .txt {position:absolute; top:0; width:200px; height:140px; padding-top:40px; border-radius:70px; color:#3870ff; text-align:center;}
.main .benefit .slide .block-01 .txt-area .bg-box .txt:nth-child(1) {left:0; background-color:#e6edff; mix-blend-mode:multiply;}
.main .benefit .slide .block-01 .txt-area .bg-box .txt:nth-child(2) {left:180px; padding-top:28px; background-color:#ccf2ff; mix-blend-mode:multiply;}
.main .benefit .slide .block-01 .txt-area .bg-box .txt:nth-child(3) {left:360px; background-color:#fffbcc; mix-blend-mode:multiply;}
.main .benefit .slide .block-02 .img::before {width:548px; height:510px; background:url('../images/main/benefit-02.png') no-repeat; left:34px;}
.main .benefit .slide .block-02 .bg-circle {overflow:hidden; margin-top:60px;}
.main .benefit .slide .block-02 .bg-circle .txt {float:left; width:140px; height:140px; margin-left:6px; padding-top:30px; border-radius:100%; color:#fff; text-align:center;}
.main .benefit .slide .block-02 .bg-circle .txt .txt-step {display:block; font-family:'Roboto'; font-size:16px; font-weight:700; color:#fff238;}
.main .benefit .slide .block-02 .bg-circle .txt:nth-child(1) {margin-left:0; background-color:#ff8838;}
.main .benefit .slide .block-02 .bg-circle .txt:nth-child(2) {background-color:#03bbe0;}
.main .benefit .slide .block-02 .bg-circle .txt:nth-child(3) {background-color:#0894fc;}
.main .benefit .slide .block-02 .bg-circle .txt:nth-child(4) {background-color:#3870ff;}
.main .benefit .slide .block-03 .img::before {width:548px; height:510px; background:url('../images/main/benefit-03.png') no-repeat; left:0; top:145px;}
.main .benefit .slide .block-03 .sale-off {margin-top:60px;}
.main .benefit .slide .block-03 .sale-off .txt {color:#000;}
.main .benefit .slide .block-03 .sale-off .cont {overflow:hidden; margin-top:20px; color:#fff;}
.main .benefit .slide .block-03 .sale-off .cont .col {float:left; width:116px; height:181px; margin-left:10px; padding-top:18px; text-align:center; background-color:#03b8e0; border-radius:58px;}
.main .benefit .slide .block-03 .sale-off .cont .col .num {display:flex; flex-wrap:wrap; width:80px; height:80px; margin:0 auto 16px auto; justify-content:center; align-items:center; font-family:'Roboto', sans-serif; background-color:#fff; border-radius:80px;}
.main .benefit .slide .block-03 .sale-off .cont .col .num em {font-size:24px;}
.main .benefit .slide .block-03 .sale-off .cont .col:nth-child(1) {margin-left:0; background-color:#03b8e0;}
.main .benefit .slide .block-03 .sale-off .cont .col:nth-child(1) .num {color:#03b8e0;}
.main .benefit .slide .block-03 .sale-off .cont .col:nth-child(2) {background-color:#0894fc;}
.main .benefit .slide .block-03 .sale-off .cont .col:nth-child(2) .num {color:#0894fc;}
.main .benefit .slide .block-03 .sale-off .cont .col:nth-child(3) {background-color:#03b8e0;}
.main .benefit .slide .block-03 .sale-off .cont .col:nth-child(3) .num {color:#03b8e0;}
.main .benefit .slide .block-04 .img::before {width:548px; height:510px; background:url('../images/main/benefit-04.png') no-repeat; left:0; top:141px;}
.main .benefit .slide .block-04 .bg-circle {position:relative; height:140px; margin-top:60px;}
.main .benefit .slide .block-04 .bg-circle .txt {position:absolute; top:0; width:140px; height:140px; padding-top:40px; border-radius:140px; color:#3870ff; text-align:center;}
.main .benefit .slide .block-04 .bg-circle .txt:nth-child(1) {left:0; background-color:#e6edff; mix-blend-mode:multiply;}
.main .benefit .slide .block-04 .bg-circle .txt:nth-child(2) {left:125px; background-color:#ccf2ff; mix-blend-mode:multiply;}
.main .benefit .slide .block-04 .bg-circle .txt:nth-child(3) {left:250px; background-color:#fffbcc; mix-blend-mode:multiply;}
.main .benefit .slide .block-04 .bg-circle .txt:nth-child(4) {left:375px; background-color:#ffe6f6; mix-blend-mode:multiply;}
.main .benefit .slide .block-05 .img::before {width:548px; height:510px; background:url('../images/main/benefit-05.png') no-repeat; left:0; top:122px;} 
.main .benefit .slide .block-05 .bg-circle {position:relative; height:140px; margin-top:60px;}
.main .benefit .slide .block-05 .bg-circle .txt {position:absolute; top:0; width:140px; height:140px; padding-top:40px; border-radius:140px; color:#3870ff; text-align:center;}
.main .benefit .slide .block-05 .bg-circle .txt:nth-child(1) {left:0; background-color:#e6edff; mix-blend-mode:multiply;}
.main .benefit .slide .block-05 .bg-circle .txt:nth-child(2) {left:125px; background-color:#ccf2ff; mix-blend-mode:multiply;}
.main .benefit .slide .block-05 .bg-circle .txt:nth-child(3) {left:250px; background-color:#fffbcc; mix-blend-mode:multiply;}
.main .benefit .slide .block-05 .bg-circle .txt:nth-child(4) {left:375px; background-color:#ffe6f6; mix-blend-mode:multiply;}

/* 가입 신청하기 */
.main .join {min-width:1234px; background:#252937; color:#fff; padding:86px 0;}
.main .join p.txt-01 {font-size:36px; font-weight:500; text-align:center;}
.main .join .button-group {margin:48px 0 0 0;}
.main .join .button-group .button {min-width:171px; height:60px; padding:0 36px; font-size:18px;}
.main .join .button-group .button + .button {margin-left:16px;}

/* 국내 No.1 경쟁력 주문시스템 */
.main .order {min-width:1234px; padding-bottom:150px;}
.main .order .tit-main {margin:150px 0 64px 0;}
.main .order .slide .block {display:flex; flex-wrap:wrap; flex-direction:row-reverse; align-items:center; height:520px;}
.main .order .slide .block .img {position:relative;}
.main .order .slide .block .img::before {content:''; display:block; position:absolute; opacity:0; transform:scale(0); transition:opacity 0.6s, transform 0.6s; transition-timing-function:cubic-bezier(0.93, -0.03, 0.16, 1.26);}
.main .order .slick-active .block .img::before {opacity:1; transform:scale(1);}
.main .order .slide .block .txt-area {width:calc(100% - 554px); padding-right:100px;}
.main .order .slide .block .txt-area .banner {overflow:hidden; padding-top:60px; font-size:0; line-height:0;}
.main .order .slide .block .txt-area .banner img {float:left; margin-left:40px;}
.main .order .slide .block .txt-area .banner img:first-child {margin-left:0;}
.main .order .slide .block .txt-area .step {overflow:hidden; list-style-type:none; margin:60px 0 0 0; padding:0;}
.main .order .slide .block .txt-area .step li {float:left; margin:0; padding:0 0 0 52px; text-align:center; background:url('../images/contents/bg/bg-arr-gray.png') no-repeat 15px center;}
.main .order .slide .block .txt-area .step li:first-child {padding-left:0; background-image:none;}
.main .order .slide .block .txt-area .step li .iconset {display:block; margin:0 0 10px 0;}
.main .order .slide .block-01 .img::before {width:600px; height:312px; background:url('../images/main/order-01.png') no-repeat; right:0; bottom:5px;}
.main .order .slide .block-02 .img::before {width:620px; height:540px; background:url('../images/main/order-02.png') no-repeat; right:0;}
.main .order .slide .block-03 .img::before {width:520px; height:93px; background:url('../images/main/order-03.png') no-repeat; right:0; bottom:30px;}
.main .order .slide .block-04 .img::before {width:610px; height:422px; background:url('../images/main/order-04.png') no-repeat; right:0; bottom:40px;}

/* 국내 No.1 배송시스템 */
.main .delivery {min-width:1234px; background:#fafafa; padding-bottom:199px;}
.main .delivery .txt-wrap {position:relative; width:1200px; margin:0 auto;}
.main .delivery .tit-main {padding-top:200px; text-align:left;}
.main .delivery p.txt {text-align:left;}
.main .delivery .button {position:absolute; min-width:183px; height:60px; top:258px; right:0; background:transparent; font-size:18px; font-weight:500; color:#000;}
.main .delivery .delivery-slide {width:100%; overflow:hidden; margin-top:90px;}
.main .delivery .delivery-slide .slick-list {width:100%; overflow:visible; margin-left:-324px;}
.main .delivery .delivery-slide .slick-slide {position:relative; width:582px; height:422px; margin:0 18px;}
.main .delivery .delivery-slide .slick-slide .slide {overflow:hidden; max-width:582px; height:422px; border-radius:24px;}
.main .delivery .delivery-slide .slick-slide img {width:100%; height:100%; transition:transform .5s;}
.main .delivery .delivery-slide .slick-slide img {transform: scale(1.1) rotate(.001deg);}

/* 고객이 오피스넥스를 믿고 선택한 이유가 있습니다 */
.main .join-total {min-width:1234px; background:#ff4c37; padding-bottom:203px; color:#fff;}
.main .join-total .inner-wrap {position:relative;}
.main .join-total .tit-main {padding:203px 0 90px 0; text-align:left;}
.main .join-total .button {position:absolute; min-width:183px; height:60px; top:258px; right:0; font-size:18px; font-weight:500;}
.main .join-total .box-wrap {display:flex; justify-content:space-between;}
.main .join-total .box {min-width:376px; height:402px; padding:0; border:2px solid rgba(255,255,255,0.2); border-radius:24px; text-align:center;}
.main .join-total .box i {display:block; width:130px; height:130px; margin:64px auto 48px;}
.main .join-total .box i.ico-main-join {background:url('../images/main/ico-main-join.png') no-repeat;}
.main .join-total .box i.ico-main-sum {background:url('../images/main/ico-main-sum.png') no-repeat;}
.main .join-total .box i.ico-main-customer {background:url('../images/main/ico-main-customer.png') no-repeat;}
.main .join-total strong.num {font-family:'Roboto'; font-size:36px; color:#fff238;}
.main .join-total .box span.num {font-size:26px; vertical-align:text-bottom;}
.main .join-total .box p.txt {margin-top:16px;}
.main .join-total p.current {margin-top:24px; font-size:16px; font-weight:500; color:rgba(255, 255, 255, 0.8); float:right;}

/* 오피스넥스를 만나 나는 이렇게 성공했어요 */
.main .success {padding-bottom:182px;}
.main .success .inner-wrap {position:relative;}
.main .success .tit-main {padding-top:182px; margin-bottom:90px; text-align:left;}
.main .success .button {position:absolute; min-width:183px; height:60px; top:258px; right:0; background:transparent; font-size:18px; font-weight:500; color:#000;}
.main .success .wrap {display:flex; justify-content:space-between;}
.main .success .wrap .block {width:376px; height:265px; background:#fafafa; border-radius:24px; overflow:hidden;}
.main .success .wrap .block img {width:376px; height:268px; transition:transform .5s;}
.main .success .wrap .block img:hover {transform: scale(1.1) rotate(.001deg);}
.main .success .wrap a {text-decoration:none;}
.main .success .wrap .block .txt-wrap {padding:32px;}
.main .success .wrap .block .tit-wrap {display:flex; align-items:center;}
.main .success .wrap .block .tit {padding-left:12px; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden; max-width:312px; height:62px; max-height:104px; line-height:1.5; font-size:18px; font-weight:500;}
.main .success .wrap .block .desc {display:-webkit-box; margin-top:20px; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden; max-width:312px; max-height:104px; line-height:1.5; font-size:18px; color:#666; word-break:keep-all;}
.main .success .wrap .block .date {margin-top:20px;color:#666;}
