@charset "utf-8";
/* ==========================================================================
	
	common style
	
========================================================================== */
* {box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

html, body {width:100%; height:100%; margin:0; padding:0;}
body {overflow:visible; color:#000; font-size:18px; letter-spacing:-0.005em; line-height:1.5; font-weight:400; font-family:'Noto Sans KR', 'Roboto', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif; background-color:#fff;}

body.overflow {overflow:hidden}

/* 스크린 리더같은 보조기기는 인식하고 화면에서만 안보이게 처리 */
.hidden {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0; clip:rect(0 0 0 0); clip-path:inset(50%); white-space:nowrap; text-indent:-9999px;}

/* 앵커 */
a:link,
a:active {color:#000; text-decoration:none;}
a:visited,
a:hover,
a:focus {color:#000; text-decoration:none;}
a:hover {text-decoration:underline;}

/* heading */
h1, h2, h3, h4, h5, h6 {margin:0; padding:0;}

/* etc */
iframe {display:inline-block; border:0;}
figure, figcaption {margin:0; padding:0;}
address {margin:0; padding:0; font-style:normal;}

b, strong {font-weight:700;}
em {font-style:normal;}

/* font */
/* font-family @@ default : Noto Sans KR @@ */
.roboto {font-family:'Roboto', sans-serif !important;}

/* font-weight @@ default : 400 @@ */

.fw400 {font-weight:400 !important;}
.fw500 {font-weight:500 !important;}
.fw600 {font-weight:600 !important;}
.fw700 {font-weight:700 !important;}
.fw800 {font-weight:800 !important;}

/* font-size */
.font14 {font-size:14px !important;}

/* ellipsis : 말줄임 */
.ellipsis {overflow:hidden; display:inline-block; max-width:100%; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;}

/* color */
.color-blue {color:#3870ff !important;}
.color-red {color:#ff4c37 !important;}
.color-red-v2 {color:#e04046 !important;}
.color-yellow {color:#fff238 !important;}

/* width */
.w20px {width:20px !important;}
.w30px {width:30px !important;}
.w40px {width:40px !important;}
.w50px {width:50px !important;}
.w60px {width:60px !important;}
.w70px {width:70px !important;}
.w80px {width:80px !important;}
.w90px {width:90px !important;}
.w100px {width:100px !important;}
.w140px {width:140px !important;}
.w150px {width:150px !important;} 
.w200px {width:200px !important;}

/* margin */
.mg00 {margin:0 !important;}

.mgt00 {margin-top:0 !important;}
.mgt10 {margin-top:10px !important;}
.mgt20 {margin-top:20px !important;}
.mgt24 {margin-top:24px !important;}
.mgt30 {margin-top:30px !important;}
.mgt40 {margin-top:40px !important;}
.mgt50 {margin-top:50px !important;}
.mgt60 {margin-top:60px !important;}
.mgt70 {margin-top:70px !important;}
.mgt80 {margin-top:80px !important;}
.mgt90 {margin-top:90px !important;}
.mgt100 {margin-top:100px !important;}
.mgt110 {margin-top:110px !important;}

.mgr00 {margin-right:0 !important;}
.mgr10 {margin-right:10px !important;}
.mgr20 {margin-right:20px !important;}
.mgr30 {margin-right:30px !important;}
.mgr40 {margin-right:40px !important;}
.mgr50 {margin-right:50px !important;}
.mgr60 {margin-right:60px !important;}
.mgr70 {margin-right:70px !important;}
.mgr80 {margin-right:80px !important;}
.mgr90 {margin-right:90px !important;}
.mgr100 {margin-right:100px !important;}

.mgb00 {margin-bottom:0 !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb30 {margin-bottom:30px !important;}
.mgb40 {margin-bottom:40px !important;}
.mgb50 {margin-bottom:50px !important;}
.mgb60 {margin-bottom:60px !important;}
.mgb70 {margin-bottom:70px !important;}
.mgb80 {margin-bottom:80px !important;}
.mgb90 {margin-bottom:90px !important;}
.mgb100 {margin-bottom:100px !important;}

.mgl00 {margin-left:0 !important;}
.mgl10 {margin-left:10px !important;}
.mgl20 {margin-left:20px !important;}
.mgl30 {margin-left:30px !important;}
.mgl40 {margin-left:40px !important;}
.mgl50 {margin-left:50px !important;}
.mgl60 {margin-left:60px !important;}
.mgl70 {margin-left:70px !important;}
.mgl80 {margin-left:80px !important;}
.mgl90 {margin-left:90px !important;}
.mgl100 {margin-left:100px !important;}

/* padding */
.pd00 {padding:0 !important;}

.pdt00 {padding-top:0 !important;}
.pdt10 {padding-top:10px !important;}
.pdt20 {padding-top:20px !important;}
.pdt30 {padding-top:30px !important;}
.pdt40 {padding-top:40px !important;}
.pdt50 {padding-top:50px !important;}
.pdt60 {padding-top:60px !important;}
.pdt70 {padding-top:70px !important;}
.pdt80 {padding-top:80px !important;}
.pdt90 {padding-top:90px !important;}
.pdt100 {padding-top:100px !important;}

.pdr00 {padding-right:0 !important;}
.pdr10 {padding-right:10px !important;}
.pdr20 {padding-right:20px !important;}
.pdr30 {padding-right:30px !important;}
.pdr40 {padding-right:40px !important;}
.pdr50 {padding-right:50px !important;}
.pdr60 {padding-right:60px !important;}
.pdr70 {padding-right:70px !important;}
.pdr80 {padding-right:80px !important;}
.pdr90 {padding-right:90px !important;}
.pdr100 {padding-right:100px !important;}

.pdb00 {padding-bottom:0 !important;}
.pdb10 {padding-bottom:10px !important;}
.pdb20 {padding-bottom:20px !important;}
.pdb30 {padding-bottom:30px !important;}
.pdb40 {padding-bottom:40px !important;}
.pdb50 {padding-bottom:50px !important;}
.pdb60 {padding-bottom:60px !important;}
.pdb70 {padding-bottom:70px !important;}
.pdb80 {padding-bottom:80px !important;}
.pdb90 {padding-bottom:90px !important;}
.pdb100 {padding-bottom:100px !important;}

.pdl00 {padding-left:0 !important;}
.pdl10 {padding-left:10px !important;}
.pdl20 {padding-left:20px !important;}
.pdl30 {padding-left:30px !important;}
.pdl40 {padding-left:40px !important;}
.pdl50 {padding-left:50px !important;}
.pdl60 {padding-left:60px !important;}
.pdl70 {padding-left:70px !important;}
.pdl80 {padding-left:80px !important;}
.pdl90 {padding-left:90px !important;}
.pdl100 {padding-left:100px !important;}

/* float */
.float-l {float:left !important;}
.float-r {float:right !important;}
.float-n {float:none !important;}

/* float clear */
.clearfix:before,
.clearfix:after {content:''; display:block;}
.clearfix:after {clear:both;}

/* text-align */
.a-l {text-align:left !important;}
.a-r {text-align:right !important;}
.a-c {text-align:center !important;}
.a-j {text-align:justify !important;}

/* vertical-align */
.va-t {vertical-align:top !important;}
.va-m {vertical-align:middle !important;}
.va-b {vertical-align:bottom !important;}

/* block */
.block {display:block;}
.inline-block {display:inline-block;}


/* component
========================================================================== */

/* label */
label {display:inline-block; vertical-align:middle; cursor:pointer;}

/* input */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {-webkit-appearance :none; margin:0;}
input[type='number'] {-moz-appearance :textfield;}

/* placeholder */
::placeholder {color:#777; opacity:1;}
:-ms-input-placeholder {color:#777;}
::-ms-input-placeholder {color:#777;}
[disabled]::placeholder {color:#999; opacity:1;}
[disabled]:-ms-input-placeholder {color:#999;}
[disabled]::-ms-input-placeholder {color:#999;}

/* wrap-input */
.wrap-input {display:block;}

/* input :text, password, number, tel, email 등등 */
.input-text {display:inline-block; width:100%; height:50px; padding:13px 16px; color:#000; font-size:16px; line-height:1.5; vertical-align:middle; border-radius:8px; border:1px solid #ddd; background-color:#fff;}
.input-text:hover {background-color:#f5f8ff;}
.input-text:focus {outline:none; border-color:#3870ff; background-color:#fff;}
.input-text[disabled] {color:#999; border-color:#ddd; background-color:#f1f1f1;}
/* error 인 경우 */
[class^='wrap-']:not(.wrap-unit, .wrap-tel, .wrap-corp).err .input-text {border-color:#ff4c37;}
[class^='wrap-']:not(.wrap-unit, .wrap-tel, .wrap-corp).err .input-text:focus {border-color:#3870ff;}

/* input :: unit 단위 */
.wrap-unit {display:inline-flex; justify-content:space-between; align-items:center; width:100%; height:50px; padding:0 18px 0 16px; border-radius:8px; border:1px solid #ddd; background-color:#fff;}
.wrap-unit:hover {background-color:#f5f8ff;}
.wrap-unit.focus {border-color:#3870ff; background-color:#fff;}
.wrap-unit > .input-text {width:100%; height:100%; padding:13px 0; border:0; background-color:transparent;}
.wrap-unit > .input-text:hover {background-color:transparent;}
.wrap-unit > .unit {display:inline-block; margin:0 0 0 16px; text-align:right; font-size:16px; white-space:nowrap; color:#777;}
/* error 인 경우 */
.wrap-unit.err {border-color:#ff4c37;}
.wrap-unit.err.focus {border-color:#3870ff;}

/* input + num :: 사업자번호, 휴대폰번호 등 */
.wrap-tel,
.wrap-corp {display:flex; align-items:center;}
.wrap-tel .num,
.wrap-corp .num {width:100%;}
.wrap-tel .num > .input-text,
.wrap-corp .num > .input-text {text-align:center;}
.wrap-tel .num + .num,
.wrap-corp .num + .num {margin-left:10px;}
/* error 인 경우 */
.wrap-tel .num.err > .input-text,
.wrap-corp .num.err > .input-text {border-color:#ff4c37;}
.wrap-tel .num.err > .input-text:focus,
.wrap-corp .num.err > .input-text:focus {border-color:#3870ff;}

/* select */
select {text-overflow:ellipsis; width:100%; height:50px; padding:13px 46px 13px 16px; color:#777; font-size:16px; line-height:1.5; vertical-align:middle; border:1px solid #ddd; border-radius:8px; background:#fff url('../images/common/bg/bg-select-arr.png') no-repeat right 16px top 15px;
	-webkit-appearance:none;
	-moz-appearance:none;}
select:hover {background-color:#f5f8ff;}
select:focus {outline:none; border-color:#3870ff; background-color:#fff;}
select[disabled] {color:#999; background:#f1f1f1 url('../images/common/bg/bg-select-arr-disabled.png') no-repeat right 16px top 15px; opacity:1;}
select::-ms-expand {display:none;}
select + select {margin-top:10px;}
/* error 인 경우 */
select.err {border-color:#ff4c37;}
select.err:focus {border-color:#3870ff;}

/* 주소 */
.input-address select + .input-text {margin-top:10px;}
/* error 인 경우 */
.input-address.err .input-text {border-color:#ff4c37;}


.input-post .post .input-text {width:100px; margin:0; text-align:center;}
.input-post .post .button {width:120px; min-width:auto; height:50px; margin:0 0 0 6px; padding:0 10px; font-size:16px; line-height:56px; border-radius:8px;}
.input-post .input-text {margin:10px 0 0 0;}

.board-form .input-post .post {margin-top:0;}
.board-form .input-post .post .input-text {margin-top:0;}
.board-form .input-post .post .button {margin-left:4px;}
.board-form .input-post .input-text {margin:8px 0 0 0;}
.board-form .input-post .input-text:last-child {margin-bottom:0;}

/* textarea :width, height 의 경우 다중 클래스로 제어가능 */
.input-textarea {width:100%; height:180px; padding:16px; color:#000; font-size:16px; line-height:1.5; border-radius:8px; border:1px solid #ddd; background-color:#fff; vertical-align:middle; resize:none; scrollbar-width:thin; scrollbar-color:#3870ff transparent;}
.input-textarea:-webkit-scrollbar {width:4px;}
.input-textarea:-webkit-scrollbar-track {background:transparent;}
.input-textarea:-webkit-scrollbar-thumb {border-radius:2px; border:4px solid transparent; background-color:#3870ff;}

.input-textarea::-webkit-scrollbar {width:4px;}
.input-textarea::-webkit-scrollbar-thumb {height:100px; border-radius:2px; background-clip:padding-box; background-color:#3870ff;}

.input-textarea:focus {outline:none; border-color:#3870ff; background-color:#fff;}
.input-textarea[disabled] {color:#999; background-color:#f1f1f1;}

/* checkbox , radio */
.bg-chk {display:block; position:relative; font-size:16px;}
.bg-chk + .bg-chk {margin-top:10px;}
.bg-chk > .input-text {margin-top:10px;}
.half .bg-chk {display:inline-block; max-width:calc(50% - 30px); margin-left:26px; margin-top:0; vertical-align:middle;}
.half .bg-chk:nth-child(2) ~ .bg-chk {margin-top:10px;}
.half .bg-chk:nth-child(2n-1) {width:50%; margin-left:0;}
.bg-chk [type='checkbox'],
.bg-chk [type='radio'] {opacity:0; position:absolute; left:0; top:0; width:24px; height:24px; line-height:1.4;}
.bg-chk label {position:relative; padding-left:32px; line-height:1.4;}
.bg-chk label:before {content:''; display:block; position:absolute; left:0; top:0; width:24px; height:24px;}
.bg-chk [type='checkbox']:focus + label {outline:1px solid #3870ff;}
.bg-chk [type='checkbox']:focus:not(:focus-visible) + label {outline:none;}
.bg-chk [type='checkbox'] + label:before {background:url('../images/common/bg/bg-checkbox.png') no-repeat 0;}
.bg-chk [type='checkbox']:checked + label:before {background:url('../images/common/bg/bg-checkbox-on.png') no-repeat 0;}
.bg-chk [type='checkbox'][disabled] + label:before {background:url('../images/common/bg/bg-checkbox-disabled.png') no-repeat 0;}
.bg-chk [type='checkbox']:checked[disabled] + label:before {background:url('../images/common/bg/bg-checkbox-disabled-on.png') no-repeat 0;}
.bg-chk [type='radio']:focus + label {outline:1px solid #3870ff;}
.bg-chk [type='radio']:focus:not(:focus-visible) + label {outline:none;}
.bg-chk [type='radio'] + label:before {background:url('../images/common/bg/bg-radio.png') no-repeat 0;}
.bg-chk [type='radio']:checked + label:before {background:url('../images/common/bg/bg-radio-on.png') no-repeat 0;}
.bg-chk [type='radio'][disabled] + label:before {background:url('../images/common/bg/bg-radio-disabled.png') no-repeat 0;}
.bg-chk [type='radio']:checked[disabled] + label:before {background:url('../images/common/bg/bg-radio-disabled-on.png') no-repeat 0;}

/* button */
button {cursor:pointer; border:0; vertical-align:middle;}
button.reset {padding:0; background-color:transparent;}

.button,
a.button {display:inline-flex; justify-content:center; align-items:center; width:100%;  height:60px; padding:0 74px; color:#fff; font-size:18px; font-weight:400; vertical-align:middle; text-decoration:none; border-radius:30px; background-color:#252937; transition:opacity 0.3s, color 0.3s, border-color 0.3s, background-color 0.3s;}
.button:hover,
a.button:hover {color:#fff; background-color:#33394d;}
.button[disabled],
.button.disabled,
a.button.disabled {opacity:1; color:#999 !important; background-color:#f1f1f1 !important;}
.button[disabled],
.disabled {cursor:default;}
a.disabled:focus {outline:none;}

/* button more */
.button.more {height:50px; color:#999; font-size:16px; font-weight:500; background-color:#fff;}
.button.more:hover {text-decoration:underline; color:#999; background-color:#fff;}

/* button size */
.button.small {min-width:127px; width:auto; height:48px; padding:0 24px; font-size:16px; font-weight:500; border-radius:39px;}

/* button color */
.button.blue {color:#3870ff; border:2px solid #3870ff; background-color:#fff;}
.button.blue:hover {color:#fff; background-color:#3870ff;}

/* background 에 색깔있을 경우 */
.button.bg {color:#fff; background-color:transparent; border:2px solid #fff;}
.button.bg:hover {border-color:rgba(255,255,255,0.6); background-color:transparent;}
.button.bg.white {color:#000; background-color:#fff; border:0;}
.button.bg.white:hover {opacity:0.6;}


/* button 안에 아이콘 있을때 */
.button.icon {padding:0 22px 0 26px; font-size:15px;}
.button.icon.blue:hover .ico-arr-blue {background:url('../images/common/ico/ico-arr-white.png') no-repeat 0 1px; background-size:20px;}

/* button-group */
.button-group {margin:48px 0 0 0; text-align:center;}
.button-group.right {text-align:right;}
.button-group.left {text-align:left;}

.accordion + .button-group,
.list-data + .button-group {margin-top:20px;}

/* icon */
.iconset {overflow:hidden; display:inline-block; margin:-1px 0 0 0; padding:0; font-size:0; line-height:0; text-indent:-9999px; vertical-align:middle; background-position:0 0; background-repeat:no-repeat;}
	
	/* no-data */
	.ico-no-data {width:65px; height:65px; background:url('../images/common/ico/ico-no-data.png') no-repeat; background-size:65px auto;}

	/* 버튼 내부 화살표 */
	.ico-arr-black {width:20px; height:20px; margin-left:2px; background:url('../images/common/ico/ico-arr-black.png') no-repeat 0 1px; background-size:20px auto;}
	.ico-arr-white {width:20px; height:20px; margin-left:2px; background:url('../images/common/ico/ico-arr-white.png') no-repeat 0 1px; background-size:20px auto;}
	.ico-arr-blue {width:20px; height:20px; margin-left:2px; background:url('../images/common/ico/ico-arr-blue.png') no-repeat 0 1px; background-size:20px auto; transition:background 0.3s;}

	/* 모달 아이콘 */
	.ico-money {width:48px; height:48px; background:url('../images/common/ico/ico-money.png') no-repeat; background-size:48px;}
	.ico-pen {width:48px; height:48px; background:url('../images/common/ico/ico-pen.png') no-repeat; background-size:48px;}

	/* 메인 */
	.ico-arr-btm {width:19.5px; height:30px; margin-left:3px; vertical-align:text-top; background:url('../images/common/ico/ico-arr-btm.png') no-repeat 0 50%; background-size:19px auto;}

	/* 사업영역 */
	.ico-medal {width:42px; height:42px; background:url('../images/common/ico/ico-medal.png') no-repeat 0 50%; background-size:39px auto;}
	.ico-trophy {width:42px; height:42px; background:url('../images/common/ico/ico-trophy.png') no-repeat 0 50%; background-size:39px auto;}

	/* 상담성과 */
	.ico-calender {width:16px; height:16px; margin-right:4px; background:url('../images/common/ico/ico-calender.png') no-repeat 0; background-size:16px auto;}


/* title */
h2.title-2 {display:block; width:100%; padding:15px 0 16px; text-align:center; line-height:1.6;}
.wrap-tit {text-align:center;}
.title-3 {margin:0; font-size:26px; font-weight:500; line-height:1.4;}
.title-4 {margin:0; font-size:22px; font-weight:500; line-height:1.4;}
.title-3 + .txt {margin:16px 0 0; color:#666;}

/* text */
/* p태그 reset */
p.reset {padding:0; margin:0;}
.channel {color:#3870ff;}
.info-text {margin:10px 0 0; font-size:14px; line-height:1.4; color:#999; font-weight:400;}
.txt-alert {position:relative; margin:20px 0 0; padding-left:28px; color:#ff4c37;}
.txt-alert:before {content:''; position:absolute; left:0; top:0px; width:20px; height:27px; background:url('../images/common/bg/bg-alert.png') no-repeat center; background-size:20px auto;}

.req {overflow:hidden; display:inline-block; width:5px; height:5px; margin-left:4px; border-radius:5px; font-size:0; line-height:0; text-indent:-99px; vertical-align:top; background-color:#e93a03;}

/* ul, ol 태그 reset */
ul.reset, ul.reset > li, ol.reset, ol.reset > li {list-style-type:none; padding:0; margin:0;}

/* list */
.list-dot {list-style-type:none; padding:0; margin:0;}
.list-dot > li {position:relative; padding-left:10px; color:#666; word-break:break-all;}
.list-dot > li:before {content:''; position:absolute; top:13px; left:0; width:4px; height:4px; background-color:#666; border-radius:4px;}
.list-dot > li + li {margin-top:12px;}

/* dash - list */
.list-dash {list-style-type:none; padding:0; margin:0;}
.list-dash > li {position:relative; padding-left:10px; color:#666; word-break:break-all;}
.list-dash > li:before {content:''; position:absolute; top:13px; left:0; width:4px; height:1px; background-color:#666;}
.list-dash > li + li {margin-top:10px;}

.list-dot > li > .list-dash {margin-top:10px;}

/* table reset */
table {width:100%; margin:0; border:0; table-layout:fixed; border-collapse:collapse; empty-cells:show;}
table caption {position:absolute; left:-9999px; width:0; height:0; font-size:0; line-height:0;}
table th,
table td {padding:0; word-break:break-all;}
[class^='board-'] {border-top:2px solid #252937;} 

/* 게시판 리스트 */
.board-list table thead th {height:58px; padding:15px 16px; color:#000; text-align:center; font-weight:inherit; border-bottom:1px solid #ededed; background-color:#fff;}
.board-list table tr td {height:59px; padding:15px 16px; color:#666; text-align:center; border-bottom:1px solid #ededed;}
.board-list table tbody tr:hover td {background-color:#f6f6f6;}

/* 게시판 폼 */
.board-form table tr:first-child td {padding:24px 0 20px;}
.board-form table tr td {padding:20px 0; text-align:left;}
.board-form table tr:last-child td {padding:20px 0 0; text-align:left;}
.board-form table td .label-input {margin-bottom:16px;}

.board-form + .tit {margin:40px 0 16px 0;}
.box-agree > .agree-cont {overflow-y:auto; width:100%; height:180px; margin-bottom:16px; padding:16px; color:#666; font-size:16px; font-weight:400; border-radius:8px; border:1px solid #ddd; background-color:#fff; scrollbar-width:thin; scrollbar-color:#3870ff transparent;}

.box-agree > .agree-cont:-webkit-scrollbar {width:4px;}
.box-agree > .agree-cont:-webkit-scrollbar-track {background:transparent;}
.box-agree > .agree-cont:-webkit-scrollbar-thumb {border-radius:2px; border:4px solid transparent; background-color:#3870ff;}

.box-agree > .agree-cont::-webkit-scrollbar {width:4px;}
.box-agree > .agree-cont::-webkit-scrollbar-thumb {height:100px; border-radius:2px; background-clip:padding-box; background-color:#3870ff;}

.box-agree > .agree-chk {text-align:left;}
.box-agree > .agree-chk > .bg-chk  {font-size:16px; line-height:1.4;}

/* 게시판 상세 */
.board-view {border:0;}
.board-view .post-info {margin-bottom:20px;}
.board-view .post-info .channel {margin:0 0 8px; font-size:14px;}
.board-view .wrap-title .tit {margin:0; margin-bottom:12px; font-size:22px; font-weight:500; line-height:1.4; white-space:normal; word-break:break-all;}
.board-view .wrap-title .date {margin:0; color:#666; font-size:14px; font-family:'Roboto', sans-serif;}
.board-view .post-content {width:100%; padding:20px 0; color:#666; font-size:16px; border-top:2px solid #252937; border-bottom:1px solid #ddd; word-break:keep-all}
.board-view .post-content > * {max-width:100%;}

/* 카드형 게시판 목록 */
.list-data {width:100%;  list-style-type:none; padding:0; margin:0;}
.list-data > li + li {margin-top:40px;}
.list-data > li .img {overflow:hidden; width:100%; min-width:248px; max-width:496px; min-height:177px; max-height:354px; margin:0 auto; border-radius:12px;}
.list-data > li .img img {display:block; width:100%; height:100%;}
.list-data > li .wrap-title {width:100%; margin-top:16px;}
.list-data > li .wrap-title .channel {margin:0; margin-bottom:8px; font-size:14px;}
.list-data > li .wrap-title .tit {overflow:hidden; display:-webkit-box; max-height:54px; margin:0; font-weight:500; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis;}
.list-data > li .wrap-title .date {margin:0; margin-top:12px; color:#666; font-size:14px; font-family:'Roboto', sans-serif;}

/* pagination */
.pagination {display:flex; justify-content:center; align-items:center; gap:8px; margin-top:56px;}
.pagination a {display:block; width:40px; height:40px; text-align:center; line-height:2.16; color:#666; border-radius:20px; text-decoration:none;}
.pagination a:not(.disabled):hover {color:#fff; background-color:#3870ff;}
.pagination .arr {text-indent:-9999px;}
.pagination .arr:not(.disabled):hover {background-color:#fafafa;}
.pagination .first {background:url('../images/common/btn/btn-paging-first.png') no-repeat;}
.pagination .prev {background:url('../images/common/btn/btn-paging-prev.png') no-repeat;}
.pagination .next {background:url('../images/common/btn/btn-paging-next.png') no-repeat;}
.pagination .last {background:url('../images/common/btn/btn-paging-last.png') no-repeat;}
.pagination .first.disabled,
.pagination .prev.disabled,
.pagination .next.disabled,
.pagination .last.disabled
{opacity:0.3;}
.pagination strong {display:block; width:40px; height:40px; font-weight:400; line-height:2.16; border-radius:20px; color:#666; text-align:center;}
.pagination .active {color:#fff; background-color:#3870ff;}

/* box */
.tab-area + .box {margin-top:-40px}
.box {padding:40px 16px; margin:0 -16px;}
.box:first-child {margin:-40px -16px;}
.box.full {margin-bottom:-150px; padding-bottom:150px;}
.box-no-data {padding-top:40px; text-align:center;}
.box-no-data > .txt {margin:20px 0 0 0; color:#666}

/* box color */
.box.bg-gray {background-color:#f2f5f6;}
.box.bg-blue {background:#69c1ff;}


/* customize */

/* slick */

/* slick 공통 */


/* layout
================================================================ 
*/

#header {display:flex; justify-content:space-between; align-items:center; position:fixed; width:100%; height:60px; top:-5px; z-index:9998; padding:16px; background-color:#fff;}
#header .a-link,
#header .btn-group button {display:inline-block; width:28px; height:28px; vertical-align:middle; text-indent:-9999px;} 
#header .a-link.btn-prev {width:28px; height:28px; margin-top:2px; background:url('../images/common/btn/btn-prev.png') no-repeat; background-size:28px;}
#header .btn-group {display:flex; margin-top:3px;}
#header .btn-mall {display:block; width:28px; height:28px; margin:0 10px 0 0; text-indent:-9999px; background:url('../images/common/btn/btn-mall.png') no-repeat; background-size:28px;}
#header .btn-gnb {width:28px; height:28px; background:url('../images/common/btn/btn-gnb.png') no-repeat; background-size:28px;}
#header h2.title {margin-left:30px; font-size:18px; font-weight:400;}

.all-menu {visibility:hidden; position:fixed; top:0; right:-100%; z-index:9999; width:100%; height:100%; transition:right 0.3s, visibility 0.3s; background:#fff;}
.all-menu.open {visibility:visible; right:0;}
.all-menu::after {content:''; display:block; position:absolute; left:0; top:160px; z-index:-1; width:117px; height:100%; background:#f2f5f6;}
.all-menu .btn-area {height:60px; padding:16px 16px 0; background:#00b9ef;}
.all-menu .txt-area p {margin:0; padding:0;}
.all-menu .txt-area {min-height:100px; padding:40px 0 32px 16px; background:#00b9ef; font-size:16px; color:#fff;}
.all-menu .txt-area span {display:block; font-weight:500;}
.all-menu .btn-area button {float:right; width:28px; height:28px; font-size:0; background:url('../images/common/btn/btn-gnb-close.png') no-repeat; background-size:28px;}

.gnb-area {position:relative; height:100%; padding:32px 16px;}
.gnb-area ul, .gnb-area li {list-style:none; padding:0; margin:0;}
.gnb-area .gnb li.depth-01 {margin-bottom:8px; font-size:16px;}
.gnb-area .gnb li.depth-01:last-child {margin-bottom:0;}
.gnb-area .gnb li.depth-01 a {display:block; width:115px; height:46px; padding:11px 0 0 16px; text-decoration:none;}
.gnb-area .gnb li.depth-01.on > a {display:block; padding:11px 0 0 0; border-radius:100px; box-shadow: 0px 4px 12px rgba(56, 112, 255, 0.18); font-weight:500; text-align:center; color:#fff; background:#00b9ef; animation:active 0.5s linear;}
@keyframes active {
	from {transform:translateX(-16px);}
	to {transform:translateX(0);}
}

.gnb-area ul.depth-02 {display:none;}
.gnb-area .gnb li.on ul.depth-02 {display:block;}
.gnb-area ul.depth-02 {position:absolute; left:131px; top:32px;}
.gnb-area ul.depth-02 li a {color:#666;}

.container {overflow:hidden; min-width:280px; min-height:calc(100% - 658px); padding:0 16px; padding-bottom:150px;}

#footer {position:relative; min-height:598px; padding:0 16px 120px; border-top:1px solid #ededed;}
#footer ul, #footer li {list-style:none; padding:0; margin:0;}
#footer .family-site {padding-top:24px;}

.family-site button.toggle {position:relative; width:100%; height:50px; padding:0; background:none; border-bottom:1px solid #000; font-size:16px;color:#777; text-align:left;}
.family-site button.toggle::before {content:''; display:block; position:absolute; right:0; width:20px; height:20px; background:url('../images/common/btn/btn-toggle.png') no-repeat center; background-size:20px;}
.family-site.on button.toggle::before {width:20px; height:20px; background:url('../images/common/btn/btn-toggle-on.png') no-repeat center; background-size:20px;}
.family-site .list {display:none; position:absolute; width:calc(100% - 32px); top:-138px; background:#fff; border:1px solid #ededed; border-radius:12px; padding:16px !important;}
.family-site .list li a {display:block; margin-bottom:10px; font-size:16px; color:#666;}
.family-site .list li:last-child a {margin-bottom:0;}

#footer .list-footer {padding-top:24px;}
#footer .list-footer li {margin-bottom:12px;}
#footer .list-footer li .copy {margin:0; padding:0; font-size:14px; font-weight:500; color:#ff4c37;  background-color:transparent;}
#footer .list-footer li:last-child {margin-bottom:0;}
#footer .list-footer li a {display:block; font-size:14px;}
#footer .list-footer li a.copy {padding:0; font-weight:500; color:#ff4c37; background-color:#fff; font-size:14px;}

.footer-info-wrap .logo {width:100px; height:64px; margin:48px 0 24px 0; text-indent:-9999px; background:url('../images/common/footer/footer-logo.png') no-repeat; background-size:100px auto;}
.footer-info-wrap .footer-info-block .txt {margin:0; padding:0; font-size:13px; color:#666; line-height:1.7;}
.footer-info-block .copyright {margin-top:16px !important;}

.quick-area {position:fixed; width:100%; bottom:0; z-index:9998;}
.quick-area ul, .quick-menu li {list-style:none; padding:0; margin:0;}
.quick-area .btn-top {display:none; width:40px; height:40px; text-indent:-9999px; background:url('../images/common/btn/btn-top.png') no-repeat; background-size:40px; position:absolute; bottom:84px; right:16px; box-shadow:2px 8px 8px 0 rgba(0, 0, 0, 0.08); border-radius:100%;}
.quick-menu {display:flex; align-items:center; width:100%; height:64px; background-color:#252937;}
.quick-menu li {position:relative; width:33.3%; height:100%; line-height:4;}
.quick-menu li::after {content:''; display:block; position:absolute; width:1px; height:24px; background-color:rgba(153,153,153,0.5); top:20px; right:-5px;}
.quick-menu li:last-child::after {display:none;}
.quick-menu li a {display:block; font-size:16px; font-weight:500; text-align:center; color:#999; text-decoration:none;}
.quick-menu li a:hover {color:#fff;}

/* tab */
.contents {margin-top:60px;}
.tab-area.border {position:relative; width:calc(100% + 32px); margin:0 -16px; padding:0 16px; background-color:#fff;}
.tab-area.border.link {position:fixed; top:55px; z-index:9998;}
.tab-area.border::after {content:''; display:block; position:absolute; left:-16px; top:50px; width:calc(100% + 16px); height:1px; background-color:#ddd;} 
.tab-list, .tab-list li {margin:0; padding:0; list-style:none;}
.tab-list {overflow-x:auto; display:flex; z-index:10; background-color:#fff;}
.tab-list[role='tablist'] {margin-bottom:32px;}
.tab-list li {position:relative; height:100%; white-space:nowrap;}
.tab-list li + li {margin-left:16px}
.tab-list li button,
.tab-list li a {display:block; min-width:47px; height:50px; padding:13px 0; font-size:16px; font-weight:500; color:#999; text-align:center; background-color:transparent;} 

.tab-list li button.active,
.tab-list li a.active {color:#00b9ef;}
.tab-list li button:after,
.tab-list li a:after {content:''; display:block; position:absolute; left:0; bottom:0; z-index:2; width:0; height:2px; background-color:#00b9ef; transition:width 0.3s;}
.tab-list li button.active:after,
.tab-list li a.active:after {width:100%;}

/* layer-modal */
.layer-modal {visibility:hidden; overflow-y:auto; position:fixed; left:0; top:0; z-index:9999; width:0; height:0; padding:0; opacity:0; transition:opacity 0.4s;}
.layer-modal.on {visibility:visible; width:100%; height:100%; opacity:1;}
.layer-dimed {position:fixed; left:0; top:0; width:100%; height:100%; z-index:9998; background-color:rgba(0, 0, 0, 0.7);}
.layer-modal .wrap {position:relative; width:100%; margin:0 auto; padding:30px 16px; box-shadow:0px 20px 24px -4px rgba(0, 0, 0, 0.1), 0px 4px 4px -4px rgba(0, 0, 0, 0.04); border-radius:0; background-color:#fff;}
.layer-modal .layer-header .tit {margin:16px 0 20px 0; font-size:20px; font-weight:500;}
.layer-modal .layer-body .tit {margin:0; font-size:16px; font-weight:400;} 
.layer-modal .layer-body .wrap-input {margin:6px 0 20px 0;}
.layer-modal .layer-body .box-agree > .agree-cont {margin:6px 0 20px 0;}
.layer-modal .layer-body .button-group {margin:42px 0 0 0;}
.layer-modal .layer-body .button-group button {width:100%; height:44px; font-size:16px;}
.layer-modal .btn-modal-close {position:absolute; top:30px; right:16px; width:24px; height:24px; cursor:pointer; text-indent:-9999px; background:url('../images/common/btn/btn-modal-close.png') no-repeat; background-size:24px;}
.layer-modal .tab-list[role="tablist"] {margin-bottom:20px;}
.layer-modal .tab-area::after {width:100%; left:0;}


/* layer-modal-full */
.layer-modal-full {visibility:hidden; opacity:0; position:fixed; left:0; top:100vh; z-index:9999; width:100%; height:0; background-color:#fff; transition:visibility 0.3s, top 0.3s, opacity 0.3s;}
.layer-modal-full.active {visibility:visible; opacity:1; top:0; height:100%;}
.layer-modal-full .layer-tit {width:100%; height:60px; padding:15px 0; margin:0; text-align:center; line-height:1.6; background-color:#fff;}
.layer-modal-full .layer-cont {overflow-y:auto; width:100%; height:calc(100% - 60px); padding:20px 16px 32px;}
.layer-modal-full .btn-layer-close {overflow:hidden; position:absolute; right:16px; top:16px; width:28px; height:28px; padding:0; text-indent:-9999px; background:url('../images/common/btn/btn-layer-close.png') no-repeat 0 50%; background-size:28px auto;}