@charset "utf-8";

/* 회사소개 */
.summary > .fig {display:flex; flex-direction:column-reverse; }
.summary > .fig .img {position:relative; width:100%; margin-top:41px; text-align:center;}
.summary > .fig .img > img:nth-child(1) {width:100%; max-width:402px; z-index:1;}
.summary > .fig .img > img:nth-child(2) {width:100%; max-width:494px; position:absolute; left:50%; top:50px; transform:translateX(-50%); z-index:-1;}
.summary > .fig .wrap-tit > .txt + .txt {margin-top:20px; color:#666;}

.box-awards {display:flex; flex-wrap:wrap; justify-content:space-between; margin-top:470px;}
.box-awards > .fig {width:calc(50% - 8px);}
.box-awards > .fig .img {border-radius:16px; overflow:hidden;}
.box-awards > .fig .img > img {width:100%;}
.box-awards > .fig .wrap-title {margin:16px 0 40px 0; text-align:center; font-weight:500;}
.box-awards > .fig .wrap-title > p {margin:0;}
.box-awards > .fig .wrap-title > .desc {color:#666; font-weight:350;}

.box-awards + .wrap-tit {margin-top:64px;}
.box-rank > .fig {display:flex; flex-direction:column; align-items:center;}
.box-rank > .fig .img {order:1;}
.box-rank > .fig .img > img {width:100%;}
.box-rank > .fig .wrap-title {order:0; position:relative; width:216px; height:77px; margin:40px 0 20px 0; text-align:center; font-weight:500; line-height:1.4;}
.box-rank > .fig:first-child .wrap-title {margin-top:48px;}
.box-rank > .fig .wrap-title:before {content:''; position:absolute; left:0; top:0; width:34px; height:74px; background:url('../images/contents/bg/bg-intro-rank-left.png') no-repeat 0 50%; background-size:34px auto;}
.box-rank > .fig .wrap-title:after {content:''; position:absolute; right:0; top:0; width:34px; height:74px; transform:scaleX(-1); background:url('../images/contents/bg/bg-intro-rank-left.png') no-repeat 0 50%; background-size:34px auto;}
.box-rank > .fig .wrap-title > .tit {margin:0; font-size:20px;}
.box-rank > .fig .wrap-title > .rank {margin:0; font-size:30px; vertical-align:text-bottom;}
.box-rank > .fig .wrap-title > .rank > span {font-size:42px;}

.box-rank + .wrap-tit {margin-top:96px;}
.box-rank + .wrap-tit > .title-3 + .txt {color:#000; font-size:20px; line-height:1.4;}
.box-rank + .wrap-tit > .txt + .txt {margin:10px 0 0;color:#666; line-height:1.4;}

.list-country, .list-country > li {margin:0; padding:0; list-style-type:none;}
.country {margin-top:48px;}
.country .box-year + .box-year {margin-top:60px;}
.country .box-year > .tit {margin:0 0 20px; color:#00b9ef;  font-size:24px; font-weight:500; line-height:1.4;}
.country .box-year > .list-country p {margin:0;}
.country .box-year > .list-country li {position:relative; padding-left:32px;}
.country .box-year > .list-country li:before {content:''; position:absolute; left:0; top:10px; width:12px; height:12px; border-radius:100%; background-color:#69c1ff;}
.country .box-year > .list-country li:after {content:''; position:absolute; left:5px; top:12px; width:2px; height:calc(100% + 120px); background-color:#69c1ff;}
.country .box-year > .list-country li:last-child:after {display:none;}
.country .box-year > .list-country li + li {margin-top:20px;}
.country .box-year > .list-country li > .date {font-size:20px; font-weight:500; margin-bottom:4px;}
.country .box-year > .list-country li > .date.medal {display:inline-block; position:relative;}
.country .box-year > .list-country li > .date.medal:after {content:''; position:absolute; right:-38px; top:2.5px; width:28px; height:28px; background:url('../images/contents/bg/bg-medal.png') no-repeat 0 50%; background-size:28px auto;}
.country .box-year > .list-country li > .txt {color:#666;}

/* 사업영역 */
.buisness-visual.box {overflow:hidden; padding-bottom:0;}
.buisness-visual > .fig {display:flex; flex-direction:column;}
.buisness-visual > .fig .img {order:1; margin:0 -16px;}
.buisness-visual > .fig .img img {display:block; width:100%; min-height:162px;}
.buisness-visual > .fig .wrap-title {order:0; width:100%; color:#fff;}
.buisness-visual > .fig .wrap-title .tit {margin:0; font-size:26px; font-weight:500; line-height:1.4;}
.buisness-visual > .fig .wrap-title .txt {margin:16px 0 0;}

.business-mall > .fig {display:flex; flex-direction:column; padding-top:48px;}
.business-mall > .fig + .fig {margin-top:48px;}
.business-mall > .fig .img {order:1;}
.business-mall > .fig .img img {display:block; width:100%; max-width:496px; margin:48px auto 0;}
.business-mall > .fig .wrap-title {order:0;}
.business-mall > .fig .wrap-title .mall {margin:0 0 10px; color:#3870ff; font-weight:500;}
.business-mall > .fig .wrap-title .tit {margin:0; font-size:24px; font-weight:500; line-height:1.4; word-break:keep-all}
.business-mall > .fig .wrap-title .sub-tit {margin:20px 0 8px; font-weight:500;}
.business-mall > .fig .wrap-title .txt {margin:0; color:#666;}
.business-mall > .fig .wrap-title .button {margin-top:32px;}

.business-mall + .wrap-tit {margin-top:48px;}
.business-mall + .wrap-tit > .title-3 {margin-bottom:24px; font-size:20px;}
.mro-info-list .cont {width:100%; padding:0 24px;}
.mro-info-list .cont + .cont {margin-top:40px;}
.mro-info-list .cont .circle {width:200px; height:200px; margin:0 auto; padding:54px 0; color:#fff; text-align:center; border-radius:50%;}
.mro-info-list .cont .circle > strong {display:block; width:100%; margin-bottom:10px; font-size:24px; font-weight:500;}
.mro-info-list .cont .circle > span {line-height:1.3;}

.mro-info-list .cont:nth-child(1) .circle {background-color:#1b53e3;}
.mro-info-list .cont:nth-child(2) .circle {background-color:#3870ff;}
.mro-info-list .cont:nth-child(3) .circle {background-color:#0894fc;}
.mro-info-list .cont:nth-child(4) .circle {background-color:#03b8e0;}
.mro-info-list .cont > .list-dot {width:157px; margin:24px auto 0;}

/* 취급품목 */
.product > .wrap-tit {margin-bottom:48px}
.product > figure {display:flex; justify-content:flex-start; align-items:center; padding:16px; background-color:#fff; border-radius:16px;}
.product > figure:nth-child(odd) {background-color:#e8f0ff;}
.product > figure .img {overflow:hidden; width:88px; height:82px; border-radius:12px;}
.product > figure .img img {width:100%; height:100%;}
.product > figure .wrap-title {margin-left:12px;}
.product > figure .wrap-title > .tit {margin:0; font-size:16px; font-weight:700; color:#3870ff;}
.product > figure .wrap-title > .txt {margin:6px 0 0; font-size:12px; color:#8fa3d6; word-break:break-all;}
.product > figure + figure {margin-top:20px;}

/* 프로세스 */
.process .box.bg-blue img {display:block; width:234px; height:189px; margin:0 auto;}
.wrap-tit p.cabinet-service {color:#3870ff;} 
.tab-area.process {margin-top:0;}
.process .tab-list {margin-top:20px;}
.process .wrap-tit p.title-4 {word-break:keep-all;}
.process img {display:block; widtH:100%; height:100%;}
.process.cont-01 p.title-4 {margin-top:4px;}
.process.cont-02 p.title-4 {margin-top:24px;}
.process p.txt {font-size:16px; word-break:keep-all;}

@keyframes show-right {
	0% {transform:translateX(30px); opacity:0;}
	100% {transform:translateX(0); opacity:1;}
}

.process .tab-cont {opacity:0;}
.process .tab-cont[tabindex="0"] {animation:show-right forwards 0.8s;}

.process.box.bg-blue {padding:20px 22px 0; margin-bottom:40px;}
.process.box.bg-gray {margin-top:48px; padding:48px 16px 150px;}
.box-process .block {width:100%; height:259px; padding-top:40px; border-radius:12px; background-color:#52c92e; text-align:center;}
.box-process .block:first-child {margin-top:48px;}
.box-process .block + .block {margin-top:20px;}
.box-process .block.blue {background-color:#495dd1;}
.box-process .block.orange {background-color:#ff9169;}
.box-process .block i.ico-no {width:64px; height:64px; background-image:url('../images/common/ico/ico-no.png'); background-repeat:no-repeat; background-size:64px;} 
.box-process .block p.tit {margin:5px 0 0; font-size:22px; font-weight:500; color:#fff238;}
.box-process .block p.txt {margin:16px 0 0; font-size:16px; color:#fff;}

.box-icon {width:249px; display:flex; flex-wrap:wrap; justify-content:space-between; margin:48px auto 0;}
.box-icon .block {width:115px; height:auto; margin-top: 40px; text-align:center; font-size:16px;}
.box-icon .block:first-child,.box-icon .block:nth-child(2) {margin-top:0;}
.box-icon .block i.iconset {width:114px; height:114px;}
.box-icon .block i.ico-process-01 {background:url('../images/common/ico/ico-process-01.png') no-repeat; background-size:114px;}
.box-icon .block i.ico-process-02 {background:url('../images/common/ico/ico-process-02.png') no-repeat; background-size:114px;}
.box-icon .block i.ico-process-03 {background:url('../images/common/ico/ico-process-03.png') no-repeat; background-size:114px;}
.box-icon .block i.ico-process-04 {background:url('../images/common/ico/ico-process-04.png') no-repeat; background-size:114px;}
.box-icon .block i.ico-process-05 {background:url('../images/common/ico/ico-process-05.png') no-repeat; background-size:114px;}
.box-icon .block i.ico-process-06 {background:url('../images/common/ico/ico-process-06.png') no-repeat; background-size:114px;}
.box-icon .block i.ico-process-07 {background:url('../images/common/ico/ico-process-07.png') no-repeat; background-size:114px;}
.box-icon .block p.txt {margin:20px 0 0 0;}

/* 설비종류 */
.facility-type {margin-top:48px}
.facility-type > .tit {width:100%; margin:0; padding:24px 0;  text-align:center; color:#fff; font-size:22px; font-weight:350; line-height:1.4; border-radius:12px; background-color:#69c1ff;}
.facility-type > .tit.bg-yellow {color:#000; background-color:#fee101;}
.facility-type > .tit.bg-blue {color:#fff; background-color:#2063e6;}
.facility-type .fig {display:flex; flex-direction:column; margin-top:40px;}
.facility-type .fig:first-child {margin-top:32px;}
.facility-type .fig > .img {overflow:hidden; order:1; width:100%; max-width:496px; min-height:173px; max-height:346px; margin:0 auto; border-radius:12px;}
.facility-type .fig > .img img {display:block; width:100%; height:100%;}
.facility-type .fig > .wrap-title {order:0;}
.facility-type .fig > .wrap-title .tit {margin:0 0 20px; font-size:20px; font-weight:500; line-height:1.4;}
.facility-type .box-spec {margin-top:20px; padding-bottom:48px;}
.facility-type .box-spec:first-of-type {padding-bottom:0;}
.facility-type .box-type + .box-type {margin-top:20px;}
.facility-type .box-type > .tit {margin:0; padding:14px 0; font-weight:500; border-bottom:1px solid #ddd;}
.facility-type .box-type > .bg-light-gray {position:relative; height:250px; background-color:#f6f6f6;}
.facility-type .box-type > .bg-light-gray img {display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); max-width:184px; max-height:207px; mix-blend-mode:multiply;}

.list-spec, .list-spec > li {margin:0; padding:0; list-style-type:none;}
.facility-type .box-type .list-spec {padding:20px 10px;}
.facility-type .box-type .list-spec li {overflow:hidden;}
.facility-type .box-type .list-spec li + li {margin-top:10px;}
.facility-type .box-type .list-spec .tit {float:left; min-width:80px; margin:0; margin-right:10px;}
.facility-type .box-type .list-spec img {display:block; width:42px; height:27px;}
.facility-type .box-type .list-spec img.black {width:16px; height:27px;}
.facility-type .box-type .list-spec .desc {float:left; width:calc(100% - 90px); min-width:79px; margin:0; color:#666; word-break:break-all}

.facility-type + .wrap-tit {margin-top:48px;}
.facility-type + .txt-alert {margin-top:0;}

/* 커뮤니티 - 상담성과 */
.tit-thumb img {display:block; width:100%; height:100%;}
.info-area {display:flex; justify-content:center; margin:20px 0;}
.info-area .info-tit {position:relative; width:50%; text-align:center; font-size:14px;}
.info-area .info-tit:only-of-type {width:100%;}
.info-area .info-tit:before {content:''; display:block; position:absolute; right:0; top:0; width:1px; height:48px; background:#eee;}
.info-area .info-tit:last-child:before {display:none;}
.info-area .info-tit em {margin-right:5px; font-size:24px; font-weight:800; vertical-align:middle; line-height:1.1;}
.info-area .info-tit span {vertical-align:middle;}
.info-area .info-tit .info-txt {margin:8px 0 0; color:#8b8b8b;}

/* 검색바 */
.search-bar {margin-bottom:48px;}
.search-bar select + .input-text {margin:8px 0;}
.search-bar .button-search {width:100%; height:56px; color:#fff; font-size:16px; border-radius:4px; background-color:#222;}

.badge {flex-shrink:0; height:26px; margin-left:8px; padding:6px 14px; color:#fff; font-size:12px; font-weight:500; text-align:center; vertical-align:middle; line-height:1.1; border-radius:14px;}
.badge.bg-gray {background-color:#acacac;}
.badge.bg-blue {background-color:#00b9ef;}
@keyframes gray-bright {
	0%, 100% {background-color:#eee}
	50% {background-color:#acacac}
}

.list-card-consult {list-style-type:none; margin:0; padding:0;}
.list-card-consult li {margin:20px 0 0;}
.list-card-consult li:first-child {margin-top:0;}
.list-card-consult li .card-wrap {position:relative; min-height:152px; padding:26px 26px 46px; border:2px solid #acacac; border-radius:25px;}
.list-card-consult li .card-wrap p {margin:0;}
.list-card-consult li .card-wrap.blue {border-color:#00b9ef;}
.list-card-consult li .card-wrap .badge-group {display:flex; justify-content:space-between; align-items:center; word-break:keep-all;}
.list-card-consult li .card-wrap .badge-group .tit {margin-top:0; color:#7b7b7b; font-size:14px; font-weight:500; text-align:left;}
.list-card-consult li .card-wrap.blue .badge-group .tit {color:#0062ac;}
.list-card-consult li .card-wrap .badge-group .badge.bg-gray[class*="bright"] {animation:gray-bright 1s ease infinite;}
.list-card-consult li .card-wrap .wrap-title {display:table; min-height:58px; padding:10px 0; text-align:left;}
.list-card-consult li .card-wrap .wrap-title .tit {display:table-cell; vertical-align:middle; font-size:20px; font-weight:700; line-height:1.1;}
.list-card-consult li .card-wrap .justify-txt {display:flex; align-items:center; position:absolute; bottom:26px; left:0; width:100%; padding:0 26px; font-size:14px;}
.list-card-consult li .card-wrap .justify-txt i {flex-shrink:0;}
.list-card-consult li .card-wrap .justify-txt .desc {flex-shrink:0; color:#7b7b7b;}
.list-card-consult li .card-wrap .justify-txt .date {margin:0 0 0 auto; color:#222; text-align:right;}

/* 개인정보처리방침 */
.terms p {margin:0;}
.terms .txt {color:#666; font-size:16px;}
.list-privacy, .list-privacy > li, .list-privacy ol, .list-privacy ol > li {list-style-type:none; margin:0; padding:0;}

.terms > .list-privacy > li > .tit {margin:40px 0 16px;}
.terms > .list-privacy > li > .tit strong {font-size:20px; font-weight:500; line-height:1.6;}

.terms > .list-privacy > li .tit ~ .txt {margin-top:16px;}
.terms > .list-privacy > li > p + ol {margin-top:12px;}
.terms > .list-privacy ol li + li  {margin-top:16px;}
.terms > .list-privacy ol li  {font-size:16px;}
.terms > .list-privacy ol .tit ~ p  {margin-bottom:12px;}
.terms > .list-privacy ol .tit ~ p:last-child  {margin-bottom:0;}
.terms > .list-privacy .list-dash {margin-top:12px; margin-left:10px; font-size:16px;}
.terms > .list-privacy .list-dash li + li  {margin-top:6px;}
.terms > .list-privacy .list-dash li {padding-left:9px;}
.terms > .list-privacy .list-dash li:before {top:11px; width:3px;}