@charset "utf-8";

/* ==========================================================================
	
	main css
	
========================================================================== */
.main img {display:block;}
.main #header {top:0;}
.main #header,.main .box.bg-blue {background:#00b9ef}
.main .box.bg-blue {padding-bottom:0; margin:40px -16px 0;}
.main p.tit-main {padding-top:56px; margin:0; font-size:26px; font-weight:700; text-align:center;}
.main p.tit-main .sub {display:block; font-size:18px; font-weight:400; color:#666;}
.main p.tit-main .sub em {color:#e04046;}
.layer-modal.visual-modal .layer-body .wrap-input {margin:16px 0 40px 0 !important;}
.layer-modal.visual-modal .layer-body .box-agree {margin:16px 0 0 0;}

.main #header h1.logo {width:97px; height:44px; background:url('../images/main/logo-main.png') no-repeat; background-size:100%;}
.main #header h1.logo > a {overflow:hidden; display:block; width:100%; height:100%; text-indent:-9999px; opacity:0;}
.main #header .btn-mall {background:url('../images/main/btn-mall.png') no-repeat;}
.main #header .btn-gnb {background:url('../images/main/btn-gnb.png') no-repeat;}

.main .main-visual p {color:#fff;}
.main .main-visual p.tit {margin:0; font-size:32px; font-weight:700;}
.main .main-visual p.txt {margin:6px 0 0 0; font-size:16px; font-weight:500; }
.main .main-visual .button {width:136px; height:54px; padding:0 28px; font-size:15px;}
.main .main-visual .btn-group {margin:32px 0 0 0;}
.main .main-visual img {width:248px; height:219px; margin:16px 0 0 0;}

.main .pantry24 .box.bg-skyblue {position:relative; padding:0 16px 64px; margin:0 -16px; background:#f0f8fb;}
.main .pantry24 p.tit-main {margin-bottom:58px;}
.main .pantry24 .main-slick {width:100%;}
.main .pantry24 .main-slick .wrap {width:248px; height:auto; margin:0 auto;}
.main .pantry24 .main-slick .slick-slide {width:248px; margin:0 10px;}
.main .pantry24 .main-slick .slick-list {margin:0 -10px;}

.pantry24 .main-slick .slick-dots {position:absolute; left:50%; transform:translateX(-50%); top:-26px; display:flex; justify-content:center; margin:0; padding:0; list-style:none;}
.pantry24 .main-slick .slick-dots li {width:6px; height:6px; margin-right:6px; border-radius:100%; background-color:#ccc;}
.pantry24 .main-slick .slick-dots li:last-child {margin-right:0;}
.pantry24 .main-slick .slick-dots li button {font-size:0; background:transparent;}
.pantry24 .main-slick .slick-dots .slick-active {background-color:#252937;}
.main .pantry24 .slide, .main .pantry24 .slide .img {width:248px;}
.main .pantry24 .slide img {width:248px; height:163px;}
.main .pantry24 .slide p.tit {margin-bottom:0; font-size:24px; font-weight:700; color:#e04046;}
.main .pantry24 .slide p.tit-sub {margin:12px 0 0 0; font-size:16px; font-weight:700; word-break:keep-all;}
.main .pantry24 .slide p.txt {margin:0; font-size:16px; color:#666; word-break:keep-all;}
.main .pantry24 .slide .wrap-keyword {padding-top:40px; width:100%; display:flex; justify-content:space-between; flex-wrap:wrap;}

.pantry24 .slide .wrap-keyword .keyword {width:50%; max-width:120px; height:60px; padding:18px 0; text-align:center; background-color:#495dd1; border-radius:10px;}
.pantry24 .slide .wrap-keyword .keyword:nth-of-type(3),
.pantry24 .slide .wrap-keyword .keyword:nth-of-type(4) {margin-top:8px;}
.pantry24 .slide .wrap-keyword .keyword:nth-of-type(2) {background-color:#0e239e;}
.pantry24 .slide .wrap-keyword .keyword:nth-of-type(3) {background-color:#49b9d1;}
.pantry24 .slide .wrap-keyword .keyword:nth-of-type(4) {background-color:#40c976;}
.pantry24 .slide .wrap-keyword .keyword p.txt {font-size:15px; font-weight:600; color:#fff;}

.main .pantry-benefit p.tit-main {margin-bottom:10px;}
.main .pantry-benefit .tab-area {margin-top:0;}
.main .benefit .tab-cont img {margin:0 auto;}
.main .benefit .tab-cont .cont-01 img {width:248px; height:160px;}
.main .benefit .tab-cont .cont-02 img {width:248px; height:167px;}
.main .benefit .tab-cont .inner-img img {max-width:100%; padding-bottom:64px;}
.main .benefit .tab-cont .img-01 img {width:248px;}
.main .benefit .tab-cont .img-02 img {width:248px;}
.main .benefit .tab-cont .img-03 img {width:248px;}
.main .pantry-benefit figcaption {margin-bottom:40px;}

.main .benefit .tab-cont p.tit {margin:24px 0 0 0; font-size:22px; font-weight:500;}
.main .benefit .tab-cont p.txt {margin:16px 0 0 0; font-size:16px; font-weight:400; color:#666; word-break:keep-all;}
.main .benefit .tab-cont ul, .main .benefit .tab-cont li {margin:0; padding:0; list-style:none;}
.main .benefit .tab-cont ul{padding-top:16px;}
.main .benefit .tab-cont ul li {margin-bottom:6px; font-size:16px; color:#666;}
.main .benefit .tab-cont ul li:last-child {margin-bottom:0;}
.main .benefit .tab-cont ul.chk-list li {position:relative; padding-left:28px;}
.main .benefit .tab-cont ul.chk-list li::before {content:''; position:absolute; display:block; width:24px; height:24px; background:url('../images/main/benefit-check.png') no-repeat center; background-size:24px; left:0; top:4px;}
.main .benefit .tab-cont ul.num-list li strong {font-weight:500;}


@keyframes show-right {
	0% {transform:translateX(30px); opacity:0;}
	100% {transform:translateX(0); opacity:1;}
}
.main .benefit .tab-cont {opacity:0;}
.main .benefit .tab-cont[tabindex="0"] {opacity:1; animation:show-right forwards 2s;}

.main .join-total {color:#fff;}
.main .join-total.box {padding:0 16px 64px;}
.main .join-total.box.bg-pink {background:#ef676c;}

.main .join-total .inner-block {display:flex; width:100%; padding-top:40px; margin-bottom:32px;}
.main .join-total .inner-block .block {width:50%; min-width:124px;}
.main .join-total .block {font-size:14px; font-weight:500; text-align:center;}
.main .join-total .block i.iconset {display:block; width:50px; height:50px; margin:0 auto;}
.main .join-total .block i.ico-main-join {background:url('../images/main/ico-main-join.png') no-repeat; background-size:50px;}
.main .join-total .block i.ico-main-customer {background:url('../images/main/ico-main-customer.png') no-repeat; background-size:50px;}
.main .join-total .block i.ico-main-sum {background:url('../images/main/ico-main-sum.png') no-repeat; background-size:50px;}
.main .join-total .block p.txt {margin:16px 0 4px 0;}
.main .join-total .block strong.num {font-size:26px; font-family:'Roboto'; font-weight:700; color:#fff238;}
.main .join-total .block p.txt-unit {margin:4px 0 0 0; color:rgba(255, 255, 255, 0.8);}
.main .join-total p.current {margin:24px 0 0 0; font-size:13px; font-weight:500; text-align:right; color:rgba(255, 255, 255, 0.8);}

.main .service-process {padding-bottom:64px;}
.main .service-process figure {margin-top:40px;}
.main .service-process figure:first-child {margin-top:0;}
.main .service-process figure img {width:248px; height:180px; margin:0 auto;}
.main .service-process p.tit-main {margin-bottom:32px;}
.main .service-process .box-process p {text-align:center;}
.main .service-process .box-process p.tit-sub {margin:20px 0 0 0; font-weight:500;}
.main .service-process .box-process p.txt {margin:16px 0 0 0; font-size:16px; font-weight:400; color:#666;}

/* 김미진 */
.video {padding-bottom:56px;}
.video .wrap-tit > .txt {margin:16px 0 32px 0; font-size:18px; color:#666;}
.video .box {position:relative; margin-top:32px; padding-top:56.25%;}
.video iframe {position:absolute; left:0; top:0; width:100%; height:100%;}

/* 김승연 */
.budget-cuts.box {padding:56px 16px 64px; background-color:#fafafa;}
.budget-cuts > .wrap-tit > .title-3 {font-weight:700;}
.budget-cuts > .wrap-tit > .txt-sub {margin:16px 0 10px; font-size:20px; font-weight:500;}
.budget-cuts > .wrap-tit > .txt {margin:0; color:#666;}
.budget-cuts > .wrap-box {position:relative; height:880px; margin:32px 0;}
.budget-cuts > .wrap-box > .box {display:flex; flex-direction:column; justify-content:center; align-items:center; position:absolute; left:0; width:100%; height:320px; border-radius:500px; color:#fff; margin:0; text-align:center; mix-blend-mode:multiply;}
.budget-cuts > .wrap-box > .box:nth-child(1) {top:0; background-color:#52c92e;}
.budget-cuts > .wrap-box > .box:nth-child(2) {top:280px; background-color:#6379f2;}
.budget-cuts > .wrap-box > .box:nth-child(3) {bottom:0; background-color:#69c1ff;}
.budget-cuts > .wrap-box > .box > .tit {display:block; font-size:26px; font-weight:700;}
.budget-cuts > .wrap-box > .box > .tit > span {color:#faff00;}
.budget-cuts > .wrap-box > .box > .txt {margin:10px 0; font-weight:500;}
.budget-cuts > .wrap-box + .button {height:48px; font-size:15px; font-weight:500; line-height:1.6; border:2px solid #ccc; border-radius:24px; background-color:transparent;}

.like {margin-bottom:64px;}
.like > .tit-main + .slick-like {margin-top:32px;}
.like > .slick-like .wrap {height:301px;}
.like > .slick-like .wrap .slick-list {overflow:visible;}
.like > .slick-like .slick-slide {width:194px;}
.like > .slick-like .slick-slide + .slick-slide {margin-left:16px;}
.like > .slick-like a {display:block; height:301px; padding-bottom:36px; background-color:#fafafa; border-radius:12px;}
.like > .slick-like .img {overflow:hidden; height:138px; border-radius:12px 12px 0 0;}
.like > .slick-like img {width:100%; height:100%;}
.like > .slick-like .wrap-title {padding:24px 20px 0; height:127px; font-size:16px;}
.like > .slick-like .wrap-title > .desc {overflow:hidden; display:-webkit-box; height:72px; margin:0; -webkit-line-clamp:3; -webkit-box-orient:vertical; text-overflow:ellipsis;}
.like > .slick-like .wrap-title > .date {margin:10px 0 0; font-size:14px; color:#666;}

.box.advantage {padding:56px 16px 64px; background-color:#dff2ef;}
.advantage > .wrap-tit {margin-bottom:40px;}
.advantage > .wrap-tit > .title-3 {font-weight:700;}
.advantage > .wrap-tit > .txt {color:#4b5c5a;}
.advantage > .wrap-tit strong {font-weight:500;}
.advantage > .wrap-tit strong > span {color:#e04046;}
.advantage .fig {position:relative; width:190px; height:168px; margin:0 auto;}
.advantage .fig + .fig {margin-top:48px;}
.advantage .fig:before {content:''; position:absolute; left:0; bottom:0; width:100%; height:100%; background:url('../images/main/bg-advantage.png') no-repeat 0; background-size:190px auto;}
.advantage .fig .img {overflow:hidden; width:103px; height:29.5px; margin:0 auto; border-radius:20px;}
.advantage .fig .img img {display:block; width:100%; height:100%;}
.advantage .fig .wrap-title {text-align:center;}
.advantage .fig .wrap-title > .tit {font-size:16px; font-weight:500; line-height:1.4;}

.advantage + .box.full.black {padding:56px 16px 64px; color:#fff; background-color:#252937;}
.advantage + .box > .wrap-title {text-align:center;}
.advantage + .box > .wrap-title > .tit {margin:0; font-weight:700; line-height:1.4;}
.advantage + .box > .wrap-title > .tit > span {font-size:22px;}
.advantage + .box > .wrap-title > .txt {margin:16px 0 0; font-size:22px; line-height:1.4;}
.advantage + .box > .button-group {margin-top:32px;}
.advantage + .box > .button-group .button {width:138px; height:48px; padding:26px 0; font-size:15px; font-weight:500; line-height:1.6;}

/* layer-modal */
.layer-modal .table > .table-body > .tit {font-weight:500; margin:48px 0 20px;}
.layer-modal .table > .table-body > .tit:first-child {margin-top:0;}
.layer-modal .table > .table-body > .table-block {display:table; width:100%; padding:24px 0 0 0; border-top:2px solid #252937;}
.layer-modal .table > .table-body > .table-block .box-txt {display:table-cell; width:50%; vertical-align:middle;}
.layer-modal .table > .table-body > .table-block .box-txt:nth-child(2) {text-align:right; word-break:break-all;}
.layer-modal .table > .table-body > .table-block .box-txt p {margin:0}
.layer-modal .table > .table-body > .table-block .box-txt .txt {color:#666;}
.layer-modal .table > .table-body > .table-block .box-txt .txt + .txt {margin-top:16px;}
.layer-modal .table > .table-footer {display:flex; justify-content:space-between; align-items:center; height:71px; margin-top:48px; padding:0 10px; background-color:#fffdec;}
.layer-modal .table > .table-footer .txt {margin:0; font-size:22px; font-weight:500;}
.layer-modal .table > .table-footer .txt:last-child {color:#e04046;}
.layer-modal .table > .table-body > .box-shadow {width:100%; margin-top:24px; padding:10px; box-shadow:0 4px 4px rgba(0,0,0,0.25); background-color:#f9fbfc;}
.layer-modal .table > .table-body > .box-shadow .txt {margin:0;}
/* 김승연 */
