@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nanum+Gothic&family=Poor+Story&display=block');

body {font-family:'Nanum Gothic', sans-serif; color:#7F669D; line-height:1.5; background-color:#FBFACD;}
body::-webkit-scrollbar {width:5px;}
body::-webkit-scrollbar-thumb {border-radius:20px; background-color:#7F669D;}
img {display:block;}
em {font-style:normal;}
button {padding:0; border:0; cursor:pointer; color:inherit; background-color:transparent;}
#container {min-width:280px; max-width:768px; margin:0 auto; padding:0 15px;}
.section {margin-bottom:50px;}

.off {display:none !important;}
.on {display:block !important;}
.active {transform:translateX(12px);}

/* title */
.title-2 {margin:0; padding-bottom:30px; font-size:45px; font-family:'Poor Story', cursive;}
.title-2 .dot {font-family:'Fredoka One', cursive; letter-spacing:3px; font-size:34px;}
.title-2 .bg-circle {position:relative;}
.title-2 .bg-circle::before {content:''; display:block; position:absolute; left:5px; top:-8px; z-index:-1; width:65px; height:65px; border-radius:30px; background-color:#fff; animation:rotate 3s linear infinite;}
@keyframes rotate {to {transform:rotate(360deg);}}

/*header*/
#header {position:relative; height:100vh;}
#header .title {position:absolute; left:50%; top:50%; transform:translate(-50%,-80%); z-index:1; width:197px; margin:0; font-family:'Fredoka One', cursive; font-size:54px; font-weight:400; text-align:center; line-height:1.2;}
#header .circle {display:block; position:absolute; left:50%; top:43%; animation:rotate 5s linear infinite;}
#header .circle::before {content:''; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%,-70%); z-index:-1; width:160px; height:160px; background:url("../images/circle.png") no-repeat; background-size:160px;}
#header .img {display:none; position:absolute; bottom:50px; left:50%; transform:translateX(-50%);}
#header .img img {width:100px; animation:scroll 1s linear infinite alternate;}
@keyframes scroll {to {transform:translateY(10px);}}

/* calender */
.calender {position:relative; height:100vh;}
.calender .wrap {position:absolute; left:50%; top:50%; transform:translate(-50%,-70%); width:100%;}
.calender .wrap-title {position:relative; text-align:center;}
.calender .year {position:relative; display:inline-block; margin:0; padding:0 10px; font-size:45px; font-family:'Fredoka One', cursive;}
.calender .year::before {content:''; display:block; position:absolute; left:0; bottom:5px; z-index:-1; width:100%; height:25px; background-color:#fff;}
.calender .wrap-title svg {position:absolute; left:50%; top:30px; transform:translateX(-50%);}
.calender .wrap-title .month {letter-spacing:3px; fill:#fff; stroke:#7F669D; stroke-width:2px; font-size:95px; font-family:'Fredoka One', cursive;}
.calender .wrap-title .date {position:relative; margin:120px 0 10px; font-size:45px; font-family:'Fredoka One', cursive; color:#fff;}
.calender .wrap-title .date::before {content:''; display:block; position:absolute; left:50%; top:-25px; transform:translateX(-50%); width:80%; height:200px; border-top:8px dotted #fff;}
.calender .wrap-title .date::after {content:''; display:block; position:absolute; left:calc(50% - 37px); top:calc(50% - 37px); transform:translate(-50%,-50%); z-index:-1; width:75px; height:75px; border-radius:75px; background-color:#7F669D; animation:date 1s linear infinite alternate;}
@keyframes date {
	from {transform:translateX(-3px);}
	to {transform:translateX(3px);}
}
.calender .wrap-title .day {margin:0; font-size:45px; font-family:'Fredoka One', cursive; color:#7F669D;}

/* weather */
.weather {position:relative;}
.weather .info {display:flex; justify-content:center; align-items:center;}
.weather .info .icon {margin-right:10px;}
.weather .info .icon img {width:130px; height:130px; border-radius:120px;}
.weather .info .txt {position:relative; line-height:1.2;}
.weather .info .txt .name {overflow:hidden; display:block; width:110px; text-overflow:ellipsis; font-size:29px;}
.weather .info .txt .temperature {font-size:32px;}
.weather .info .txt .degree {font-size:19px;}
.weather .info .txt .description {overflow:auto; position:relative; max-width:110px; max-height:30px; margin:10px 0 0 4px; word-break:break-all; font-size:20px; font-weight:700;}
.weather .info .txt .description::-webkit-scrollbar {width:5px; border-radius:20px; background-color:#fff;}
.weather .info .txt .description::-webkit-scrollbar-thumb {border-radius:20px; background-color:#7F669D;}

.weather .info .txt .clone {color:#fff; animation:fluttering 1.2s linear infinite alternate;}
@keyframes fluttering {
	from {transform:skew(-2deg) scale(1, 1.1);}
	to {transform:skew(-8deg) scale(1, 1.1);}
}
.weather .info .txt .clone.name {position:absolute; left:0; top:-1px; clip-path:polygon(0 70%, 100% 50%, 100% 100%, 0% 100%);}
.weather .info .txt .clone.temperature {overflow:hidden; position:absolute; top:35px; left:0; height:18px;}

.weather .box {margin-top:30px;}
.weather .box ul {list-style-type:none; margin:0; padding:0; display:flex; justify-content:space-between; flex-wrap:wrap;}
.weather .box li {width:calc(50% - 10px); padding:10px 0; box-shadow:3px 3px 3px rgba(0, 0, 0, 0.163); border:3px solid #fff; border-radius:20px; font-size:38px; text-align:center; line-height:1; background-color:#fff;}
.weather .box li:nth-child(2n) ~ li {margin-top:10px;}
.weather .box li img {width:60px; margin:0 auto;}
.weather .box li p {position:relative; display:inline-block; margin:0; font-size:22px; font-weight:700;}
.weather .box li span {margin-left:5px; font-size:14px;}

/* fortune-telling */
.fortune-telling {position:relative;}
.fortune-telling .cont {position:relative; height:400px;}
.fortune-telling .cont .box-hand {position:relative; padding:50px 0; border:5px dotted #fff;}
.fortune-telling .cont .box-hand .txt {width:180px; font-size:18px; font-weight:700; position:absolute; left:calc(50% - 115px); top:50%; transform:translateY(-50%);}
.fortune-telling .cont .box-hand .txt p {display:inline-block; margin:0; padding:4px; line-height:1; box-shadow:inset 0 -30px 0 #fff;}
.fortune-telling .cont .box-hand .txt p + p {margin-top:3px;}
.fortune-telling .cont .box-hand .img {position:absolute; left:calc(50% + 60px); top:50%; transform:translateY(-50%);}
.fortune-telling .cont .box-hand .img img {width:60px; cursor:pointer;}

.fortune-telling .cont .img {position:relative;}
.fortune-telling .cont .img .ball {position:absolute; left:calc(50% - 130px); top:30px;}
.fortune-telling .cont .img .ball img {width:250px;}
.fortune-telling .cont .img .wizard {position:absolute; left:calc(50% - 25px); top:80px;}
.fortune-telling .cont .img .wizard img {width:150px;}

.fortune-telling .cont .loading {display:none; position:absolute; left:50%; top:70px; transform:translateX(-50%);}
.fortune-telling .cont .loading img {width:150px;}

.fortune-telling .cont .reset {display:none; position:absolute; top:20px; right:0;}
.fortune-telling .cont .reset button img {width:50px;}

.fortune-telling .cont .result {display:none; position:absolute; left:0; top:calc(50% - 130px); animation:shake 1s linear infinite alternate;}
.fortune-telling .cont .result .txt {padding:30px; font-size:16px; font-weight:700; text-align:justify; line-height:1.7; box-shadow:2px 2px 5px #0000002a; border-radius:10px; background-color:rgba(255, 255, 255, 0.631);}

.fortune-telling .img-move {display:none; position:absolute; left:calc(50% + 60px); top:calc(50% - 140px); animation:shake .2s linear infinite alternate;} 
.fortune-telling .img-move img {width:60px;}
@keyframes shake {
	from {transform:translateY(-5px);}
	to {transform:translateY(5px);}
}

/* to-do-list */
.to-do-list {position:relative;}
.to-do-list .write {display:flex; align-items:center;}
.to-do-list .write input[type="text"] {width:100%; height:55px; margin-right:10px; padding-left:10px; outline:none; border:0; box-shadow:2px 2px 2px #413d3d4c; caret-color:#000; font-size:17px;}
.to-do-list .write input[type="text"]::placeholder {color:#6151518b;}
.to-do-list .write .enter-btn {flex-shrink:0; width:60px; height:40px; padding:8px; border:2px solid #fff; font-size:18px;}
.to-do-list .write .enter-btn:hover {color:#fff; border:2px solid #7F669D; background-color:#7F669D;}

.to-do-list .cont {overflow:hidden; overflow-y:scroll; position:relative; margin-top:30px; padding:10px 0; height:350px;}
.to-do-list .cont::-webkit-scrollbar {width:5px;}
.to-do-list .cont::-webkit-scrollbar-thumb {border-radius:20px; background-color:#fff;}
.to-do-list .cont .list {display:flex; justify-content:center; align-items:center; position:relative; padding:15px 0; box-shadow:3px 3px 3px rgba(42, 35, 35, 0.156); border-radius:0 0 0 40px;}
.to-do-list .cont .list input[type="checkbox"] {display:none;}
.to-do-list .cont .list input[type="checkbox"] + label::before {content:''; display:block; position:absolute; left:20px; top:50%; transform:translateY(-50%); width:50px; height:50px; background:url("../images/check-box-before.png") no-repeat; background-size:50px;}
.to-do-list .cont .list input[type="checkbox"]:checked + label::after {content:''; display:block; position:absolute; left:20px; top:50%; transform:translateY(-50%); width:50px; height:50px; background:url("../images/check-box-after.png") no-repeat; background-size:50px;}
.to-do-list .cont .list label {max-width:calc(100% - 200px); word-break:break-all; text-align:left; font-size:20px; cursor:pointer; border-bottom:5px solid #fff; flex-basis:auto;}
.to-do-list .cont .list .remove .remove-btn {position:absolute; top:50%; right:20px; transform:translateY(-50%); padding:0;}
.to-do-list .cont .list .remove .remove-btn img {width:40px;}

/* menu-planner */
.menu-planner {position:relative;}
.menu-planner .write {display:flex; align-items:center; justify-content:center;}
.menu-planner .write input[type="text"] {width:100%; height:55px; margin-right:10px; padding-left:10px; outline:none; border:0; box-shadow:2px 2px 2px #413d3d4c; caret-color:#000; font-size:17px;}
.menu-planner .write input[type="text"]::placeholder {color:#6151518b;}

.menu-planner .box-select {position:relative;}
.menu-planner .box-select .select-btn {position:relative; width:75px; height:40px; padding:8px; border:2px solid #fff; font-size:18px; text-align:left;}
.menu-planner .box-select .select-btn .arrow {position:absolute; top:50%; right:5px; transform:translateY(-50%); width:20px; height:20px; background:url('../images/arrow-before.png') no-repeat; background-size:20px;}
.menu-planner .box-select .select-btn:hover {color:#fff; border:2px solid #7F669D; background-color:#7F669D;}
.menu-planner .box-select .select {display:none; position:absolute; left:0; top:40px; z-index:1; border:2px solid #fff; border-top:0; background-color:#FBFACD;}
.menu-planner .box-select .select, .menu-planner .box-select .select li {list-style-type:none; margin:0; padding:0;}
.menu-planner .box-select .select li {position:relative; width:57px; padding:6px 8px; color:#7F669D; font-size:18px; cursor:pointer;}
.menu-planner .box-select .select li::after {content:''; display:block; position:absolute; top:50%; right:8px; transform:translateY(-50%); width:15px; height:15px; background:url("../images/morning.png") no-repeat; background-size:15px;}
.menu-planner .box-select .select li:nth-child(2)::after {background:url("../images/day.png") no-repeat; background-size:15px;}
.menu-planner .box-select .select li:last-child::after {background:url("../images/night.png") no-repeat; background-size:15px;}
.menu-planner .box-select .select li:hover {color:#fff; background-color:#7F669D;}

.menu-planner .box-menu {margin-top:50px;}
.menu-planner .box-menu .menu {position:relative; height:320px; padding:10px; border:3px solid #fff; border-radius:20px;}
.menu-planner .box-menu .menu + .menu {margin-top:20px;}
.menu-planner .box-menu .menu::before {content:''; display:block; width:200px; height:200px; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); z-index:-1; opacity:0.2; background:url('../images/meal-icon.png') no-repeat center; background-size:200px;}
.menu-planner .box-menu .menu::after {content:''; display:block; width:200px; height:60px; position:absolute; bottom:0; right:0; z-index:-1; border-radius:0 0 20px 20px; opacity:0.8; clip-path:polygon(0 100%, 100% 0%, 100% 100%, 0% 100%); background:url("../images/meal-bg.jpg") no-repeat center; background-size:200px auto;}
.menu-planner .box-menu .menu .tit {font-size:20px;}
.menu-planner .box-menu .menu .tit::before {content:''; display:block; width:150px; height:80px; position:absolute; top:-2px; left:-2px; z-index:-1; border-radius:20px 20px 0 0; clip-path:polygon(0% 100%, 0% 0%, 70% 0%, 0% 100%); background-color:#fff;}

.menu-planner .box-menu .cont-wrap {overflow:hidden; overflow-y:scroll; height:220px; margin-top:20px;}
.menu-planner .box-menu .cont-wrap::-webkit-scrollbar {width:5px;}
.menu-planner .box-menu .cont-wrap::-webkit-scrollbar-thumb {border-radius:20px; background-color:#fff;}
.menu-planner .box-menu .cont {display:flex; justify-content:space-around; padding:0 10px 10px 20px;}
.menu-planner .box-menu .cont + .cont {margin-top:10px;}
.menu-planner .box-menu .cont:first-child {margin-top:-3px;}
.menu-planner .box-menu .cont .txt {width:250px; margin:0; font-size:18px; word-break:break-all;}
.menu-planner .box-menu .cont input[type='number'] {width:25px; border:0; outline:none; text-align:center; border-bottom:3px solid #fff; font-size:18px; font-family:'Nanum Gothic', sans-serif; color:#7F669D; background-color:transparent; border-radius:0;}
.menu-planner .box-menu .cont input[type='number']::-webkit-outer-spin-button,
.menu-planner .box-menu .cont input[type='number']::-webkit-inner-spin-button {-webkit-appearance:none;}
.menu-planner .box-menu .cont .kcal input[type='text'] {width:45px; border:0; outline:none; text-align:center; color:#7F669D; font-size:18px; border-bottom:3px solid #fff; background-color:transparent;}
.menu-planner .box-menu .cont .kcal label {margin-left:5px; font-size:18px;}
.menu-planner .box-menu .cont .remove-btn {padding:0;}
.menu-planner .box-menu .cont .remove-btn img {width:18px;}
@media screen and (max-width:550px) {
	.menu-planner .box-menu .cont {flex-wrap:wrap; justify-content:flex-start; gap:10px; padding-left:40px;}
	.menu-planner .box-menu .cont .txt {width:100%;}
}

/* question */
.question {position:relative;}
.question .wrap-tit {text-align:center;}
.question .tit {display:inline-block; margin:0; padding:0 5px; font-size:18px; font-weight:700; box-shadow:inset 0 -10px 0 #fff;}
.question .cont {overflow:hidden;}
.question .cont .textarea {position:relative; text-align:center;}
.question .cont .textarea::before {content:''; display:block; position:absolute; left:50%; top:30px; transform:translate(-50%,0); z-index:-1; width:100%; height:100%; background:url("../images/memo.png") no-repeat; background-size:100% auto;}
.question .cont .textarea textarea {width:80%; height:150px; margin-top:110px; padding:0 30px; border:0; outline:none; resize:none; color:#7F669D; font-family:'Nanum Gothic', sans-serif; font-size:17px; line-height:1.5; background-color:transparent;}
@media screen and (max-width:500px) {.question .cont .textarea textarea {margin-top:80px;}}
.question .cont textarea::-webkit-scrollbar {width:5px;}
.question .cont textarea::-webkit-scrollbar-thumb {border-radius:20px; background-color:#fff;}
.question .cont textarea::placeholder {font-size:17px; color:#6151518b;}

.question .cont .btn-group {position:absolute; right:25px; bottom:0; width:125px;}
.question .cont .btn-group button {display:inline-block; width:55px; height:40px; border:2px solid #fff; font-size:17px;}
.question .cont .btn-group button:last-child {margin-left:5px;}
.question .cont .btn-group button:hover {color:#fff; border:2px solid #7F669D; background-color:#7F669D;}



