@charset "utf-8";
/* ==========================================================================
	
	common style
	
========================================================================== */
* {box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

html, body {width:100%; height:100%; margin:0; padding:0;}
body {overflow:visible; color:#000; font-size:18px; letter-spacing:-0.005em; line-height:1.5; font-weight:400; font-family:'Noto Sans KR', 'Roboto', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif; background-color:#fff;}

body.overflow {overflow:hidden}

/* 스크린 리더같은 보조기기는 인식하고 화면에서만 안보이게 처리 */
.hidden {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0; clip:rect(0 0 0 0); clip-path:inset(50%); white-space:nowrap; text-indent:-9999px;}

/* 앵커 */
a:link,
a:active {color:#000; text-decoration:none;}
a:visited,
a:hover,
a:focus {color:#000; text-decoration:none;}
a:hover {text-decoration:underline;}

/* heading */
h1, h2, h3, h4, h5, h6 {margin:0; padding:0;}

/* etc */
iframe {display:inline-block; border:0;}
figure, figcaption {margin:0; padding:0;}
address {margin:0; padding:0; font-style:normal;}

b, strong {font-weight:700;}
em {font-style:normal;}

/* font */
/* font-family @@ default : Noto Sans KR @@ */
.roboto {font-family:'Roboto', sans-serif !important;}

/* font-weight @@ default : 400 @@ */

.fw400 {font-weight:400 !important;}
.fw500 {font-weight:500 !important;}
.fw600 {font-weight:600 !important;}
.fw700 {font-weight:700 !important;}
.fw800 {font-weight:800 !important;}

/* font-size */

/* ellipsis : 말줄임 */
.ellipsis {overflow:hidden; display:inline-block; max-width:100%; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;}

/* color */
.color-blue {color:#3870ff !important;}
.color-red {color:#ff4c37 !important;}
.color-yellow {color:#fff238 !important;}

/* width */
.w20px {width:20px !important;}
.w30px {width:30px !important;}
.w40px {width:40px !important;}
.w50px {width:50px !important;}
.w60px {width:60px !important;}
.w70px {width:70px !important;}
.w80px {width:80px !important;}
.w90px {width:90px !important;}
.w100px {width:100px !important;}
.w140px {width:140px !important;}
.w150px {width:150px !important;} 
.w200px {width:200px !important;}

/* margin */
.mg00 {margin:0 !important;}

.mgt00 {margin-top:0 !important;}
.mgt10 {margin-top:10px !important;}
.mgt20 {margin-top:20px !important;}
.mgt24 {margin-top:24px !important;}
.mgt30 {margin-top:30px !important;}
.mgt40 {margin-top:40px !important;}
.mgt50 {margin-top:50px !important;}
.mgt60 {margin-top:60px !important;}
.mgt70 {margin-top:70px !important;}
.mgt80 {margin-top:80px !important;}
.mgt90 {margin-top:90px !important;}
.mgt100 {margin-top:100px !important;}

.mgr00 {margin-right:0 !important;}
.mgr10 {margin-right:10px !important;}
.mgr20 {margin-right:20px !important;}
.mgr30 {margin-right:30px !important;}
.mgr40 {margin-right:40px !important;}
.mgr50 {margin-right:50px !important;}
.mgr60 {margin-right:60px !important;}
.mgr70 {margin-right:70px !important;}
.mgr80 {margin-right:80px !important;}
.mgr90 {margin-right:90px !important;}
.mgr100 {margin-right:100px !important;}

.mgb00 {margin-bottom:0 !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb30 {margin-bottom:30px !important;}
.mgb40 {margin-bottom:40px !important;}
.mgb50 {margin-bottom:50px !important;}
.mgb60 {margin-bottom:60px !important;}
.mgb70 {margin-bottom:70px !important;}
.mgb80 {margin-bottom:80px !important;}
.mgb90 {margin-bottom:90px !important;}
.mgb100 {margin-bottom:100px !important;}

.mgl00 {margin-left:0 !important;}
.mgl10 {margin-left:10px !important;}
.mgl20 {margin-left:20px !important;}
.mgl30 {margin-left:30px !important;}
.mgl40 {margin-left:40px !important;}
.mgl50 {margin-left:50px !important;}
.mgl60 {margin-left:60px !important;}
.mgl70 {margin-left:70px !important;}
.mgl80 {margin-left:80px !important;}
.mgl90 {margin-left:90px !important;}
.mgl100 {margin-left:100px !important;}

/* padding */
.pd00 {padding:0 !important;}

.pdt00 {padding-top:0 !important;}
.pdt10 {padding-top:10px !important;}
.pdt20 {padding-top:20px !important;}
.pdt30 {padding-top:30px !important;}
.pdt40 {padding-top:40px !important;}
.pdt50 {padding-top:50px !important;}
.pdt60 {padding-top:60px !important;}
.pdt70 {padding-top:70px !important;}
.pdt80 {padding-top:80px !important;}
.pdt90 {padding-top:90px !important;}
.pdt100 {padding-top:100px !important;}

.pdr00 {padding-right:0 !important;}
.pdr10 {padding-right:10px !important;}
.pdr20 {padding-right:20px !important;}
.pdr30 {padding-right:30px !important;}
.pdr40 {padding-right:40px !important;}
.pdr50 {padding-right:50px !important;}
.pdr60 {padding-right:60px !important;}
.pdr70 {padding-right:70px !important;}
.pdr80 {padding-right:80px !important;}
.pdr90 {padding-right:90px !important;}
.pdr100 {padding-right:100px !important;}

.pdb00 {padding-bottom:0 !important;}
.pdb10 {padding-bottom:10px !important;}
.pdb20 {padding-bottom:20px !important;}
.pdb30 {padding-bottom:30px !important;}
.pdb40 {padding-bottom:40px !important;}
.pdb50 {padding-bottom:50px !important;}
.pdb60 {padding-bottom:60px !important;}
.pdb70 {padding-bottom:70px !important;}
.pdb80 {padding-bottom:80px !important;}
.pdb90 {padding-bottom:90px !important;}
.pdb100 {padding-bottom:100px !important;}

.pdl00 {padding-left:0 !important;}
.pdl10 {padding-left:10px !important;}
.pdl20 {padding-left:20px !important;}
.pdl30 {padding-left:30px !important;}
.pdl40 {padding-left:40px !important;}
.pdl50 {padding-left:50px !important;}
.pdl60 {padding-left:60px !important;}
.pdl70 {padding-left:70px !important;}
.pdl80 {padding-left:80px !important;}
.pdl90 {padding-left:90px !important;}
.pdl100 {padding-left:100px !important;}

/* float */
.float-l {float:left !important;}
.float-r {float:right !important;}
.float-n {float:none !important;}

/* float clear */
.clearfix:before,
.clearfix:after {content:''; display:block;}
.clearfix:after {clear:both;}

/* text-align */
.a-l {text-align:left !important;}
.a-r {text-align:right !important;}
.a-c {text-align:center !important;}
.a-j {text-align:justify !important;}

/* vertical-align */
.va-t {vertical-align:top !important;}
.va-m {vertical-align:middle !important;}
.va-b {vertical-align:bottom !important;}

/* block */
.block {display:block;}
.inline-block {display:inline-block;}


/* component
========================================================================== */

/* label */
label {display:inline-block; vertical-align:middle; cursor:pointer;}

/* input */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {-webkit-appearance :none; margin:0;}
input[type='number'] {-moz-appearance :textfield;}

/* placeholder */
::placeholder {color:#777; opacity:1;}
:-ms-input-placeholder {color:#777;}
::-ms-input-placeholder {color:#777;}
[disabled]::placeholder {color:#999; opacity:1;}
[disabled]:-ms-input-placeholder {color:#999;}
[disabled]::-ms-input-placeholder {color:#999;}

/* wrap-input */
.wrap-input {display:block;}

/* input :text, password, number, tel, email 등등 */
.input-text {display:inline-block; width:100%; height:50px; padding:13px 16px; color:#000; font-size:16px; line-height:1.5; vertical-align:middle; border-radius:8px; border:1px solid #ddd; background-color:#fff;}
.input-text:hover {background-color:#f5f8ff;}
.input-text:focus {outline:none; border-color:#3870ff; background-color:#fff;}
.input-text[disabled] {color:#999; border-color:#ddd; background-color:#f1f1f1;}
/* error 인 경우 */
[class^='wrap-']:not(.wrap-unit).err .input-text {border-color:#ff4c37;}
[class^='wrap-']:not(.wrap-unit).err .input-text:focus {border-color:#3870ff;}

/* input :: unit 단위 */
/* 디자인 미수급 */
.wrap-unit {display:inline-flex; justify-content:space-between; align-items:center; width:100%; height:50px; padding:0 18px 0 16px; border-radius:8px; border:1px solid #ddd; background-color:#fff;}
.wrap-unit:hover {background-color:#f5f8ff;}
.wrap-unit.focus {border-color:#3870ff; background-color:#fff;}
.wrap-unit > .input-text {width:100%; height:100%; padding:13px 0; border:0; background-color:transparent;}
.wrap-unit > .input-text:hover {background-color:transparent;}
.wrap-unit > .unit {display:inline-block; margin:0 0 0 16px; text-align:right; font-size:16px; white-space:nowrap; color:#777;}
/* error 인 경우 */
.wrap-unit.err {border-color:#ff4c37;}
.wrap-unit.err.focus {border-color:#3870ff;}

/* select */
select {text-overflow:ellipsis; width:100%; height:50px; padding:13px 46px 13px 16px; color:#777; font-size:16px; line-height:1.5; vertical-align:middle; border:1px solid #ddd; border-radius:8px; background:#fff url('../images/common/bg/bg-select-arr.png') no-repeat right 16px top 15px; background-size:20px auto;
	-webkit-appearance:none;
	-moz-appearance:none;}
select:hover {background-color:#f5f8ff;}
select:focus {outline:none; border-color:#3870ff; background-color:#fff;}
select[disabled] {opacity:1; color:#999; background:#f1f1f1 url('../images/common/bg/bg-select-arr-disabled.png') no-repeat right 16px top 15px; background-size:20px auto;}
select::-ms-expand {display:none;}
select + select {margin-top:10px;}
/* error 인 경우 */
select.err {border-color:#ff4c37;}
select.err:focus {border-color:#3870ff;}

/* 주소 */
.input-address select + .input-text {margin-top:10px;}
/* error 인 경우 */
.input-address.err .input-text {border-color:#ff4c37;}
.input-address.err .input-text:focus {border-color:#3870ff;}

.input-post .post .input-text {width:100px; margin:0; text-align:center;}
.input-post .post .button {width:120px; min-width:auto; height:50px; margin:0 0 0 6px; padding:0 10px; font-size:16px; line-height:56px; border-radius:8px;}
.input-post .input-text {margin:10px 0 0 0;}

.board-form .input-post .post {margin-top:0;}
.board-form .input-post .post .input-text {margin-top:0;}
.board-form .input-post .post .button {margin-left:4px;}
.board-form .input-post .input-text {margin:8px 0 0 0;}
.board-form .input-post .input-text:last-child {margin-bottom:0;}

/* textarea :width, height 의 경우 다중 클래스로 제어가능 */
.input-textarea {width:100%; height:180px; padding:16px; color:#000; font-size:16px; line-height:1.5; border-radius:8px; border:1px solid #ddd; background-color:#fff; vertical-align:middle; resize:none; scrollbar-width:thin; scrollbar-color:#3870ff transparent;}
.input-textarea:-webkit-scrollbar {width:4px;}
.input-textarea:-webkit-scrollbar-track {background:transparent;}
.input-textarea:-webkit-scrollbar-thumb {border-radius:2px; border:4px solid transparent; background-color:#3870ff;}

.input-textarea::-webkit-scrollbar {width:4px;}
.input-textarea::-webkit-scrollbar-thumb {height:100px; border-radius:2px; background-clip:padding-box; background-color:#3870ff;}

.input-textarea:focus {outline:none; border-color:#3870ff; background-color:#fff;}
.input-textarea[disabled] {color:#999; background-color:#f1f1f1;}

/* checkbox , radio */
.bg-chk {display:inline-block; position:relative; margin-right:26px; font-size:16px; vertical-align:middle;}
.bg-chk:last-child {margin-right:0;}
.bg-chk [type='checkbox'],
.bg-chk [type='radio'] {opacity:0; position:absolute; left:0; top:0; width:24px; height:24px; line-height:1.4;}
.bg-chk label {position:relative; padding-left:32px; line-height:1.4;}
.bg-chk label:before {content:''; display:block; position:absolute; left:0; top:0; width:24px; height:24px; background-size:24px auto; background-position:0; background-repeat:no-repeat;}
.bg-chk [type='checkbox']:focus + label {outline:1px solid #3870ff;}
.bg-chk [type='checkbox']:focus:not(:focus-visible) + label {outline:none;}
.bg-chk [type='checkbox'] + label:before {background-image:url('../images/common/bg/bg-checkbox.png');}
.bg-chk [type='checkbox']:checked + label:before {background-image:url('../images/common/bg/bg-checkbox-on.png');}
.bg-chk [type='checkbox'][disabled] + label:before {background-image:url('../images/common/bg/bg-checkbox-disabled.png');}
.bg-chk [type='checkbox']:checked[disabled] + label:before {background-image:url('../images/common/bg/bg-checkbox-disabled-on.png');}
.bg-chk [type='radio']:focus + label {outline:1px solid #3870ff;}
.bg-chk [type='radio']:focus:not(:focus-visible) + label {outline:none;}
.bg-chk [type='radio'] + label:before {background-image:url('../images/common/bg/bg-radio.png');}
.bg-chk [type='radio']:checked + label:before {background-image:url('../images/common/bg/bg-radio-on.png');}
.bg-chk [type='radio'][disabled] + label:before {background-image:url('../images/common/bg/bg-radio-disabled.png');}
.bg-chk [type='radio']:checked[disabled] + label:before {background-image:url('../images/common/bg/bg-radio-disabled-on.png');}

/* button */
button {color:#000; cursor:pointer; border:0; vertical-align:middle;}
button.reset {padding:0; background-color:transparent;}

.button,
a.button {display:inline-flex; justify-content:center; align-items:center; width:100%;  height:60px; padding:0 74px; color:#fff; font-weight:400; vertical-align:middle; line-height:1.4; text-decoration:none; border-radius:30px; background-color:#252937; transition:opacity 0.3s, color 0.3s, border-color 0.3s, background-color 0.3s;}
.button:hover,
a.button:hover {color:#fff; background-color:#33394d;}
.button[disabled],
.button.disabled,
a.button.disabled {opacity:1; color:#999 !important; background-color:#f1f1f1 !important;}
.button[disabled],
.disabled {cursor:default;}
a.disabled:focus {outline:none;}

/* button more */
.button.more {height:50px; color:#999; font-size:16px; font-weight:500; background-color:#fff;}
.button.more:hover {text-decoration:underline; color:#999; background-color:#fff;}

/* button size */
.button.small {min-width:125px; width:auto; height:48px; padding:0 26px; font-size:15px; font-weight:500; line-height:1.6; border-radius:24px;}

/* button color */
.button.blue {color:#3870ff; border:2px solid #3870ff; background-color:#fff;}
.button.blue:hover {color:#fff; background-color:#3870ff;}

/* background 에 색갈있을 경우 */
.button.bg {color:#fff; background-color:transparent; border:2px solid #fff;}
.button.bg:hover {border-color:rgba(255,255,255,0.6); background-color:transparent;}
.button.bg.white {border:2px solid #ccc; color:#000;}
.button.bg.white:hover {opacity:0.6;}

/* button 안에 아이콘 있을때 */
.button.icon {padding:0 22px 0 26px;}

/* button-group */
.button-group {margin:48px 0 0 0; text-align:center;}
.button-group.right {text-align:right;}
.button-group.left {text-align:left;}

/* icon */
.iconset {overflow:hidden; display:inline-block; margin:-1px 0 0 0; padding:0; font-size:0; line-height:0; text-indent:-9999px; vertical-align:middle; background-position:0 0; background-repeat:no-repeat;}

	/* 버튼 내부 화살표 */
	.ico-arr-black {width:20px; height:20px; margin-left:4px; background:url('../images/common/ico/ico-arr-black.png') no-repeat 0 1px; background-size:20px auto;}
	.ico-arr-white {width:20px; height:20px; margin-left:4px; background:url('../images/common/ico/ico-arr-white.png') no-repeat 0 1px; background-size:20px auto;}
	.ico-arr-blue {width:20px; height:20px; margin-left:2px; background:url('../images/common/ico/ico-arr-blue.png') no-repeat 0 1px; background-size:20px auto; transition:background 0.3s;}
	.button.icon.blue:hover .ico-arr-blue {background:url('../images/common/ico/ico-arr-white.png') no-repeat 0 1px; background-size:20px auto;}

	/* no-data */
	.ico-no-data {width:65px; height:65px; background:url('../images/common/ico/ico-no-data.png') no-repeat; background-size:65px auto;}

	/* 사업영역 */
	[class*="ico-business-0"] {width:114px; height:114px; border-radius:50%; background-color:#f6fdff; background-size:62px auto; background-position:center; background-repeat:no-repeat;}
	.ico-business-01 {background-image:url('../images/common/ico/ico-business-01.png');}
	.ico-business-02 {background-image:url('../images/common/ico/ico-business-02.png');}
	.ico-business-03 {background-image:url('../images/common/ico/ico-business-03.png');}
	.ico-business-04 {background-image:url('../images/common/ico/ico-business-04.png');}
	.ico-business-05 {background-image:url('../images/common/ico/ico-business-05.png');}
	.ico-business-06 {background-image:url('../images/common/ico/ico-business-06.png');}
	.ico-business-07 {background-image:url('../images/common/ico/ico-business-07.png');}
	.ico-business-08 {background-image:url('../images/common/ico/ico-business-08.png');}
	
	/* 성공비결 */
	[class*="ico-delivery-0"] {width:114px; height:114px; border-radius:24px; background-color:#f6fdff; background-size:62px auto; background-position:center; background-repeat:no-repeat;}
	.ico-delivery-01 {background-image:url('../images/common/ico/ico-delivery-01.png');}
	.ico-delivery-02 {background-image:url('../images/common/ico/ico-delivery-02.png');}

	/* 성공사례 */
	.ico-interview {width:80px; height:80px; background:url('../images/common/ico/ico-interview.png') no-repeat 0 50%; background-size:80px auto;}

	/* 주문시스템 */
	[class*="ico-cabinet-0"] {width:96px; height:96px; border-radius:24px; background-color:#fafafa; background-position:center; background-repeat:no-repeat;}
	.ico-cabinet-01 {background-image:url('../images/common/ico/ico-cabinet-01.png'); background-size:46.5px auto;}
	.ico-cabinet-02 {background-image:url('../images/common/ico/ico-cabinet-02.png'); background-size:52.02px auto;}
	.ico-cabinet-03 {background-image:url('../images/common/ico/ico-cabinet-03.png'); background-size:52.14px auto;}
	.ico-cabinet-04 {background-image:url('../images/common/ico/ico-cabinet-04.png'); background-size:52.2px auto;}
	.ico-cabinet-arr {width:20px; height:20px; background:url('../images/common/ico/ico-cabinet-arr.png') no-repeat center; background-size:20px auto;}

	/* 가입절차 */
	[class*="ico-join-0"],
	[class*="ico-join-white-0"] {width:50px; height:50px; background-size:50px auto; background-position:center; background-repeat:no-repeat;}
	.ico-join-01 {background-image:url('../images/common/ico/ico-join-01.png');}
	.ico-join-02 {background-image:url('../images/common/ico/ico-join-02.png');}
	.ico-join-03 {background-image:url('../images/common/ico/ico-join-03.png');}
	.ico-join-white-01 {background-image:url('../images/common/ico/ico-join-white-01.png');}
	.ico-join-white-02 {background-image:url('../images/common/ico/ico-join-white-02.png');}
	.ico-join-white-03 {background-image:url('../images/common/ico/ico-join-white-03.png');}
	[class*="ico-join-list-0"] {width:64px; height:64px; background-size:64px auto; background-position:center; background-repeat:no-repeat;}
	.ico-join-list-01 {background-image:url('../images/common/ico/ico-join-list-01.png');}
	.ico-join-list-02 {background-image:url('../images/common/ico/ico-join-list-02.png');}
	.ico-join-list-03 {background-image:url('../images/common/ico/ico-join-list-03.png');}
	.ico-join-list-04 {background-image:url('../images/common/ico/ico-join-list-04.png');}
	.ico-join-list-05 {background-image:url('../images/common/ico/ico-join-list-05.png');}

/* title */
h2.title-2 {position:absolute; left:50%; transform:translateX(-50%);  text-align:center; font-size:18px; font-weight:400; line-height:1.6;}
.title-3 {margin:0 0 24px; font-size:22px; font-weight:500; line-height:1.4; word-break:keep-all;}
.box.bg-gray +.title-3 {margin-top:48px;}

.wrap-title.line {margin-bottom:48px; padding-bottom:48px; text-align:center; border-bottom:1px solid #ededed; word-break:keep-all;}
.line-title {margin:0; font-size:26px; font-weight:500; line-height:1.4;}
.line-title + .txt-sub {margin:16px 0 0 0; color:#666;}

/* text */
/* p태그 reset */
p.reset {padding:0; margin:0;}
.channel {color:#3870ff;}

.req {overflow:hidden; display:inline-block; width:5px; height:5px; margin-left:4px; border-radius:5px; font-size:0; line-height:0; text-indent:-99px; vertical-align:top; background-color:#e93a03;}

/* ul, ol 태그 reset */
ul.reset, ul.reset > li, ol.reset, ol.reset > li {list-style-type:none; padding:0; margin:0;}

/* list */
.list-dot {list-style-type:none; padding:0; margin:0;}
.list-dot > li {position:relative; padding-left:10px; color:#666; word-break:keep-all;}
.list-dot > li:before {content:''; position:absolute; top:13px; left:0; width:4px; height:4px; background-color:#666; border-radius:4px;}
.list-dot > li + li {margin-top:12px;}

/* dash - list */
.list-dash {list-style-type:none; padding:0; margin:0;}
.list-dash > li {position:relative; padding-left:10px; color:#666; word-break:keep-all;}
.list-dash > li:before {content:''; position:absolute; top:13px; left:0; width:4px; height:1px; background-color:#666;}
.list-dash > li + li {margin-top:10px;}

.list-dot > li > .list-dash {margin-top:10px;}

/* table reset */
table {width:100%; margin:0; border:0; table-layout:fixed; border-collapse:collapse; empty-cells:show;}
table caption {position:absolute; left:-9999px; width:0; height:0; font-size:0; line-height:0;}
table th,
table td {padding:0; word-break:break-all;}
[class^='board-'] {border-top:2px solid #252937;} 

/* 게시판 리스트 */
.board-list table thead th {height:58px; padding:15px 16px; color:#000; text-align:center; font-weight:inherit; border-bottom:1px solid #ededed; background-color:#fff;}
.board-list table tr td {height:119px; padding:20px 0; color:#666; text-align:left; border-bottom:1px solid #ededed;}
.board-list table tbody tr:hover td {background-color:#f6f6f6;}

/* 게시판 폼 */
.title-3 + .board-form {margin-top:-4px;}
.board-form + .title-3 {margin-top:48px;}
.board-form table tr:first-child td {padding:24px 0 20px;}
.board-form table tr td {padding:20px 0; text-align:left;}
.board-form table tr:last-child td {padding:20px 0 0; text-align:left;}
.board-form table td .label-input {margin:0 0 16px;}

.board-form + .tit {margin:40px 0 16px 0; word-break:keep-all;}
.box-agree {word-break:keep-all;}
.box-agree > .agree-cont {overflow-y:auto; width:100%; height:180px; margin-bottom:16px; padding:16px; color:#666; font-size:16px; font-weight:400; border-radius:8px; border:1px solid #ddd; background-color:#fff; scrollbar-width:thin; scrollbar-color:#3870ff transparent;}

.box-agree > .agree-cont:-webkit-scrollbar {width:4px;}
.box-agree > .agree-cont:-webkit-scrollbar-track {background:transparent;}
.box-agree > .agree-cont:-webkit-scrollbar-thumb {border-radius:2px; border:4px solid transparent; background-color:#3870ff;}

.box-agree > .agree-cont::-webkit-scrollbar {width:4px;}
.box-agree > .agree-cont::-webkit-scrollbar-thumb {height:100px; border-radius:2px; background-clip:padding-box; background-color:#3870ff;}

.box-agree > .agree-chk {text-align:left;}
.box-agree > .agree-chk > .bg-chk  {font-size:16px; line-height:1.4;}

/* 게시판 상세 */
.board-view {border:0;}
.board-view .post-info {margin-bottom:20px;}
.board-view .post-info .channel {margin:0 0 8px; font-size:14px;}
.board-view .wrap-title .tit {margin:0; margin-bottom:12px; font-size:22px; font-weight:500; line-height:1.4; white-space:normal; word-break:keep-all;}
.board-view .wrap-title .date {margin:0; color:#666; font-size:14px; font-family:'Roboto', sans-serif;}
.board-view .post-content {width:100%; padding:20px 0; color:#666; font-size:16px; border-top:2px solid #252937; border-bottom:1px solid #ddd; word-break:keep-all;}
.board-view .post-content > * {max-width:100%;}
/* 인터뷰 상세 */
.board-view .post-content > .list-qna,
.board-view .post-content > .list-qna > li {list-style-type:none; margin:0; padding:0;}
.board-view .post-content > .list-qna > li {position:relative; padding-left: 42px;}
.board-view .post-content > .list-qna > li + li {margin-top:36px;}
.board-view .post-content > .list-qna > li:before {content:'Q'; position:absolute; left:0; top:0; width:32px; height:32px; color:#fff; font-size:16px; font-weight:500; font-family:'Roboto', sans-serif; text-align:center; line-height:2.1; background-color:#252937; border-radius:50%;}
.board-view .post-content > .list-qna .tit {margin:0 0 10px; color:#000; font-size:18px; font-weight:500;}
.board-view .post-content > .list-qna .txt {margin:0;}

/* 카드형 게시판 목록 */
.list-data {list-style-type:none; padding:0; margin:0;}
.list-data > li + li {margin-top:40px;}
.list-data > li .img {overflow:hidden; width:100%; min-width:248px; max-width:496px; min-height:177px; max-height:354px; margin:0 auto; border-radius:20px;}
.list-data > li .img img {display:block; width:100%; height:100%;}
.list-data > li .wrap-title {margin-top:16px;}
.list-data > li .wrap-title .channel {margin:0; margin-bottom:8px; font-size:14px;}
.list-data > li .wrap-title .tit {overflow:hidden; display:-webkit-box; max-height:54px; margin:0; font-weight:500; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis;}
.list-data > li .wrap-title .date {margin:0; margin-top:12px; color:#666; font-size:14px; font-family:'Roboto', sans-serif;}

/* 이미지 없는 경우 */
.list-interview, .list-interview > li {list-style-type:none; margin:0; padding:0;}
.list-interview > li {height:219px; margin-top:40px; border:1px solid #ddd; border-radius:20px; text-align:left;}
.list-interview > li:first-child {margin-top:0;}
.list-interview > li > a {display:block; width:100%; height:100%;  padding:20px;}
.list-interview > li .tit {margin:12px 0; font-weight:500;}
.list-interview > li .date {margin:0; color:#666; font-size:14px; font-family:'Roboto', sans-serif;}

/* box */
.box {padding:40px 16px 48px; margin:0 -16px;}
.box.full {margin-bottom:-150px; padding-bottom:150px;}
/* main box */
.main .contents > .box:first-child {margin:0 -16px;}
.main .contents > .box {padding:56px 16px 64px; margin:0 -16px;}
.main .box.full {margin-bottom:-150px;}

/* box-no-data */
.box-no-data {padding-top:40px; text-align:center;}
.box-no-data > .txt {margin:20px 0 0 0; color:#666}

/* box color */
.box.bg-gray {background-color:#fafafa;}

/* customize */

/* slick */
.slick-main .wrap {position:relative; width:248px; margin:0 auto;}
.slick-main .slick-list {width:100%;}
.slick-main .slick-slide {width:248px; height:180px; margin:0 18px; background-color:aliceblue; border-radius:20px; text-align:center;}

/* slick 공통 */
.slick-arrow {position:absolute; top:calc(50% - 64px); text-indent:-9999px;}
.slick-prev {left:calc(-50% + 190px); width:64px; height:64px; background:url('../images/common/btn/btn-slick-arr-prev.png') no-repeat;}
.slick-next {right:calc(-50% + 190px); width:64px; height:64px; background:url('../images/common/btn/btn-slick-arr-next.png') no-repeat;}
.slick-dots, .slick-dots li {margin:0; padding:0; list-style:none;}
.slick-dots {display:flex; justify-content:center; margin-top:20px;}
.slick-dots li {width:6px; height:6px; margin-right:6px; background-color:#ccc; border-radius:6px; text-indent:-9999px;}
.slick-dots li:last-child {margin-right:0;}
.slick-dots .slick-active {background-color:#383d51;}

/* layer-modal */
.layer-modal.full {visibility:hidden; opacity:0; position:fixed; left:0; top:0; z-index:9998; width:0; height:100%; transition:visibility 0.3s, opacity 0.3s;}
.layer-modal.full.active {visibility:visible; opacity:1; width:100%;}
.layer-modal.full > .wrap {visibility:hidden; opacity:0; position:fixed; left:0; top:100vh; z-index:9999; width:100%; height:0; background-color:#fff; transition:visibility 0.3s, top 0.3s, opacity 0.3s, height 0.3s;}
.layer-modal.full.active > .wrap {visibility:visible; opacity:1; top:0; height:100%;}
.layer-modal.full .layer-tit {width:100%; height:60px; padding:15px 0; margin:0; text-align:center; line-height:1.6; background-color:#fff;}
.layer-modal.full .layer-cont {overflow-y:auto; width:100%; height:calc(100% - 60px); padding:20px 16px 32px;}
.layer-modal.full .btn-layer-close {overflow:hidden; position:absolute; right:16px; top:16px; width:28px; height:28px; padding:0; text-indent:-9999px; background:url('../images/common/btn/btn-layer-close.png') no-repeat 0 50%; background-size:28px auto;}

.layer-modal.full .dimed {position:fixed; top:0; left:0; z-index:9998; width:100%;height:100%; background-color:#000; opacity:0.8;}

/* layout
================================================================ 
*/

#header {position:fixed; width:100%; height:66px; display:flex; justify-content:space-between; align-items:center; padding:15px 16px; background:#fff; z-index:9998;}
#header .a-link, #header .btn-group button, #header button {display:inline-block; width:28px; height:28px; vertical-align:middle; text-indent:-9999px;} 
.a-link.btn-prev {background:url('../images/common/header/btn-prev.png') no-repeat; background-size:28px auto;}
.btn-mall {background:url('../images/common/header/btn-mall.png') no-repeat; margin-right:4px; background-size:28px auto;}
.btn-gnb {background:url('../images/common/header/btn-gnb.png') no-repeat; background-size:28px auto;}

.all-menu {visibility:hidden; position:fixed; top:0; right:-100%; width:100%; height:100%; transition:right .3s, visibility .3s; background:#fff; z-index:9999;}
.all-menu::after {content:''; position:absolute; display:block; width:117px; height:100%; background:#f5f8ff; left:0; top:160px; z-index:-1;}
.all-menu.open {visibility:visible; right:0;}
.all-menu .btn-area {height:60px; background:#3870ff; padding:16px;}
.all-menu .txt-area p {margin:0; padding:0;}
.all-menu .txt-area {min-height:100px; padding:24px 16px 0; background:#3870ff; font-weight:500; color:#fff;}
.all-menu .btn-area button {font-size:0; width:28px; height:28px; background:url('../images/common/header/btn-gnb-close.png') no-repeat; float:right; background-size:28px auto;}

.gnb-area {position:relative; height:100%; padding:32px 16px 0;}
.gnb-area ul, .gnb-area li {list-style:none; padding:0; margin:0;}
.gnb-area .gnb li.depth-01 {width:115px; height:46px; margin-bottom:8px; font-size:16px;}
.gnb-area .gnb li.depth-01:last-child {margin-bottom:0;}
.gnb-area .gnb li.depth-01 a {display:block; padding:11px 0; text-decoration:none;}
.gnb-area .gnb li.depth-01.on > a {display:block; background:#3870ff; border-radius:100px; box-shadow: 0px 4px 12px rgba(56, 112, 255, 0.18); font-weight:500; text-align:center; color:#fff; animation:active 0.5s linear;}
@keyframes active {
	from {transform:translateX(-16px);}
	to {transform:translateX(0);}
}

.gnb-area ul.depth-02 {display:none;}
.gnb-area .gnb li.on ul.depth-02 {display:block;}
.gnb-area ul.depth-02 {position:absolute; left:147px; top:32px;}
.gnb-area ul.depth-02 li a {color:#666;}

/* container */
.container {min-width:280px; min-height:calc(100% - 658px); padding:60px 16px 150px;}
/* contents */
.container > .contents {margin-top:40px;}
.main .container > .contents {margin-top:0;}
/* container + tab */
.container > .tab-area.top + .contents {margin-top:90px}
.container > .tab-area.top + .contents > .tab-area:first-child {margin-top:-20px}
.container > .tab-area.top + .contents > .tab-area > .tab-cont {margin-top:40px}
.container > .tab-area.top + .contents > .tab-list-inner {margin:-20px 0 40px;}
.contents > .tab-area.border > .tab-cont {margin-top:32px;}
/* contents + box */
.contents > .box:first-child {margin-top:-40px;}
.tab-list-inner + .box {margin-top:-20px}

/* footer */
#footer {min-width:280px; min-height:598px; padding:0 16px 120px; border-top:1px solid #ededed;}
#footer ul, #footer li {list-style:none; padding:0; margin:0;}
#footer .family-site {position:relative; padding-top:24px;}

.family-site button.toggle {position:relative; width:100%; height:50px; padding:0; background:none; border-bottom:1px solid #000; font-size:16px;color:#777; text-align:left;}
.family-site button.toggle::before {content:''; display:block; position:absolute; width:20px; height:20px; background:url('../images/common/footer/btn-toogle.png') no-repeat center; right:0; bottom:10px; background-size:20px auto;}
.family-site.on button.toggle::before {background:url('../images/common/footer/btn-toogle-on.png') no-repeat center; background-size:20px auto;}
.family-site .list {display:none; position:absolute; width:100%; bottom:60px; background:#fff; border:1px solid #ededed; border-radius:12px; padding:16px !important;}
.family-site.on .list {display:block;}
.family-site .list li a {display:block; margin-bottom:10px; font-size:16px; color:#666;}
.family-site .list li:last-child a {margin-bottom:0;}

#footer .list-footer {padding-top:24px;}
#footer .list-footer li {margin-bottom:12px;}
#footer .list-footer li:last-child {margin-bottom:0;}
#footer .list-footer li a {display:block; font-size:14px;}
#footer .list-footer li .copy {width:100%; padding:0; font-size:14px; font-weight:500; color:#ff4c37; text-align:left; background-color:#fff;}
#footer .list-footer li .copy:hover {text-decoration:underline;}

.footer-info-wrap .logo {width:99px; height:64px; margin:48px 0 24px 0; background:url('../images/common/footer/footer-logo.png') no-repeat; background-size:99px auto; text-indent:-9999px;}
.footer-info-wrap .footer-info-block .txt {margin:0; padding:0; font-size:13px; color:#666; line-height:1.7;}
.footer-info-block .copyright {margin-top:16px !important;}

.quick-area {position:fixed; width:100%; bottom:0; z-index:9998;}
.quick-area ul, .quick-menu li {list-style:none; padding:0; margin:0;}
.quick-menu {display:flex; align-items:center; width:100%; height:64px; background-color:#252937;}
.quick-menu li {position:relative; width:33.3%; height:100%; line-height:4;}
.quick-menu li::after {content:''; display:block; position:absolute; width:1px; height:24px; background-color:rgba(153,153,153,0.5); top:20px; right:-1px;}
.quick-menu li:last-child::after {display:none;}
.quick-menu li a {display:block; font-size:16px; font-weight:500; text-align:center; color:#999; text-decoration:none;}
.quick-menu li a:hover {color:#fff;}
.quick-area .btn-top {display:none; width:40px; height:40px; text-indent:-9999px; background:url('../images/common/btn/btn-top.png') no-repeat; background-size:40px; position:absolute; bottom:84px; right:16px; box-shadow:2px 8px 8px 0 rgba(0, 0, 0, 0.08); border-radius:100%;}

/* accordion */
.accordion {width:100%; list-style-type:none; padding:0; margin:0; border-top:2px solid #252937;}
.accordion > li {word-break:keep-all;}
.accordion .btn-toggle {overflow:hidden; position:relative; width:100%; padding:26px 58px; font-weight:500; text-align:left; line-height:1.5; border-bottom:1px solid #ddd; background-color:#fff;}
.accordion .btn-toggle:before {content:'Q'; display:block; position:absolute; left:10px; top:24px; width:32px; height:32px; color:#fff; font-size:16px; font-family:'Roboto', sans-serif; line-height:2.1; text-align:center; border-radius:32px; background-color:#252937;}
.accordion .btn-toggle:after {content:''; display:block; position:absolute; right:10px; top:24px; width:32px; height:32px; background:url('../images/common/bg/bg-acc-off.png') no-repeat 0 50%; background-size:32px auto;} 
.accordion .btn-toggle.active:after {background:url('../images/common/bg/bg-acc-on.png') no-repeat 0 50%; background-size:32px auto;}

.accordion .toggle-target {display:none; position:relative; width:100%; padding:22px 16px 20px 58px; color:#666; font-size:16px; border-bottom:1px solid #ddd; background-color:#fafafa;}
.accordion .toggle-target:before {content:'A'; display:block; position:absolute; left:10px; top:20px; width:32px; height:32px; color:#fff; font-family:'Roboto', sans-serif; font-weight:500; line-height:2.1; text-align:center; border-radius:32px; background-color:#3870ff;}

/* tab */
.tab-area.border {position:relative; z-index:9998; width:100%; background-color:#fff}
.tab-area.border::after {content:''; display:block; position:absolute; left:-16px; top:50px; width:calc(100% + 32px); height:1px; background-color:#ddd;} 

/* 상단 고정 탭 */
.tab-area.border.top {position:fixed; top:60px; left:0; height:50px; padding:0 16px;}
.tab-area.border.top::after {left:0; width:100%;} 

.tab-list, .tab-list li {margin:0; padding:0; list-style:none;}
.tab-list {display:flex; overflow-x:auto;}
.tab-list li {position:relative; height:50px; white-space:nowrap;}
.tab-list li + li {margin-left:16px}
.tab-list li button,
.tab-list li a {display:block; min-width:47px; height:50px; padding:13px 0; font-size:16px; font-weight:500; color:#999; text-align:center; background-color:transparent;} 

.tab-list li button.active,
.tab-list li a.active {color:#3870ff;}
.tab-list li button:after,
.tab-list li a:after {content:''; display:block; position:absolute; left:0; bottom:0; z-index:2; width:0; height:2px; background-color:#3870ff; transition:width 0.3s;}
.tab-list li button.active:after,
.tab-list li a.active:after {width:100%;}

/* tab-list-inner */
.tab-list-inner, .tab-list-inner li {margin:0; padding:0; list-style:none;}
.tab-list-inner {display:flex; overflow-x:auto;}
.tab-list-inner li {display:inline-block; white-space:nowrap;}
.tab-list-inner li button,
.tab-list-inner li a {display:inline-block; min-width:66px; height:40px; margin-right:8px; padding:8px 18px 10px; color:#777; font-size:16px; text-align:center; line-height:1.4; border-radius:20px; background-color:#f1f1f1; transition:color 0.3s;}
.tab-list-inner li:last-child button,
.tab-list-inner li:last-child a {margin-right:0;}

.tab-list-inner li button.active,
.tab-list-inner li a.active {background-color:#3870ff; color:#fff;}
