@charset "utf-8";
/* common */
/* 서브타이틀 있는 wrap-title */
.wrap-title.mall {margin-bottom:48px; word-break:keep-all;}
.wrap-title.mall > .tit-sub {color:#3870ff; font-weight:500;}
.wrap-title.mall > .tit {margin:10px 0 20px; font-size:24px; line-height:1.4; font-weight:500;}
.wrap-title.mall > .txt {color:#666;}

/* button-group */
.wrap-title.mall > .button-group {margin-top:32px;}
.accordion + .button-group,
.list-contract-custm + .button-group,
.list-interview + .button-group,
.list-data + .button-group {margin-top:20px;}

/* 회사개요 */
.summary > .fig {padding-bottom:48px;}
.summary > .fig img {min-width:248px; max-width:515px; min-height:208px; max-height:416px; margin:0 auto;}
.summary > .fig img {display:block; width:100%; height:100%;}
.summary > .fig .wrap-txt {margin-top:40px; color:#666; word-break:keep-all;}
.summary > .fig .wrap-txt > p {margin:0;}
.summary > .fig .wrap-txt > .txt + .txt  {margin-top:20px;}
.summary ~ .title-3 {margin-top:48px;}
.one-company ~ .box.bg-gray {margin-top:48px;}
.one-company > .fig + .fig {margin-top:40px;}
.one-company > .fig .img {overflow:hidden; max-width:496px; min-width:248px; max-height:360px; min-height:180px; margin:0 auto; border-radius:20px;}
.one-company > .fig .img img {display:block; width:100%; height:100%;}
.one-company > .fig .wrap-title {margin-top:20px; text-align:center;}
.one-company > .fig .tit {margin:0; font-weight:500;}
.summary ~ .box {padding-top:48px;}


/* 회사연혁 */
.country {padding-bottom:48px;}
.country > .tab-list li {height:42px;}
.country > .tab-list li button {min-width:auto; height:100%; padding:9px 3px; line-height:1.5; font-family:'Roboto', sans-serif;}
.country > .tab-list li + li {margin-left:16px;}
.country > .tab-cont {margin-top:48px !important;}
.country .slick-country {overflow:hidden; position:relative; width:240px; height:240px; margin:0 auto;}
.country .slick-country:before {opacity:0; content:''; position:absolute; left:-30px; top:4.96px; width:30.5px; height:29px; background:url('../images/contents/bg/bg-country-left.png') no-repeat 0 50%; background-size:30.5px auto; animation:slick-sliding-left forwards 1s;}
.country .slick-country:after {opacity:0; content:''; display:block; position:absolute; right:-30px; bottom:0; z-index:-1; width:69.44px; height:54.56px; background:url('../images/contents/bg/bg-country-right.png') no-repeat 0 50%; background-size:54.56px auto;animation:slick-sliding-right forwards 1s;}
.country .slick-country .wrap {position:relative;}
.country .slick-country .wrap:before {opacity:0; content:''; display:block; position:absolute; right:-10px; bottom:0px; z-index:3; width:66px; height:78px; background:url('../images/contents/bg/bg-country-flag.png') no-repeat 0 50%; background-size:66px auto; animation:slick-flag forwards 1s cubic-bezier(.17,.67,.66,1.13);}
@keyframes slick-sliding-left {
	100% {opacity:1; left:0px;}
}
@keyframes slick-sliding-right {
	100% {opacity:1; right:-10px;}
}
@keyframes slick-flag {
	100% {opacity:1; bottom:-22px;}
}
.country .slick-country .slick-slide {width:240px; height:240px;}
.country .slick-country .slick-slide + .slick-slide {margin-left:10px;}
.country .slick-country .slide {overflow:hidden; width:240px; height:240px; border-radius:100%;}
.country .slick-country .slide > img {width:100%; height:100%;}

.country .list-country, .country .list-country > li {margin:0; padding:0; list-style-type:none;}
.country .list-country {margin-top:40px;}
.country .list-country p {margin:0;}
.country .list-country > li {position:relative; padding-left:26px; word-break:keep-all;}
.country .list-country > li:after {content:''; position:absolute; left:4.5px; top:20px; width:1px; height:calc(100% + 20px); background-color:#b3c8ff;}
.country .list-country > li:last-child:after {display:none;}
.country .list-country > li:before {content:''; position:absolute; left:0; top:10px; width:10px; height:10px; border-radius:10px; background-color:#3870ff;}
.country .list-country > li  + li {margin-top:20px;}
.country .list-country .date {margin-bottom:4px; font-size:20px; font-family:'Roboto', sans-serif; font-weight:500;}

.country ~ .title-3 {margin-top:48px;}
.box-awards {padding:0 12px;}
.box-awards > .fig + .fig {margin-top:40px;}
.box-awards > .fig .img {overflow:hidden; width:100%; max-width:448px; min-width:224px; max-height:608px; min-height:304px; margin:0 auto; border-radius:16px;}
.box-awards > .fig .img img {display:block; width:100%; height:100%;}
.box-awards > .fig .wrap-title {margin-top:20px; text-align:center; font-weight:500;}
.box-awards > .fig .wrap-title > p {margin:0;}
.box-awards > .fig .wrap-title > .desc {color:#666; font-weight:350;}
.box-awards > .fig .wrap-title > .tit {font-weight:500;}


/* 사업영역 */
.business-area p {margin:0;}
.business-area .txt {color:#666; word-break:keep-all;}
.business-area figure + .txt {margin-top:48px;}
.business-area figure {display:flex; flex-direction:column-reverse;}
.business-area .wrap-title.mall {margin-top:96px;}
.business-area figure .img > img {display:block; max-width:496px; width:100%; margin:0 auto;}

.benifit-list {display:flex; flex-wrap:wrap; justify-content:space-between; margin-top:48px;}
.benifit-list .cont {width:calc(50% - 10px); text-align:center;}
.benifit-list .cont:nth-child(2n) {margin-left:10px;}
.benifit-list .cont:nth-child(2n) ~ .cont {margin-top:40px;}
.benifit-list .cont p {margin:20px 0 0; font-size:16px; color:#666;}

.mro-tit {margin:48px 0 24px !important; font-size:20px; font-weight:500;}
.mro-info-list {width:207px; margin:0 auto;}
.mro-info-list .cont {margin-bottom:40px;}
.mro-info-list .cont .circle {margin:0 auto; padding:54px 0; width:200px; height:200px; border-radius:50%; text-align:center; color:#fff;}
.mro-info-list .cont:nth-child(1) .circle {background:#1b53e3;}
.mro-info-list .cont:nth-child(2) .circle {background:#3870ff;}
.mro-info-list .cont:nth-child(3) .circle {background:#0894fc;}
.mro-info-list .cont:nth-child(4) .circle {background:#03b8e0;}
.mro-info-list .cont:last-child {margin-bottom:0;}
.mro-info-list .cont .circle strong {display:block; font-size:24px; font-weight:500;}
.mro-info-list .cont .circle span {display:block; margin-top:8px; font-size:18px; line-height:1.3;}
.mro-info-list .cont .list-dot {padding:24px 25px 0;}
.mro-info-list .cont .list-dot li {word-break:normal;}

.box-graph {margin-top:40px; padding:48px 0 48px; border-radius:24px; background:#f5f8ff;}
.box-graph figure + figure {margin-top:40px;}
.box-graph figure figcaption {position:absolute; text-indent:-9999px; font-size:1px;}


/* 물류센터 */
.intro-center {display:flex; flex-direction:column-reverse; margin-bottom:48px;}
.intro-center > .wrap-title > .tit-sub {margin:0;}
.intro-center > .wrap-title > .txt {margin:0 0 32px;}
.intro-center > .wrap-title > .box-txt {height:76px; margin:0; padding:20px 0; color:#fff; text-align:center; border-radius:16px;}
.intro-center > .wrap-title > .box-txt + .box-txt {margin-top:10px;}
.intro-center > .wrap-title > .box-txt:nth-child(4) {background-color:#03bbe0;}
.intro-center > .wrap-title > .box-txt:nth-child(5) {background-color:#0894fc;}
.intro-center > .wrap-title > .box-txt:nth-child(6) {background-color:#3870ff;}
.intro-center > .wrap-title > .box-txt > span {vertical-align:middle;}
.intro-center > .wrap-title > .box-txt > .unit {margin-right:12px; font-size:24px; font-weight:700;}
.intro-center > .img {max-width:526px; max-height:566px; margin:0 auto;}
.intro-center > .img img {display:block; width:100%; min-height:275px;}

.intro-center + .box {padding-top:48px;}
[class^='slick-center-'] .wrap {width:248px; margin:0 auto;}
[class^='slick-center-'] .slick-slide {width:248px; height:180px;}
[class^='slick-center-'] .slick-slide + .slick-slide {margin-left:20px;}
[class^='slick-center-'] .slide {overflow:hidden; height:100%;  border-radius:20px;}
[class^='slick-center-'] .slide img {width:100%; height:100%;}
.slick-center-out + .title-3 {margin-top:48px;}
.intro-center ~ .wrap-title {margin-top:48px;}
.intro-center ~ .wrap-title > .title-3 {margin-bottom:16px;}
.intro-center ~ .wrap-title > .txt {margin:0; color:#666;}
.slick-center-compet {margin-top:40px;}
.slick-center-compet .wrap-title {margin:20px 0 0; font-weight:500; text-align:center;}
.slick-center-compet .wrap-title > .tit {margin:0;}
.slick-center-compet .slick-slide {height:100%;}
.slick-center-compet .slide {overflow:visible; border-radius:0;}
.slick-center-compet .slide .img {overflow:hidden; width:100%; height:180px;  border-radius:20px;}


/* 취급품목, 다양한 상품 */
.product > figure {display:flex; justify-content:flex-start; align-items:center; height:114px; padding:16px; background-color:#fff; border-radius:16px; box-shadow:0 4px 24px 0 rgba(0,0,0,0.04);}
.product > figure:nth-child(odd) {background-color:#e8f0ff;}
.product > figure .img {overflow:hidden; flex-shrink:0; width:88px; height:82px; border-radius:12px;}
.product > figure .img img {width:100%; height:100%;}
.product > figure .wrap-title {margin-left:12px;}
.product > figure .wrap-title > .tit {margin:0; font-size:16px; font-weight:700; color:#3870ff;}
.product > figure .wrap-title > .txt {margin:6px 0 0; font-size:12px; color:#8fa3d6; word-break:keep-all;}
.product > figure + figure {margin-top:20px;}

/* No.1 쇼핑몰 */
.shopping-mall p {margin:0; word-break:keep-all;}
.shopping-mall .txt {color:#666;}
.shopping-mall .wrap-title.mall {margin-top:96px;}
.shopping-mall figure {display:flex; flex-direction:column-reverse;}
.shopping-mall figure .img > img {display:block; max-width:496px; width:100%; margin:0 auto;}

/* 오늘 배송 서비스 */
.delivery .wrap-title p {margin:0;}
.delivery .wrap-title {margin-bottom:0;}
.delivery .txt {color:#666;}
.delivery .box-icon {display:flex; justify-content:center; margin:40px 0 48px;}
.delivery .box-icon .icon {margin-right:20px; text-align:center;}
.delivery .box-icon .icon:last-child {margin-right:0;}
.delivery .box-icon .iconset {background-color:#fafafa;}
.delivery .box-icon .txt {margin:10px 0 0 0; font-size:16px;}
.delivery .img {text-align:center;} 
.delivery .img > img {width:248px;}

/* 주문시스템 */
.order-system figure {display:flex; flex-direction:column-reverse;}
.order-system figure:nth-child(1) .wrap-title {margin-top:0;}
.order-system .img > img {display:block; max-width:496px; width:100%; margin:0 auto;}
.order-system .wrap-title {margin:96px 0 48px 0;}
.order-system p {margin:0;}
.order-system .txt {color:#666;}
.order-system .list-dot {margin:16px 0 0 10px;}
.order-system .list-dot li + li {margin-top:6px;}
.order-system .cabinet-service {display:flex; flex-wrap:wrap; justify-content:space-between; margin:40px 0 0 0;}
.order-system .cabinet-service .service {position:relative; width:calc(50% - 26px); text-align:center;}

.order-system .cabinet-service .service:nth-child(2n) ~ .service {margin-top:52px;}
.order-system .cabinet-service .service:nth-child(1) > .ico-cabinet-arr {position:absolute; right:-36px; top:55px;}
.order-system .cabinet-service .service:nth-child(2) > .ico-cabinet-arr {position:absolute; right:calc(50% - 10px); top:146px; transform:rotate(90deg);}
.order-system .cabinet-service .service:nth-child(3) > .ico-cabinet-arr {position:absolute; right:-36px; top:55px; transform:rotate(180deg);}
.order-system .cabinet-service .txt {margin:10px 0 0 0; font-size:16px; word-break:break-all;}

/* 가입절차 */
.join-list {list-style:none; padding:0; margin:0;}
.join-list:first-child {margin:0;}
.join-list > li {padding:32px 20px 20px; margin:20px 0 0; border:1px solid #ededed; border-radius:20px; text-align:right;}
.join-list > li .tit {margin:0 0 20px; font-size:22px; text-align:left;}
.join-list > li .tit .number {margin:0 20px 0 0; color:#3870ff; font-weight:700; font-family:'Roboto', sans-serif;}
.join-list > li .list-dot {padding:0 0 0 46px; text-align:left;}
.join-list > li .list-dot + .iconset {margin-top:20px;}

/* Top5 넥스에이전트 */
.state > .block {overflow:hidden;}
.state > .block + .block {margin-top:16px;}
.state > .block .wrap-txt {padding-top:10px; text-align:center;}
.state > .block:nth-of-type(1) .wrap-txt {width:50%; float:left;}
.state > .block .wrap-txt > .txt {margin:16px 0 4px; color:#666; font-size:14px; font-weight:500;}
.state > .block .wrap-txt > .num {margin:0; color:#ff4c37; font-size:26px; font-weight:700; line-height:1.4; word-break:break-all;}
.state > .block .wrap-txt > .unit {margin:4px 0 0; color:#999; font-size:13px; font-weight:500;}
.state .date {margin:24px 0 0 0; color:#666; text-align:right; font-weight:500; font-size:13px;}

.slick-ranking {max-width:614px; margin:0 -16px 0 auto;}
@media only screen and (min-width:650px) {
	.slick-ranking {margin:0 auto;}
}
.slick-ranking .slick-slide + .slick-slide {margin-left:16px;}
.slick-ranking .slick-slide {width:194px;}
.slick-ranking .slide {position:relative; margin-top:50px; padding:18px 20px 24px; border-radius:30px;}
.slick-ranking .fig > .img {position:absolute; left:calc(50% - 32px); top:-50px; width:64px; height:64px; border-radius:50%; background-color:#e9f3fd;}

.slick-ranking .img img {display:block; width:64px; height:64px;}
.slick-ranking .slick-slide:nth-child(1) .img:before,
.slick-ranking .slick-slide:nth-child(1) .img:after {content:''; display:block; position:absolute; top:0px; width:23px; height:64px; background:url('../images/contents/bg/bg-rank.png') no-repeat 0 50%; background-size:23px auto;}
.slick-ranking .slick-slide:nth-child(1) .img:before {left:-15px;}
.slick-ranking .slick-slide:nth-child(1) .img:after {right:-15px; transform:scaleX(-1);}

.slick-ranking .slick-slide:nth-of-type(1) .slide {background-color:#3870ff;}
.slick-ranking .slick-slide:nth-of-type(2) .slide {background-color:#0894fc;}
.slick-ranking .slick-slide:nth-of-type(3) .slide {background-color:#03b8e0;}

.slick-ranking .wrap-title {text-align:center;}
.slick-ranking .wrap-title > .ranking {margin:0; color:#fff238; font-weight:500; vertical-align:text-bottom; line-height:1.8;}
.slick-ranking .wrap-title > .ranking .num {font-size:22px; font-weight:800;}
.slick-ranking .wrap-title > span {color:#fff; font-size:16px; font-weight:700;}
.slick-ranking figure ~ .wrap-txt {margin-top:16px; color:#fff; font-size:16px;}
.slick-ranking figure ~ .wrap-txt > .tit {opacity:0.8; margin:0;}

.slick-ranking + .board-list {margin-top:40px;}
.board-list tr td > p {margin:0;}
.board-list tr td > .rank {margin-bottom:2px; color:#3870ff; font-size:14px; line-height:1.4;}
.board-list tr td > .wrap-txt {margin-top:8px; font-size:14px;}
.board-list tr td > .wrap-txt .tit {margin-right:8px; color:#999;}
.board-list tr td > .wrap-txt > .txt {display:block;}
.board-list tr td > .wrap-txt > .txt + .txt {margin-top:8px;}

/* 계약고객현황 */
.list-contract-custm,
.list-contract-custm > li,
.list-contract-custm > li > ul,
.list-contract-custm > li > ul > li {list-style-type:none; padding:0; margin:0;}
.list-contract-custm > li {min-height:136px; padding:20px 20px 24px; border-radius:20px; background-color:#fafafa;}
.list-contract-custm > li + li {margin-top:20px;}
.list-contract-custm .custm-logo {overflow:hidden;  height:32px; margin-bottom:10px;}
.list-contract-custm .custm-logo img {display:block; width:208px;}
.list-contract-custm .custm-logo > .txt {overflow:hidden; margin:0; font-weight:500; white-space:nowrap; text-overflow:ellipsis;}
.list-contract-custm .wrap-txt > .tit {margin:0 0 2px; color:#3870ff; font-size:14px;}
.list-contract-custm .wrap-txt > .txt {margin:0; color:#666;}


/* 개인정보처리방침 */
.terms {word-break:keep-all;}
.terms p {margin:0;}
.terms .txt {color:#666; font-size:16px;}
.list-privacy, .list-privacy > li, .list-privacy ol, .list-privacy ol > li {list-style-type:none; margin:0; padding:0;}

.terms > .list-privacy > li > .tit {margin:40px 0 16px;}
.terms > .list-privacy > li > .tit strong {font-size:20px; font-weight:500; line-height:1.6;}

.terms > .list-privacy > li .tit ~ .txt {margin-top:16px;}
.terms > .list-privacy > li > p + ol {margin-top:12px;}
.terms > .list-privacy ol li + li  {margin-top:16px;}
.terms > .list-privacy ol li  {font-size:16px;}
.terms > .list-privacy ol .tit ~ p  {margin-bottom:12px;}
.terms > .list-privacy ol .tit ~ p:last-child  {margin-bottom:0;}
.terms > .list-privacy .list-dash {margin-top:12px; margin-left:10px; font-size:16px;}
.terms > .list-privacy .list-dash li + li  {margin-top:6px;}
.terms > .list-privacy .list-dash li {padding-left:9px;}
.terms > .list-privacy .list-dash li:before {top:11px; width:3px;}