@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body::-webkit-scrollbar { 
    width: 16px; 
}

body::-webkit-scrollbar-track { 
    background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background-color: #4c3215;
}

body::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    width:16px;
    height:16px;
    background:#4c3215b4; 
} 

/* pc용 css */
.confix {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    max-width: 1320px;
}

/* ==================== header area ==================== */
.header {
    margin-bottom: 110px;
    border-bottom: 1px solid #4c321566;
}

/* === logoMenu === */
.logoMenu {
    padding: 40px 10px 10px;
    height: 160px;
}

/* headerLogo */
.logoMenu .headerLogo {
    z-index: 200;
    float: left;
    margin-right: 4.5%;
}

.logoMenu .headerLogo img {
    width: 90px;
}

/* menuBox */
.logoMenu .menuBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

/* mainMenu */
.logoMenu .mainMenu {
    width: 65%;
}

.logoMenu .mainMenu .gnb {
    display: flex;
    justify-content: space-between;
}

.logoMenu .mainMenu .gnb li {
    font-size: 1.65rem;
    font-weight: 600;
}

.logoMenu .mainMenu .gnb li a {
    position: relative;
    letter-spacing: 2px;
}

.logoMenu .mainMenu .gnb li a:hover {
    color: #4c3215a3;
}

.logoMenu .mainMenu .gnb li a::before, .logoMenu .mainMenu .gnb li a::after {
    display: block;
    content: '';
    width: 2px;
    height: 80%;
    opacity: 0;
    transition: 0.3s opacity;
    background-color: #4c3215;
}

/*************** 본인 걸로 변경해주세요 ***************/
/*************** 본인 걸로 변경해주세요 ***************/
.logoMenu .mainMenu .gnb li:nth-child(1) a::before, .logoMenu .mainMenu .gnb li:nth-child(1) a::after {
    opacity: 0.9;
}

.logoMenu .mainMenu .gnb li a::before {
    position: absolute;
    top: 50%;
    left: -9px;
    transform: translateY(-50%);
}

.logoMenu .mainMenu .gnb li a::after {
    position: absolute;
    top: 50%;
    right: -7px;
    transform: translateY(-50%);
}

.logoMenu .mainMenu .gnb li a:hover::before, .logoMenu .mainMenu .gnb li a:hover::after {
    opacity: 0.9;
} 

/* rightMenu */
.logoMenu .rightMenu ul {
    display: flex;
    font-size: 1.1rem;
}

.logoMenu .rightMenu ul li:nth-child(even) {
    border-left: 1px solid #4c3215;
    border-right: 1px solid #4c3215;
}

.logoMenu .rightMenu ul li a {
    padding: 0 7px;
}

.logoMenu .rightMenu ul li:first-child {
    padding-left: 0;
}

.logoMenu .rightMenu ul li:last-child {
    padding-right: 0;
}

.logoMenu .rightMenu ul li a:hover {
    font-weight: bold;
}

/* mobileMenuBtn (모바일 메뉴 버튼) */
.logoMenu .mobileMenuBtn {
    display: none;
}

/* === mobileSideMenu === */
.mobileSideMenu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 90;
    width: 100%;
    height: 100%;
    padding: 25px;
    font-size: 1.7rem;
    background-color: #f5f1ec;
}

/* mainMenuList */
.mobileSideMenu .mainMenuList {
    margin-top: 70px;
    margin-bottom: 60px;
}

.mobileSideMenu .mainMenuList li {
    margin: 0 auto;
    text-align: center;
}

.mobileSideMenu .mainMenuList li a {
    width: 100%;
    padding: 23px;
    border-bottom: 1px solid #4c321584;
    transition: 0.3s all;
}

.mobileSideMenu .mainMenuList>li:first-child>a {
    border-top: 1px solid #4c321584;
}

.mobileSideMenu .mainMenuList li a.on {
    color: white;
    background-color: #4c3215;
}

.mobileSideMenu .mainMenuList li a:hover {
    color: white;
    background-color: #4c3215c7;
}

.mobileSideMenu .mainMenuList li>a:hover span {
    color: white;
}

.mobileSideMenu .mainMenuList a>span {
    display: inline-block;
    position: absolute;
    right: 50px;
}

.mobileSideMenu .mainMenuList .sm {
    display: none;
}

.mobileSideMenu .mainMenuList .sm li a {
    text-align: left;
    font-size: 1.35rem;
    background-color: #c9b09463;
}

.mobileSideMenu .mainMenuList .sm li a:hover {
    background-color: #c9b094;
}

/* quickMenuList */
.mobileSideMenu .quickMenuList {
    text-align: center;
}

.mobileSideMenu .quickMenuList li {
    margin-bottom: 12px;
    padding: 4px 7px;
    font-size: 1.2rem;
}

.mobileSideMenu .quickMenuList li a:hover {
    font-weight: 600;
}

/* ==================== main area ==================== */
/* === contentMenuBox === */
.contentMenuBox {
    margin-bottom: 100px;
    width: 100%;
}

.contentMenuBox h2 {
    margin-bottom: 70px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 2.6rem;
    font-weight: bold;
    color: #4c3215;
}

/* contentMenuBar */
.contentMenuBox .contentMenuBar {
    display: flex;
    margin: 0 auto;
    width: 78%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #c9b094;
}

.contentMenuBar .cMenu {
    width: 100%;
    text-align: center;
    border-right: 1px solid #c9b094;
}

.contentMenuBar .cMenu:first-child a {
    font-weight: 600;
    color: #4c3215;
    background-color: #c9b094;
}

.contentMenuBar .cMenu:last-child {
    border-right: 0;
}

.contentMenuBar a {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #c9b094;
}

.contentMenuBar a:hover, .contentMenuBar a:hover {
    color: #4c3215;
    background-color: #c9b0949f;
}

/* menuSet */
.menuSet .menuCont {
    display: none;
}

.menuOn {
    width: 100%;
    font-weight: 600;
    color: #fff;
    background-color: #4c3215;
}


/* introduceFirst */
.introduceFirst {  
    display: flex;
    flex-direction: column;
    margin-bottom: 140px;
}

.introduceFirst article h2 {
    font-size: 0;
}

.intFiTxt {
    text-align: center;
    font-family: '나눔고딕';
    font-weight: 600;
    margin-bottom: 70px;
}

.intFiTxt h2 {  
    font-size: 4rem;
    color: #5d4934;
    margin-bottom: 60px;
}

.intFiTxt p {  
    font-size: 2rem;
    line-height: 30px;
}


.introduceFirst img {
    width: 100%;
    height: 100%;
}


/* introduceSecond */
.intSeContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin-bottom: 50px; */
}

.intSeTxt {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 60%;
    text-align: left;
    font-family: '나눔고딕';
    font-weight: 600;
    padding: 50px 0 50px 100px;
    z-index: 100;
    /* background-color: beige; */
}

.intSeTxt h2 {  
    font-size: 3.5rem;
    color: #5d4934;
    margin-bottom: 40px;
}

.intSeTxt p {  
    font-size: 2rem;
    line-height: 30px;
}

.introduceSecond img {  
    /* flex: 40%; */
    width: 475px;
    height: 630px;
}


/* introduceThird */
.introduceThird {  
    position: relative;
    top: -140px;
    margin-bottom: 50px;
    z-index: 1;
}

.intThContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* align-items: center; */
}

.introduceThird img { 
    /* flex: 100%; */
    width: 475px;
    height: 630px;
    /* margin-bottom: 20px; */
}

.intThTxt {
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* align-items: flex-end; */
    flex: 60%;
    text-align: right;
    font-family: '나눔고딕';
    font-weight: 600;
    padding: 50px 100px 50px 0;
    /* background-color: beige; */
}

.intThTxt h2 {  
    font-size: 3.5rem;
    color: #5d4934;
    margin-bottom: 40px;
}

.intThTxt p {  
    font-size: 2rem;
    line-height: 30px;
}


/* ==================== footer area ==================== */
.footer {
    display: flex;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 260px;
    background-color: #4c3215;
}

/* === footerArea === */
.footerArea {
    display: flex;
    align-items: center;
}

/* footerLogo */
.footerArea .footerLogo {
    margin-right: 75px;
}

.footerArea .footerLogo img {
    width: 120px;
    opacity: 0.8;
}

/*** footInfoSnsBox ***/
/* footInfoSnsBox a, p, address 공통 */
.footInfoSnsBox a, .footInfoSnsBox .companyName, .footInfoSnsBox p, .footInfoSnsBox address {
    color: white;
    line-height: 20px;
}

.footerArea .footInfoSnsBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* footMenu */
.footerArea .footMenu ul {
    display: flex;
    margin-bottom: 30px;
}

.footerArea .footMenu ul li {
    margin-right: 24px;
    font-size: 1.3rem;
}

.footerArea .footMenu ul li:last-child {
    margin-right: 0;
}

.footerArea .footMenu ul li a:hover {
    font-weight: bold;
}

/* footerInfoBox */
.footerArea .footerInfoBox {
    font-size: 1.1rem;
}

.footerArea .footerInfoBox address {
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footerArea .footerInfoBox .adr_mobile {
    display: none;
}

.footerArea .footerInfoBox .copyright {
    font-size: 1rem;
    line-height: 13px;
}

/* sns */
.footerArea .sns ul li {
    margin-bottom: 20px;
}

.footerArea .sns ul li:last-child {
    margin-bottom: 0;
}

.footerArea .sns a {
    opacity: 0.7;
}

.footerArea .sns a:hover {
    opacity: 0.85;
}

.footerArea .sns img {
    width: 26px;
}




/***** 태블릿용 CSS *****/
@media all and (max-width: 1319px) {
    .confix {
        width: 95%;
    }

    /* ==================== header area ==================== */
    /* logoMenu */
    .logoMenu .headerLogo img {
        width: 80px;
    }
    
    /* mainMenu */
    .logoMenu .mainMenu .gnb li {
        font-size: 1.4rem;
    }

    /* rightMenu */
    .logoMenu .rightMenu ul {
        font-size: 0.9rem;
    }

    /* ==================== main area ==================== */
    /* === contentMenuBox === */
    .contentMenuBox {
        margin-bottom: 8%;
    }

    .contentMenuBox .contentMenuBar {
        height: 40px;
        line-height: 40px;
    }

    .contentMenuBox h2 {
        font-size: 2.2rem;
    }

    .contentMenuBar a {
        font-size: 1.2rem;
    }


    /* introduceFirst */
    .introduceFirst {  
        margin-bottom: 80px;
    }

    .intFiTxt {
        margin-bottom: 40px;
    }

    .intFiTxt h2 {  
        font-size: 3rem;
        color: #5d4934;
        margin-bottom: 20px;
    }
    
    .intFiTxt p {  
        font-size: 1.5rem;
        line-height: 30px;
    }

    /* introduceSecond */
    .intSeContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    .intSeTxt {
        text-align: center;
        padding: 40px 0 0 0px;
        /* background-color: beige; */
    }

    .intSeTxt h2 {  
        font-size: 3rem;
        color: #5d4934;
        margin-bottom: 20px;
    }
    
    .intSeTxt p {  
        font-size: 1.5rem;
        line-height: 30px;
    }

    .introduceSecond img {  
        width: 500px;
        height: 600px;
        /* width: 100%;
        height: 100%; */
    }


    /* introduceThird */
    .introduceThird {  
        position: unset;
        /* margin-bottom: 50px; */
    }

    .intThContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intThTxt {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 40px 0 0 0;
        /* background-color: beige; */
    }

    .intThTxt h2 {  
        font-size: 3rem;
        margin-bottom: 20px;
    }
    
    .intThTxt p {  
        font-size: 1.5rem;
        line-height: 30px;
    }

    .introduceThird img { 
        width: 500px;
        height: 600px;
        /* width: 100%;
        height: 100%; */
    }


    /* ==================== footer area ==================== */
    .footer {
        position: relative;
        margin-top: 70px;
        justify-content: center;
        height: 210px;
    }

    #id {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 1rem;
    }

    /* === footerArea === */
    /* footerLogo */
    .footerArea .footerLogo {
        margin-right: 5%;
        margin-bottom: 10px;
    }

    .footerArea .footerLogo img {
        width: 80px;
    }

    /*** footInfoSnsBox ***/
    /* footInfoSnsBox a, p, address 공통 */
    .footInfoSnsBox a, .footInfoSnsBox .companyName, .footInfoSnsBox p, .footInfoSnsBox address {
        line-height: 20px;
    }
    
    .footerArea .footInfoSnsBox {
        flex-direction: column;
        align-items: baseline;
    }

    /* footMenu */
    .footerArea .footInfoSnsBox .footMenu {
        display: none;
    }

    /* footerInfoBox */
    .footerArea .footInfoSnsBox .footerInfoBox {
        font-size: 1.15rem;
        margin-bottom: 15px;
    }

    .footerArea .footerInfoBox .copyright {
        font-size: 1.05rem;
        line-height: 15px;
    }

    /* sns */
    .footerArea .sns ul {
        display: flex;
        justify-content: center;
    }

    .footerArea .sns ul li {
        display: flex;
        margin-bottom: 0;
        margin-right: 15px;
    }

    .footerArea .sns ul li:last-child {
        margin-right: 0;
    }

    .footerArea .sns img {
        width: 17px;
    }
}

/***** 모바일 CSS *****/
@media all and (max-width: 767px) {
    /* ==================== header area ==================== */
    .header {
        margin-bottom: 11%;
        /* background-color: blue; */
    }

    /* === logoMenu === */
    .logoMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px 0;
        height: 50px;
    }

    /* headerLogo */
    .headerLogo{
        height: 35px;
    }

    .logoMenu .headerLogo img {
        width: 35px;
    }

    /* menuBox */
    .logoMenu .menuBox {
        justify-content: space-between;
        width: 100%;
    }

    /* mainMenu, rightMenu 공통 */
    .logoMenu .mainMenu, .logoMenu .rightMenu {
        display: none;
    }

    /* mobileMenuBtn */
    .logoMenu .mobileMenuBtn {
        display: block;
        z-index: 100;
    }

    .mobileMenuBtn .hamburger-button {
        position: relative;
        transition: 0.3s ease-in-out;
        width: 20px;
        height: 16px;
        /* background-color: aqua; */
    }
    
    .mobileMenuBtn .hamburger-button span {
        position: absolute;
        top: 0;
        width: 100%;
        height: 2px;
        border-radius: 10px;
        background-color: #4c3215;
        transition: 0.4s;
    }
    
    .mobileMenuBtn .hamburger-button span:nth-child(1) {
        top: 0;
    }
    
    .mobileMenuBtn .hamburger-button span:nth-child(2),
    .mobileMenuBtn .hamburger-button span:nth-child(3) {
        top: 7px;
    }
    
    .mobileMenuBtn .hamburger-button span:nth-child(4) {
        top: 14px;
    }
    
    .mobileMenuBtn .hamburger-button.active span:nth-child(1),
    .mobileMenuBtn .hamburger-button.active  span:nth-child(4) {
        opacity: 0;
    }
    
    .mobileMenuBtn .hamburger-button.active  span:nth-child(2) {
        transform: rotate(45deg);
    }
    
    .mobileMenuBtn .hamburger-button.active  span:nth-child(3) {
        transform: rotate(-45deg);
    }

    /* ==================== main area ==================== */
    /* === contentMenuBox === */
    .contentMenuBox {
        margin-bottom: 70px;
        margin-bottom: 10%;
        width: 100%;
    }

    .contentMenuBox h2 {
        margin-bottom: 45px;
        margin-bottom: 6%;
        font-size: 1.8rem;
    }

    /* contentMenuBar */
    .contentMenuBox .contentMenuBar {
        width: 87%;
        height: 30px;
        line-height: 30px;
    }

    .contentMenuBox .contentMenuBar a {
        font-size: 1rem;
    }
    

    /* introduceFirst */
    .introduceFirst {  
        margin-bottom: 60px;
    }

    .intFiTxt {
        margin-bottom: 30px;
    }

    .intFiTxt h2 {  
        font-size: 1.8rem;
        color: #5d4934;
        margin-bottom: 20px;
    }
    
    .intFiTxt p {  
        font-size: 1.1rem;
        line-height: 20px;
    }

    /* introduceSecond */
    .intSeContent {
        margin-bottom: 50px;
    }
    
    .intSeTxt {
        padding: 20px 0 0 0;
        /* background-color: beige; */
    }

    .intSeTxt h2 {  
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    
    .intSeTxt p {  
        font-size: 1.1rem;
        line-height: 20px;
    }

    .introduceSecond img {  
        width: 280px;
        height: 380px;
    }

    /* introduceThird */
    .intThTxt {
        padding: 20px 0 0 0;
        /* background-color: beige; */
    }

    .intThTxt h2 {  
        font-size: 1.8rem;
        color: #5d4934;
        margin-bottom: 20px;
    }
    
    .intThTxt p {  
        font-size: 1.1rem;
        line-height: 20px;
    }

    .introduceThird img {
        width: 280px;
        height: 380px;
    }


    /* ==================== footer area ==================== */
    .footer {
        margin-top: 10%;
        justify-content: center;
        height: 190px;
    }

    /* === footerArea === */
    .footerArea {
        flex-direction: column;
    }

    /* footerLogo */
    .footerArea .footerLogo {
        margin-right: 0;
    }

    .footerArea .footerLogo img {
        width: 45px;
    }

    /*** footInfoSnsBox ***/
    /* footInfoSnsBox a, p, address 공통 */
    .footInfoSnsBox a, .footInfoSnsBox .companyName, .footInfoSnsBox p, .footInfoSnsBox address {
        line-height: 13px;
    }
    
    .footerArea .footInfoSnsBox {
        align-items: center;
        text-align: center;
    }

    /* footMenu */
    .footerArea .footInfoSnsBox .footMenu {
        display: none;
    }

    /* footerInfoBox */
    .footerArea .footInfoSnsBox .footerInfoBox {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    .footerArea .footInfoSnsBox .footerInfoBox .adr_pc {
        display: none;
    }

    .footerArea .footInfoSnsBox .footerInfoBox .adr_mobile {
        display: block;
    }

    .footerArea .footerInfoBox .copyright {
        font-size: 0.75rem;
        line-height: 10px;
    }

    /* sns */
    .footerArea .sns img {
        width: 13px;
    }
}


